{% load i18n teams_tags %}

<h1><img src="{{ STATIC_URL }}images/enterprise/header.png" alt="Amara enterprise"/></h1>

<div class="grid_2 alpha menu">
    <h3>{% trans 'Features & Benefits' %}</h3>
    <ul>
        <li>
            <a href="{% url enterprise_page %}"{% if current = 'index' %} class="current"{% endif %}>{% trans 'Amara Platform' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_global_reach %}"{% if current = 'global-reach' %} class="current"{% endif %}>{% trans 'Global Reach' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_quality_control %}"{% if current = 'quality-control' %} class="current"{% endif %}>{% trans 'Quality Control' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_automated_workflows %}"{% if current = 'automated-workflows' %} class="current"{% endif %}>{% trans 'Automated Workflows' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_subtitle_management %}"{% if current = 'subtitle-management' %} class="current"{% endif %}>{% trans 'Subtitle Management' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_advanced_security %}"{% if current = 'advanced-security' %} class="current"{% endif %}>{% trans 'Advanced Security' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_api_integration %}"{% if current = 'api-integration' %} class="current"{% endif %}>{% trans 'API Integration' %}</a>
        </li>
    </ul>

    <h3>{% trans 'Customers' %}</h3>
    <ul>    
        <li>
            <a href="{% url enterprise_companies %}"{% if current = 'companies' %} class="current"{% endif %}>{% trans 'Companies' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_universities %}"{% if current = 'universities' %} class="current"{% endif %}>{% trans 'Universities' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_publishers %}"{% if current = 'publishers' %} class="current"{% endif %}>{% trans 'Publishers' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_government %}"{% if current = 'government' %} class="current"{% endif %}>{% trans 'Government' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_film_tv %}"{% if current = 'film-tv' %} class="current"{% endif %}>{% trans 'Film and Television' %}</a>
        </li>
        <li>
            <a href="{% url enterprise_non_profits %}"{% if current = 'non-profits' %} class="current"{% endif %}>{% trans 'Non-Profits' %}</a>
        </li>
    </ul>
</div>