{% extends 'base.html' %}

{% load i18n teams_tags %}

{% block html_attrs %}id="enterprise"{% endblock %}

{% block main_content %}
    <div id="services" class="content container_12 clearfix">
    	<h1><img src="{{ STATIC_URL }}images/enterprise/header.png" alt="Amara enterprise"/></h1>

		<div class="grid_2 alpha menu">
		    <h3>{% trans 'Features & Benefits' %}</h3>
		    <ul>
		        <li>
		            <a href="{% url enterprise_page %}"{% if request.path_info = '/enterprise/' %} class="current"{% endif %}>{% trans 'Amara Platform' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_global_reach %}"{% if request.path_info = '/enterprise/global-reach/' %} class="current"{% endif %}>{% trans 'Global Reach' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_quality_control %}"{% if request.path_info = '/enterprise/quality-control/' %} class="current"{% endif %}>{% trans 'Quality Control' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_automated_workflows %}"{% if request.path_info = '/enterprise/automated-workflows/' %} class="current"{% endif %}>{% trans 'Automated Workflows' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_subtitle_management %}"{% if request.path_info = '/enterprise/subtitle-management/' %} class="current"{% endif %}>{% trans 'Subtitle Management' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_advanced_security %}"{% if request.path_info = '/enterprise/advanced-security/' %} class="current"{% endif %}>{% trans 'Advanced Security' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_api_integration %}"{% if request.path_info = '/enterprise/api-integration/' %} class="current"{% endif %}>{% trans 'API Integration' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_transcript_viewer %}"{% if request.path_info = '/enterprise/transcript-viewer/' %} class="current"{% endif %}>{% trans 'Transcript Viewer' %}</a>
		        </li>
		    </ul>

		    <h3>{% trans 'Customers' %}</h3>
		    <ul>    
		        <li>
		            <a href="{% url enterprise_film_tv %}"{% if request.path_info = '/enterprise/film-tv/' %} class="current"{% endif %}>{% trans 'Film and Television' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_education %}"{% if request.path_info = '/enterprise/education/' %} class="current"{% endif %}>{% trans 'Education' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_companies %}"{% if request.path_info = '/enterprise/companies/' %} class="current"{% endif %}>{% trans 'Companies' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_publishers %}"{% if request.path_info = '/enterprise/publishers/' %} class="current"{% endif %}>{% trans 'Publishers' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_government %}"{% if request.path_info = '/enterprise/government/' %} class="current"{% endif %}>{% trans 'Government' %}</a>
		        </li>
		        <li>
		            <a href="{% url enterprise_non_profits %}"{% if request.path_info = '/enterprise/non-profits/' %} class="current"{% endif %}>{% trans 'Non-Profits' %}</a>
		        </li>
		    </ul>
		</div>
        <div class="grid_10 omega view">
            {% block view_content %}{% endblock %}

            <div class="page-footer">
                <h3>{% trans 'Get started with Amara' %}</h3>
                <p>{% trans 'Be in touch at' %}<br /><a href="mailto:enterprise@amara.org">enterprise@amara.org</a></p>
            </div>
        </div>
    </div>
{% endblock %}