{% extends 'enterprise/base.html' %}

{% load i18n teams_tags %}

{% block view_content %}
    <h2>{% trans 'Government' %}</h2>
    <div class="screen">
        <a href="http://www.universalsubtitles.org/en/teams/world-humanitarian-day/">
            <img src="{{ STATIC_URL }}images/partners/un.png" alt="UN"/>
        </a>
    </div>
    <p>{% blocktrans %}
        In governments around the world, making video accessible is often a legal requirement, not an option.  Amara makes it much easier to coordinate captioning and translation efforts, so that every citizen gains access.
    {% endblocktrans %}</p>
{% endblock %}