{% extends 'enterprise/base.html' %}

{% load i18n teams_tags %}

{% block view_content %}
    <h2>{% trans 'Publishers' %}</h2>
    <a href="http://www.universalsubtitles.org/en/teams/ted/" title="TED team">
        <img src="{{ STATIC_URL }}images/partners/ted.png" alt="TED" class="screen"/>
    </a>
    <p>{% blocktrans %}
        Any organization that creates video can reach more people with subtitles, and Amara provides the most options and flexibility to caption and translate your videos. Many video publishers use Amara to create volunteer communities—engaging the people who watch their videos to caption and translate them for the world, ultimately reaching more viewers.
    {% endblocktrans %}</p>
{% endblock %}