{% extends 'enterprise/base.html' %}

{% load i18n teams_tags %}

{% block view_content %}
    <h2>{% trans 'Subtitle Management' %}</h2>
    <img src="{{ STATIC_URL }}images/enterprise/manage.png" alt="Subtitle interface" class="screen"/>
    <p>{% blocktrans %}
        At its core, Amara is the definitive platform for managing captions and subtitles. Whether you are creating, revising, or translating subtitles—you can choose to centralize the management—or divide up your content, and delegate responsibilities and control.
    {% endblocktrans %}</p> 

    <h3>{% trans 'Import' %}</h3>
    <p>{% blocktrans %}
        Your videos are never uploaded to our server (learn more about our Security Model), so you actually import pointers to existing video files—whether you’re hosting on your own server, YouTube, Vimeo, other video hosting service, or combination thereof. Import these video pointers via graphical interface or API, plus we can import a wide variety of subtitle and transcript formats in case you have pre-existing data.
    {% endblocktrans %}</p>

    <h3>{% trans 'Process > Author > QC' %}</h3>
    <p>{% blocktrans %}
        Flexible workflows make creating Global Content simple; your organization can harness the power of volunteers, private crowds, and/or professional service providers for content creation and Quality Control.
    {% endblocktrans %}</p>

    <h3>{% trans 'Deploy' %}</h3>
    <p>{% blocktrans %}
        Use the Amara API to bring completed subtitle data and metadata into your own backend or publishing platform.
    {% endblocktrans %}</p>
{% endblock %}