.feedback_tab {
    -moz-border-bottom-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    background: #327895 url(../images/feedback.png) 7px 12px no-repeat;
    height: 88px;
    position: fixed;
    right: 0;
    text-indent: -9999px;
    top: 150px;
    width: 27px;
}
#feedback_email {

}
#feedback_message {

}
#recaptcha_table {
    background: transparent
}
div.recaptcha-field #recaptcha_widget_div {
    margin: 0 auto;
    width: 318px;
}
#feedback_success #feedback_bg {
    padding: 10px
}
#feedback_success h3 {
    font-size: 25px;
    margin: 0 0 15px 0 !important;
    padding: 0 !important;
}
#feedback_success p {
    margin: 0 !important;
    padding: 5px !important;
}
#feedback_success a.red_button {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
}
#feedback_container, .modal-window-container {
    -moz-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
    font-size: 11px;
    padding: 2em 5px;
    width: auto;
}
#feedback_container > h2, .modal-window-container > h2 {
    margin: 0 25px
}
.form-container {
    clear: both;
    float: left;
    width: 100%;
}
.form-container .message {
    border-right: 1px solid #dce2e5;
    float: left;
    margin-left: -1px;
    padding: 0 25px;
    width: 400px;
}
.form-container .form {
    float: left;
    padding: 0 25px;
    width: 400px;
}
.form-container .form textarea {
    height: 5em;
    margin: 1em 0;
    padding: 4px;
    width: 100%;
}
.form-container h3 {
    padding-top: 1em
}
#feedback_container {
    border-radius: 9px;
    padding: 0;
    text-align: left !important;
    width: auto;
}
.feedback_bg, .modal-window-bg {
    -webkit-background-clip: padding-box;
    background: #FFF !important;
    border-radius: 7px;
}
#feedback_form {
    background: transparent !important;
    border-radius: 7px;
    clear: both;
    display: block !important;
    float: left;
    padding: 20px 0 20px 0;
    text-align: center;
}
#feedback_form .recaptcha-field {
    float: left;
    margin: 105px 10px 10px 30px;
    width: 315px;
}
#feedback_form a.btn_cancel {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #DDD;
    color: #555;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px 0 0 !important;
    padding: 10px 15px 10px 15px;
    position: relative;
    text-decoration: none;
    top: 0;
    width: 100px;
}
#feedback_form p.error_list {
    color: #ff0000;
    margin: -1px;
}
#feedback_form textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FFF !important;
    border: 1px #BBB solid !important;
    float: none !important;
    font-size: 14px;
    margin: 0 !important;
    padding: 10px;
    text-align: left !important;
    width: 400px !important;
}
#feedback_form button {
    display: block;
    float: left;
    margin: 0 !important;
    width: 150px;
}
#feedback_form label {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    text-align: left;
}
#feedback_form input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FFF !important;
    border: 1px #BBB solid !important;
    float: none !important;
    font-size: 14px;
    margin: 0 !important;
    padding: 10px;
    text-align: left !important;
    width: 400px !important;
}
#feedback_form h2 {
    margin-bottom: 15px
}
#feedback_form div {
    margin: 2px
}
#feedback_form p {
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
