#services {
    padding: 4em 0;
}

#services .alpha h3 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

#services .alpha ul {
    padding: 0;
    margin-bottom: 3em;
}

    #services .alpha ul li {
        padding: 0;
    }

        #services .alpha ul li a {
            display: block;
            padding: 1em 0;
            text-decoration: none;
            border-bottom: 1px solid #eaeaea;
            color: #555;
        }

        #services .alpha ul li a:hover {
            color: #1573AD;
        }

#services .omega li {
    display: none;
}

    #services .omega li:first-child {
        display: block;
    }

    #services .omega h3 {
        padding: 1em 0 1em;
    }

    #services .omega p {
        line-height: 175%;
        margin-bottom: 2em;
    }