/*************** @General Styles ***************/
/* line 25, ../sass/source/v1.scss */
.v1 {
  color: #2f3c45;
}

/* line 29, ../sass/source/v1.scss */
.v1 em {
  font-style: italic;
}

/* line 33, ../sass/source/v1.scss */
.v1 .logo {
  margin: 1em 0 2em;
}

/* line 37, ../sass/source/v1.scss */
.v1 .notation {
  font-size: .95em;
  color: #7692a3;
}

/* line 42, ../sass/source/v1.scss */
.v1 .button, .v1 .content button, .v1 .form-container button, .v1 .submit input {
  margin: 1em 0;
  padding: .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-size: inherit;
  background-color: #0f517a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0f517a));
  background-image: -webkit-linear-gradient(#136aa1, #0f517a);
  background-image: -moz-linear-gradient(#136aa1, #0f517a);
  background-image: -o-linear-gradient(#136aa1, #0f517a);
  background-image: -ms-linear-gradient(#136aa1, #0f517a);
  background-image: linear-gradient(#136aa1, #0f517a);
  border: 1px solid #0c4a70;
  text-shadow: 1px 1px 1px #0c4a70;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
/* line 56, ../sass/source/v1.scss */
.v1 .button:hover, .v1 .content button:hover, .v1 .form-container button:hover, .v1 .submit input:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0c4061));
  background-image: -webkit-linear-gradient(#136aa1, #0c4061);
  background-image: -moz-linear-gradient(#136aa1, #0c4061);
  background-image: -o-linear-gradient(#136aa1, #0c4061);
  background-image: -ms-linear-gradient(#136aa1, #0c4061);
  background-image: linear-gradient(#136aa1, #0c4061);
}
/* line 60, ../sass/source/v1.scss */
.v1 .button.primary, .v1 .content button.primary, .v1 .form-container button.primary, .v1 .submit input.primary {
  font-size: 1.25em;
  padding: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 66, ../sass/source/v1.scss */
.v1 .button.reduced, .v1 .button.cancel, .v1 .content button.reduced, .v1 .content button.cancel, .v1 .form-container button.reduced, .v1 .form-container button.cancel, .v1 .submit input.reduced, .v1 .submit input.cancel {
  border-color: #dce2e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#ffffff, #dce2e5);
  background-image: -moz-linear-gradient(#ffffff, #dce2e5);
  background-image: -o-linear-gradient(#ffffff, #dce2e5);
  background-image: -ms-linear-gradient(#ffffff, #dce2e5);
  background-image: linear-gradient(#ffffff, #dce2e5);
  text-shadow: none;
  color: #678ca3;
}
/* line 72, ../sass/source/v1.scss */
.v1 .button.reduced:hover, .v1 .button.cancel:hover, .v1 .content button.reduced:hover, .v1 .content button.cancel:hover, .v1 .form-container button.reduced:hover, .v1 .form-container button.cancel:hover, .v1 .submit input.reduced:hover, .v1 .submit input.cancel:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  border-color: #b7c3c9;
  color: #486f87;
}
/* line 79, ../sass/source/v1.scss */
.v1 .button.delete, .v1 .content button.delete, .v1 .form-container button.delete, .v1 .submit input.delete {
  float: left;
  margin: 0 .5em 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a11332), color-stop(100%, #7a0f26));
  background-image: -webkit-linear-gradient(#a11332, #7a0f26);
  background-image: -moz-linear-gradient(#a11332, #7a0f26);
  background-image: -o-linear-gradient(#a11332, #7a0f26);
  background-image: -ms-linear-gradient(#a11332, #7a0f26);
  background-image: linear-gradient(#a11332, #7a0f26);
  border-color: #700C22;
  text-shadow: 1px 1px 1px #700C22;
}
/* line 86, ../sass/source/v1.scss */
.v1 .button.delete:hover, .v1 .content button.delete:hover, .v1 .form-container button.delete:hover, .v1 .submit input.delete:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a11332), color-stop(100%, #610c1e));
  background-image: -webkit-linear-gradient(#a11332, #610c1e);
  background-image: -moz-linear-gradient(#a11332, #610c1e);
  background-image: -o-linear-gradient(#a11332, #610c1e);
  background-image: -ms-linear-gradient(#a11332, #610c1e);
  background-image: linear-gradient(#a11332, #610c1e);
}
/* line 91, ../sass/source/v1.scss */
.v1 .button.save, .v1 .content button.save, .v1 .form-container button.save, .v1 .submit input.save {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #69a113), color-stop(100%, #4f7a0f));
  background-image: -webkit-linear-gradient(#69a113, #4f7a0f);
  background-image: -moz-linear-gradient(#69a113, #4f7a0f);
  background-image: -o-linear-gradient(#69a113, #4f7a0f);
  background-image: -ms-linear-gradient(#69a113, #4f7a0f);
  background-image: linear-gradient(#69a113, #4f7a0f);
  border-color: #4F7A0F;
  text-shadow: 1px 1px 1px #4F7A0F;
}
/* line 96, ../sass/source/v1.scss */
.v1 .button.save:hover, .v1 .content button.save:hover, .v1 .form-container button.save:hover, .v1 .submit input.save:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #69a113), color-stop(100%, #476e0d));
  background-image: -webkit-linear-gradient(#69a113, #476e0d);
  background-image: -moz-linear-gradient(#69a113, #476e0d);
  background-image: -o-linear-gradient(#69a113, #476e0d);
  background-image: -ms-linear-gradient(#69a113, #476e0d);
  background-image: linear-gradient(#69a113, #476e0d);
}
/* line 101, ../sass/source/v1.scss */
.v1 .button.cancel, .v1 .content button.cancel, .v1 .form-container button.cancel, .v1 .submit input.cancel {
  float: left;
  margin: 0 .5em 0 0;
}

/* line 107, ../sass/source/v1.scss */
.v1 .controls .button {
  display: block;
}

/* line 111, ../sass/source/v1.scss */
.v1 .action-replacement {
  padding: 1em;
  margin: 1em 0 2em;
  background: #f3f6f8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #678ca3;
  text-align: center;
}

/* line 120, ../sass/source/v1.scss */
.v1 .team-banner {
  margin-bottom: 2em;
}

/* line 124, ../sass/source/v1.scss */
.v1 .view .empty {
  padding: 2em 1em;
  font-size: 18px;
  color: #678ca3;
}

/* line 131, ../sass/source/v1.scss */
.v1 .view > div, .v1 .view > form {
  padding-top: 2em;
}

/* line 136, ../sass/source/v1.scss */
.v1 ul .timestamp {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
  width: 150px;
  text-align: right;
  color: #7692a3;
}

/*************** @Tabs ***************/
/* line 150, ../sass/source/v1.scss */
.v1 .tabs {
  float: left;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #dce2e5;
}
/* line 156, ../sass/source/v1.scss */
.v1 .tabs li {
  display: inline;
}
/* line 159, ../sass/source/v1.scss */
.v1 .tabs li a {
  display: block;
  float: left;
  padding: 1em 2em;
  text-decoration: none;
  color: #678ca3;
  border-style: solid;
}
/* line 167, ../sass/source/v1.scss */
.v1 .tabs li a:hover {
  border-bottom-width: 2px;
  margin-bottom: -1px;
}
/* line 172, ../sass/source/v1.scss */
.v1 .tabs li.current a {
  color: #3e6782;
  font-weight: bold;
  border-bottom-width: 2px;
  margin-bottom: -1px;
}

/*************** @Tools ***************/
/* line 182, ../sass/source/v1.scss */
.v1 .view .tools {
  padding: 1em;
  margin: 0 -20px 0 0;
  border-bottom: 1px solid #e8ebed;
  font-size: 11px;
  text-align: right;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fafafa), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -moz-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -o-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -ms-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
}
/* line 194, ../sass/source/v1.scss */
.v1 .view .tools .button {
  background: transparent;
  border: 1px solid transparent;
  color: #7692a3;
  text-shadow: none;
  padding: .5em 1em;
}
/* line 201, ../sass/source/v1.scss */
.v1 .view .tools .button:hover {
  border-color: #b7c3c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  color: #486f87;
}
/* line 208, ../sass/source/v1.scss */
.v1 .view .tools form {
  padding: 0;
}
/* line 212, ../sass/source/v1.scss */
.v1 .view .tools .filters {
  float: left;
  padding: 0;
  margin: -0.5em 0 0 -0.5em;
}
/* line 217, ../sass/source/v1.scss */
.v1 .view .tools .filters > li {
  display: inline;
  padding: 0;
}
/* line 221, ../sass/source/v1.scss */
.v1 .view .tools .filters > li select {
  width: 140px;
}

/*************** @Listings ***************/
/* line 230, ../sass/source/v1.scss */
.v1 .listing {
  padding: 0;
}
/* line 233, ../sass/source/v1.scss */
.v1 .listing > li {
  position: relative;
  padding: 2em 1em;
  border-bottom: 1px dotted #b7c3c9;
}
/* line 238, ../sass/source/v1.scss */
.v1 .listing > li.empty {
  border: none;
}
/* line 242, ../sass/source/v1.scss */
.v1 .listing > li h3 {
  position: relative;
  font-size: 13px;
  padding-bottom: .25em;
  line-height: 1.5em;
}
/* line 248, ../sass/source/v1.scss */
.v1 .listing > li h3 > a {
  text-decoration: none;
  margin-right: .5em;
}
/* line 252, ../sass/source/v1.scss */
.v1 .listing > li h3 > a:hover {
  border-width: 0 0 1px 0;
  border-style: dotted;
}
/* line 259, ../sass/source/v1.scss */
.v1 .listing > li p {
  margin: .5em 0;
}
/* line 263, ../sass/source/v1.scss */
.v1 .listing > li .thumb {
  position: absolute;
  top: 2em;
  left: 0;
}
/* line 267, ../sass/source/v1.scss */
.v1 .listing > li .thumb img {
  border: 1px solid #b7c3c9;
}
/* line 272, ../sass/source/v1.scss */
.v1 .listing > li .actions {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
}
/* line 275, ../sass/source/v1.scss */
.v1 .listing > li .actions li {
  padding: 0;
  text-align: right;
  color: #a0b2bd;
}
/* line 281, ../sass/source/v1.scss */
.v1 .listing > li .actions a {
  color: #486f87;
  text-decoration: none;
}
/* line 286, ../sass/source/v1.scss */
.v1 .listing > li .actions li > form {
  padding: 0;
}
/* line 290, ../sass/source/v1.scss */
.v1 .listing > li .actions li > a, .v1 .listing > li .actions li > form a {
  display: block;
  padding: .5em 0;
}
/* line 294, ../sass/source/v1.scss */
.v1 .listing > li .actions li > a:after, .v1 .listing > li .actions li > form a:after {
  content: ' →';
}
/* line 299, ../sass/source/v1.scss */
.v1 .listing > li .actions .assignee-choice {
  position: absolute;
  top: o;
  right: 0;
  padding: 1em;
  background: #486f87;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 309, ../sass/source/v1.scss */
.v1 .listing > li .descriptor {
  font-size: 11px;
  font-weight: normal;
  padding: 1px 3px;
  background: #f3f6f8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dce2e5;
  color: #7692a3;
}
/* line 318, ../sass/source/v1.scss */
.v1 .listing > li .descriptor a, .v1 .listing > li .descriptor a:hover {
  border: none;
  text-decoration: none;
  color: #7692a3;
}
/* line 325, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls {
  display: none;
  position: absolute;
  bottom: 1em;
  right: 0;
  float: left;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  border: 1px solid #a0b2bd;
}
/* line 336, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls.selected {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 341, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls li {
  display: block;
  float: left;
  padding: 0;
}
/* line 346, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls li a {
  display: block;
  float: left;
  padding: 5px 7px;
  text-decoration: none;
  color: #678ca3;
  border-left: 1px solid #a0b2bd;
  cursor: pointer;
}
/* line 355, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls li a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #b7c3c9));
  background-image: -webkit-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -moz-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -o-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -ms-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: linear-gradient(#f3f6f8, #b7c3c9);
  color: #486f87;
}
/* line 361, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls li:first-child a {
  border-left: none;
}
/* line 365, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls li input[type="checkbox"] {
  margin: 5px 7px;
}
/* line 370, ../sass/source/v1.scss */
.v1 .listing > li .admin-controls:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 375, ../sass/source/v1.scss */
.v1 .listing > li:hover .admin-controls {
  display: block;
}

/* line 381, ../sass/source/v1.scss */
.v1 .listing.videos > li {
  min-height: 5em;
  padding-left: 120px;
  padding-right: 150px;
}
/* line 386, ../sass/source/v1.scss */
.v1 .listing.videos > li .thumb {
  width: 100px;
  height: 60px;
}
/* line 390, ../sass/source/v1.scss */
.v1 .listing.videos > li .thumb img {
  height: 60px;
}

/* line 396, ../sass/source/v1.scss */
.v1 .listing.members > li, .v1 .listing.messages > li {
  min-height: 4em;
  padding-left: 65px;
  padding-right: 150px;
}
/* line 401, ../sass/source/v1.scss */
.v1 .listing.members > li .thumb, .v1 .listing.messages > li .thumb {
  width: 45px;
  height: 45px;
}
/* line 405, ../sass/source/v1.scss */
.v1 .listing.members > li .thumb img, .v1 .listing.messages > li .thumb img {
  height: 45px;
}
/* line 410, ../sass/source/v1.scss */
.v1 .listing.members > li.current, .v1 .listing.messages > li.current {
  background: #f6f6e4;
}

/* line 415, ../sass/source/v1.scss */
.v1 .listing.activity > li, .v1 .listing.tasks > li {
  padding-right: 150px;
}
/* line 418, ../sass/source/v1.scss */
.v1 .listing.activity > li .actions, .v1 .listing.tasks > li .actions {
  width: 150px;
}

/* line 425, ../sass/source/v1.scss */
.v1 .listing.tasks > li .done span {
  margin-right: .5em;
}

/* line 430, ../sass/source/v1.scss */
.v1 .listing.teams > li {
  min-height: 4em;
  padding-left: 68px;
  padding-right: 150px;
}
/* line 435, ../sass/source/v1.scss */
.v1 .listing.teams > li .thumb img {
  height: 48px;
}

/* line 440, ../sass/source/v1.scss */
.v1 .view .pagination {
  float: none;
  padding: 1em 1em 0;
}
/* line 444, ../sass/source/v1.scss */
.v1 .view .pagination em {
  box-shadow: none;
  font-style: normal;
  color: #a0b2bd;
  background: transparent;
}
/* line 451, ../sass/source/v1.scss */
.v1 .view .pagination a {
  color: #678ca3;
}
/* line 454, ../sass/source/v1.scss */
.v1 .view .pagination a:hover {
  box-shadow: none;
  background: #b7c3c9;
  color: #fff;
}
/* line 461, ../sass/source/v1.scss */
.v1 .view .pagination .disabled {
  color: #a0b2bd;
}

/*************** @Controls ***************/
/* line 468, ../sass/source/v1.scss */
.v1 .controls {
  width: 199px;
  padding-left: 15px;
  padding-bottom: 4em;
  border-left: 1px solid #dce2e5;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5f5f5), color-stop(5%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -moz-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -o-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -ms-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
}
/* line 480, ../sass/source/v1.scss */
.v1 .controls ul {
  padding: 0;
  margin: 2em 0;
}
/* line 484, ../sass/source/v1.scss */
.v1 .controls ul.secondary {
  margin-top: 0;
}
/* line 488, ../sass/source/v1.scss */
.v1 .controls ul li {
  padding: 0;
}
/* line 492, ../sass/source/v1.scss */
.v1 .controls ul li a {
  position: relative;
  display: block;
  padding: .75em 0 .75em 15px;
  margin-left: -15px;
  margin-bottom: .5em;
  text-decoration: none;
  color: #678ca3;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 502, ../sass/source/v1.scss */
.v1 .controls ul li a:hover {
  background-color: #f9fafb;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e8ecee), color-stop(5%, #f3f6f6), color-stop(100%, #f3f6f6));
  background-image: -webkit-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -moz-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -o-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -ms-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
}
/* line 511, ../sass/source/v1.scss */
.v1 .controls ul li a span {
  position: absolute;
  top: .75em;
  right: .75em;
  color: #a0b2bd;
}
/* line 518, ../sass/source/v1.scss */
.v1 .controls ul li.current a {
  background-color: #edf1f2;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2e8e9), color-stop(5%, #edf1f2), color-stop(100%, #edf1f2));
  background-image: -webkit-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -moz-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -o-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -ms-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  color: #486f87;
}
/* line 527, ../sass/source/v1.scss */
.v1 .controls ul li.current a:hover {
  background-color: #e8ecee;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dce3e5), color-stop(5%, #e8ecee), color-stop(100%, #e8ecee));
  background-image: -webkit-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -moz-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -o-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -ms-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
}
/* line 536, ../sass/source/v1.scss */
.v1 .controls ul li.current a span {
  color: #7692a3;
}
/* line 542, ../sass/source/v1.scss */
.v1 .controls .refine {
  margin: 2em 0;
  padding: 1.5em 15px;
  margin-left: -15px;
  border-top: 1px solid #f3f6f8;
  border-bottom: 1px solid #f3f6f8;
}
/* line 549, ../sass/source/v1.scss */
.v1 .controls .refine form {
  padding: 0 0 1em;
}
/* line 553, ../sass/source/v1.scss */
.v1 .controls .refine select {
  width: 100%;
}
/* line 558, ../sass/source/v1.scss */
.v1 .controls h4 {
  color: #7692a3;
  padding-bottom: 1em;
}
/* line 563, ../sass/source/v1.scss */
.v1 .controls form {
  padding: 0;
}
/* line 566, ../sass/source/v1.scss */
.v1 .controls form.search {
  padding: 1em 0;
}

/*************** @Forms ***************/
/* line 579, ../sass/source/v1.scss */
.v1 form {
  padding: 1em 0;
}
/* line 582, ../sass/source/v1.scss */
.v1 form fieldset {
  padding-bottom: 3em;
}
/* line 585, ../sass/source/v1.scss */
.v1 form fieldset legend {
  font-weight: bold;
  padding-bottom: .5em;
}
/* line 590, ../sass/source/v1.scss */
.v1 form fieldset input, .v1 form fieldset textarea {
  margin-bottom: .5em;
  padding: 4px;
}
/* line 595, ../sass/source/v1.scss */
.v1 form fieldset label {
  display: block;
  width: 100%;
  padding: 1.5em 0 .25em;
}
/* line 599, ../sass/source/v1.scss */
.v1 form fieldset label .notation {
  float: right;
  margin-right: -8px;
}
/* line 605, ../sass/source/v1.scss */
.v1 form fieldset input[type="text"], .v1 form fieldset input[type="password"], .v1 form fieldset textarea {
  display: block;
  width: 100%;
  border: 1px solid #b7c3c9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 611, ../sass/source/v1.scss */
.v1 form fieldset input[type='checkbox'] {
  margin: 0 4px 0 0;
}
/* line 615, ../sass/source/v1.scss */
.v1 form fieldset input[type='file'] {
  display: block;
  width: 100%;
  padding: 0;
}
/* line 620, ../sass/source/v1.scss */
.v1 form fieldset select {
  margin-bottom: .5em;
  padding: 4px;
  width: 100%;
}
/* line 626, ../sass/source/v1.scss */
.v1 form fieldset textarea {
  height: 5em;
}
/* line 631, ../sass/source/v1.scss */
.v1 form .preselected {
  padding: 1em;
  margin: .5em 0;
  background: #dce2e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 640, ../sass/source/v1.scss */
.v1 .panel-holder form {
  float: left;
  width: 100%;
  clear: both;
}

/* line 646, ../sass/source/v1.scss */
.v1 .panel-holder .tools form {
  float: none;
}

/* line 650, ../sass/source/v1.scss */
.v1 form.workflow {
  margin-top: -3em;
}
/* line 653, ../sass/source/v1.scss */
.v1 form.workflow fieldset {
  padding: 0 1em;
  background: #dce2e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 658, ../sass/source/v1.scss */
.v1 form.workflow fieldset .button {
  margin-top: 2em;
}

/* line 664, ../sass/source/v1.scss */
.v1 .permissions .workflow {
  margin-top: -2em;
  padding: 0 1em;
  background: #dce2e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 670, ../sass/source/v1.scss */
.v1 .permissions .workflow fieldset {
  padding: 0;
}
/* line 673, ../sass/source/v1.scss */
.v1 .permissions .workflow fieldset .button {
  float: right;
}

/* line 679, ../sass/source/v1.scss */
.v1 .alpha .omega {
  margin-left: 60px;
}

/* line 683, ../sass/source/v1.scss */
#dashboard .alpha .omega {
  margin-left: 10px;
}

/* line 687, ../sass/source/v1.scss */
.v1 div.submit {
  clear: both;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #dce2e5;
  text-align: right;
}
/* line 694, ../sass/source/v1.scss */
.v1 div.submit form {
  padding: 0;
}
/* line 698, ../sass/source/v1.scss */
.v1 div.submit button, .v1 div.submit input {
  margin: 0;
}

/* line 707, ../sass/source/v1.scss */
.v1 .controls form.search fieldset {
  padding: 0;
}
/* line 710, ../sass/source/v1.scss */
.v1 .controls form.search fieldset input {
  width: 180px;
  padding: .5em;
  color: #a0b2bd;
  border-color: #dce2e5;
}
/* line 716, ../sass/source/v1.scss */
.v1 .controls form.search fieldset input:focus {
  border-color: #678ca3;
}

/*************** @Dashboard ***************/
/* line 727, ../sass/source/v1.scss */
#dashboard .featured {
  padding: 0;
}
/* line 730, ../sass/source/v1.scss */
#dashboard .featured li {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #f3f6f8;
  padding: 1em;
  margin: .5em 0;
}
/* line 738, ../sass/source/v1.scss */
#dashboard .listing {
  margin-bottom: 2em;
}
/* line 741, ../sass/source/v1.scss */
#dashboard .listing li {
  padding: 1em 150px 1em 0;
}
/* line 745, ../sass/source/v1.scss */
#dashboard .listing .timestamp {
  top: 1em;
}

/* line 751, ../sass/source/v1.scss */
.v1 .only-child h2 {
  padding: .5em 0;
  margin-bottom: 0;
  border-bottom: 1px solid #dce2e5;
}

/*************** @Profile ***************/
/* line 759, ../sass/source/v1.scss */
#profile.v1 h2, #dashboard.v1 h2 {
  line-height: 1.75em;
}
/* line 762, ../sass/source/v1.scss */
#profile.v1 h2 img, #dashboard.v1 h2 img {
  float: left;
  padding: 2px;
  margin-right: .5em;
  border: 1px solid #dce2e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  height: 32px;
}

/* line 774, ../sass/source/v1.scss */
#profile.v1 .view .alpha img {
  padding: .5em;
  border: 1px solid #dce2e5;
}

/* line 781, ../sass/source/v1.scss */
.v1 .view .grid_4 p, .v1 .view .grid_4 ul {
  margin-bottom: 2em;
}
/* line 785, ../sass/source/v1.scss */
.v1 .view .grid_4 ul {
  padding: 0;
}

/*************** @Overrides ***************/
/* line 793, ../sass/source/v1.scss */
.v1 .sort_button {
  float: none;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  width: 170px;
  border-color: #dce2e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
}
/* line 805, ../sass/source/v1.scss */
.v1 .sort_button .sort_label {
  font-size: 11px;
  padding: .5em;
  font-weight: normal !important;
  text-shadow: 0 1px 0px #fff;
  display: block;
  color: #678ca3;
}
/* line 813, ../sass/source/v1.scss */
.v1 .sort_button .sort_label:hover {
  background: transparent;
}
/* line 818, ../sass/source/v1.scss */
.v1 .sort_button ul {
  margin: 0;
  padding: .5em 0 0;
}
/* line 823, ../sass/source/v1.scss */
.v1 .sort_button ul li a {
  padding: .5em;
  display: block;
  text-decoration: none;
  border-top: 1px solid #dce2e5;
  border-bottom: none;
  font-size: 11px;
  font-weight: normal;
  text-shadow: none;
  color: #678ca3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 836, ../sass/source/v1.scss */
.v1 .sort_button ul li a:hover {
  background: #678ca3;
  color: #fff;
}
/* line 841, ../sass/source/v1.scss */
.v1 .sort_button .arrow {
  width: 20px;
  height: 24px;
  background: url("chosen-sprite.png") no-repeat 0 1px;
}
/* line 847, ../sass/source/v1.scss */
.v1 .sort_button:hover {
  background: transparent;
}
/* line 850, ../sass/source/v1.scss */
.v1 .sort_button:hover .sort_label {
  z-index: 999999999;
}
/* line 854, ../sass/source/v1.scss */
.v1 .sort_button:hover ul {
  top: 21px;
  left: -1px;
  border-color: #dce2e5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f6f8));
  background-image: -webkit-linear-gradient(#ffffff, #f3f6f8);
  background-image: -moz-linear-gradient(#ffffff, #f3f6f8);
  background-image: -o-linear-gradient(#ffffff, #f3f6f8);
  background-image: -ms-linear-gradient(#ffffff, #f3f6f8);
  background-image: linear-gradient(#ffffff, #f3f6f8);
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 863, ../sass/source/v1.scss */
.v1 .sort_button:hover .arrow {
  background: url("chosen-sprite.png") no-repeat 0 1px;
}
