/* General styles */
body {
  overflow-y: scroll;
}

.group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.v1 {
  color: #2f3c45;
}
.v1 em {
  font-style: italic;
}

.v1 .bootstrap div.modal {
  display: none;
}
.v1 .bootstrap div.modal div.plain-text {
  margin-bottom: 0;
}
.v1 .bootstrap div.modal div.plain-text label {
  padding-top: 0;
}

.v1 .notation {
  color: #7692a3;
  font-size: .95em;
}

.v1 .view .grid_4 p.notation {
  float: none;
  margin: 0 0 1em;
}

.v1 .button, .v1 .content button, .v1 .form-container button, .v1 .submit input {
  background-color: #0f517a;
  border: 1px solid #0c4a70;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  margin: 1em 0;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #0c4a70;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
  background: #136aa1;
  background-image: -moz-gradient(center top, #136aa1 0%, #0f517a 100%);
  background-image: -moz-linear-gradient(center top, #136aa1 0%, #0f517a 100%);
  background-image: -ms-linear-gradient(#136aa1, #0f517a);
  background-image: -o-linear-gradient(#136aa1, #0f517a);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#136aa1), to(#0f517a));
  background-image: -webkit-linear-gradient(#136aa1, #0f517a);
  background-image: linear-gradient(#136aa1, #0f517a);
}
.v1 .button:hover, .v1 .content button:hover, .v1 .form-container button:hover, .v1 .submit input:hover {
  background: #136aa1;
  background-image: -moz-gradient(center top, #136aa1 0%, #0c4061 100%);
  background-image: -moz-linear-gradient(center top, #136aa1 0%, #0c4061 100%);
  background-image: -ms-linear-gradient(#136aa1, #0c4061);
  background-image: -o-linear-gradient(#136aa1, #0c4061);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#136aa1), to(#0c4061));
  background-image: -webkit-linear-gradient(#136aa1, #0c4061);
  background-image: linear-gradient(#136aa1, #0c4061);
}
.v1 .button.primary, .v1 .content button.primary, .v1 .form-container button.primary, .v1 .submit input.primary {
  font-size: 1.25em;
  padding: 1em;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  border-radius: 4px;
}
.v1 .button.reduced, .v1 .button.cancel, .v1 .content button.reduced, .v1 .content button.cancel, .v1 .form-container button.reduced, .v1 .form-container button.cancel, .v1 .submit input.reduced, .v1 .submit input.cancel {
  border-color: #dce2e5;
  color: #678ca3;
  text-shadow: none;
  background: white;
  background-image: -moz-gradient(center top, white 0%, #dce2e5 100%);
  background-image: -moz-linear-gradient(center top, white 0%, #dce2e5 100%);
  background-image: -ms-linear-gradient(white, #dce2e5);
  background-image: -o-linear-gradient(white, #dce2e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#dce2e5));
  background-image: -webkit-linear-gradient(white, #dce2e5);
  background-image: linear-gradient(white, #dce2e5);
}
.v1 .button.reduced:hover, .v1 .button.cancel:hover, .v1 .content button.reduced:hover, .v1 .content button.cancel:hover, .v1 .form-container button.reduced:hover, .v1 .form-container button.cancel:hover, .v1 .submit input.reduced:hover, .v1 .submit input.cancel:hover {
  border-color: #b7c3c9;
  color: #486f87;
  background: #f3f6f8;
  background-image: -moz-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -moz-linear-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f6f8), to(#dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
}
.v1 .button.delete, .v1 .content button.delete, .v1 .form-container button.delete, .v1 .submit input.delete {
  border-color: #700C22;
  float: left;
  margin: 0 .5em 0 0;
  text-shadow: 1px 1px 1px #700C22;
  background: #a11332;
  background-image: -moz-gradient(center top, #a11332 0%, #7a0f26 100%);
  background-image: -moz-linear-gradient(center top, #a11332 0%, #7a0f26 100%);
  background-image: -ms-linear-gradient(#a11332, #7a0f26);
  background-image: -o-linear-gradient(#a11332, #7a0f26);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a11332), to(#7a0f26));
  background-image: -webkit-linear-gradient(#a11332, #7a0f26);
  background-image: linear-gradient(#a11332, #7a0f26);
}
.v1 .button.delete:hover, .v1 .content button.delete:hover, .v1 .form-container button.delete:hover, .v1 .submit input.delete:hover {
  background: #a11332;
  background-image: -moz-gradient(center top, #a11332 0%, #610c1e 100%);
  background-image: -moz-linear-gradient(center top, #a11332 0%, #610c1e 100%);
  background-image: -ms-linear-gradient(#a11332, #610c1e);
  background-image: -o-linear-gradient(#a11332, #610c1e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a11332), to(#610c1e));
  background-image: -webkit-linear-gradient(#a11332, #610c1e);
  background-image: linear-gradient(#a11332, #610c1e);
}
.v1 .button.save, .v1 .content button.save, .v1 .form-container button.save, .v1 .submit input.save {
  border-color: #4F7A0F;
  text-shadow: 1px 1px 1px #4F7A0F;
  background: #69a113;
  background-image: -moz-gradient(center top, #69a113 0%, #4f7a0f 100%);
  background-image: -moz-linear-gradient(center top, #69a113 0%, #4f7a0f 100%);
  background-image: -ms-linear-gradient(#69a113, #4f7a0f);
  background-image: -o-linear-gradient(#69a113, #4f7a0f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69a113), to(#4f7a0f));
  background-image: -webkit-linear-gradient(#69a113, #4f7a0f);
  background-image: linear-gradient(#69a113, #4f7a0f);
}
.v1 .button.save:hover, .v1 .content button.save:hover, .v1 .form-container button.save:hover, .v1 .submit input.save:hover {
  background: #69a113;
  background-image: -moz-gradient(center top, #69a113 0%, #476e0d 100%);
  background-image: -moz-linear-gradient(center top, #69a113 0%, #476e0d 100%);
  background-image: -ms-linear-gradient(#69a113, #476e0d);
  background-image: -o-linear-gradient(#69a113, #476e0d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69a113), to(#476e0d));
  background-image: -webkit-linear-gradient(#69a113, #476e0d);
  background-image: linear-gradient(#69a113, #476e0d);
}
.v1 .button.cancel, .v1 .content button.cancel, .v1 .form-container button.cancel, .v1 .submit input.cancel {
  float: left;
  margin: 0 .5em 0 0;
}

.v1 .controls .button {
  display: block;
}

.v1 .action-replacement {
  background: #f3f6f8;
  border: 1px solid #dce2e5;
  color: #678ca3;
  margin: 2em 0 1em;
  padding: 1.5em;
  text-align: center;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  border-radius: 4px;
}

.v1 .team-banner {
  margin-bottom: 2em;
}

.v1 .view .empty {
  clear: both;
  color: #678ca3;
  font-size: 18px;
  padding: 2em 1em;
}

.v1 .view .action-call {
  background-color: #dce2e5;
  clear: both;
  font-size: 1.25em;
  padding: 1em;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}

.v1 .view > div, .v1 .view > form {
  padding-top: 2em;
}

.v1 ul .timestamp {
  color: #7692a3;
  text-align: right;
  width: 150px;
  padding: 0;
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
}

div.hidden {
  display: none;
}

ul.list-collapsible li.hidden {
  display: none;
}
ul.list-collapsible li.expand span.less {
  display: none;
}
ul.list-collapsible.expanded li.hidden {
  display: block;
}

/* Tabs */
.show-border {
  border-bottom-width: 2px;
  margin-bottom: -1px;
}

.v1 .tabs {
  border-bottom: 1px solid #dce2e5;
  float: left;
  padding: 0 10px 0 0;
  width: 100%;
}
.v1 .tabs li {
  display: inline;
}
.v1 .tabs li a {
  border-right: 1px solid #dce2e5;
  border-top: 1px solid #dce2e5;
  color: #678ca3;
  display: block;
  float: left;
  font-size: 13px;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  background-image: -moz-linear-gradient(bottom, #f0f0f0, #fafafa 15%, #fafafa);
  background-image: -ms-linear-gradient(bottom, #f0f0f0, #fafafa 15%, #fafafa);
  background-image: -o-linear-gradient(bottom, #f0f0f0, #fafafa 15%, #fafafa);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0, #fafafa 15%, #fafafa);
  background-image: linear-gradient(bottom, #f0f0f0, #fafafa 15%, #fafafa);
}
.v1 .tabs li a:hover {
  background-image: -moz-linear-gradient(bottom, #e8e8e8, #f2f2f2 15%, #f2f2f2);
  background-image: -ms-linear-gradient(bottom, #e8e8e8, #f2f2f2 15%, #f2f2f2);
  background-image: -o-linear-gradient(bottom, #e8e8e8, #f2f2f2 15%, #f2f2f2);
  background-image: -webkit-linear-gradient(bottom, #e8e8e8, #f2f2f2 15%, #f2f2f2);
  background-image: linear-gradient(bottom, #e8e8e8, #f2f2f2 15%, #f2f2f2);
}
.v1 .tabs li.current a {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: inherit;
  margin-bottom: -1px;
}
.v1 .tabs li:last-child a {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.v1 .tabs li:first-child a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-left: 1px solid #dce2e5;
  border-top-left-radius: 3px;
}

.v1 .view .tabs {
  margin: 0 -10px;
}
.v1 .view .tabs li.hascount a {
  padding-right: 2em;
}
.v1 .view .tabs li.hascount a span {
  color: #a0b2bd;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  right: .75em;
  top: .75em;
}
.v1 .view .tabs li:first-child a {
  border-left: none;
  -moz-background-clip: padding-box;
  -moz-border-radius: 0;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 0;
  background-clip: padding-box;
  border-radius: 0;
}

/* Tools */
.v1 .view .tools {
  border-bottom: 1px solid #e8ebed;
  clear: both;
  margin: 0 0 0 -10px;
  min-height: 18px;
  padding: 1em 0 1em 1em;
  position: relative;
  text-align: right;
  background-image: -moz-linear-gradient(bottom, #fafafa, white 25%, white);
  background-image: -ms-linear-gradient(bottom, #fafafa, white 25%, white);
  background-image: -o-linear-gradient(bottom, #fafafa, white 25%, white);
  background-image: -webkit-linear-gradient(bottom, #fafafa, white 25%, white);
  background-image: linear-gradient(bottom, #fafafa, white 25%, white);
}
.v1 .view .tools .button, .v1 .view .tools button {
  background: transparent;
  border: 1px solid transparent;
  color: #7692a3;
  float: right;
  margin: -0.5em 0 0;
  padding: .5em 1em;
  text-shadow: none;
}
.v1 .view .tools .button:hover, .v1 .view .tools button:hover {
  border-color: #b7c3c9;
  color: #486f87;
  background: #f3f6f8;
  background-image: -moz-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -moz-linear-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f6f8), to(#dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
}
.v1 .view .tools h2 {
  color: inherit;
  display: inline;
  font-size: inherit;
  left: 1em;
  position: absolute;
  top: 1em;
}
.v1 .view .tools form {
  padding: 0;
}
.v1 .view .tools .filters {
  float: left;
  margin: -0.5em 0 0 -0.5em;
  padding: 0;
}
.v1 .view .tools .filters > li {
  display: inline;
  padding: 0;
}
.v1 .view .tools .filters > li select {
  width: 140px;
}
.v1 .view .tools .sort_button {
  float: right;
  margin: -0.5em 0.5em 0 0;
}
.v1 .view .tools form.search {
  margin: 0;
  padding: 0;
  position: absolute;
  top: .5em;
  left: .65em;
  width: 160px;
}
.v1 .view .tools form.search fieldset {
  padding: 0;
}
.v1 .view .tools form.search fieldset input {
  border-color: #dce2e5;
  float: left;
}
.v1 .view .tools form.search fieldset input:focus {
  border-color: #678ca3;
}
.v1 .view .tools form.search fieldset a.reset {
  color: #7692a3;
  display: block;
  line-height: 1.5em;
  padding: .5em;
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 152px;
}

/* Listings */
.v1 .view p.view-notice {
  background-color: #f3f6f8;
  clear: both;
  margin: 1.2em 1em 0 4px;
  padding: 1em;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}
.v1 .view p.view-notice a.clear-filters {
  float: right;
}

.v1 .listing {
  clear: both;
  padding: 0;
}
.v1 .listing > li {
  border-bottom: 1px dotted #b7c3c9;
  padding: 2em 1em;
  position: relative;
}
.v1 .listing > li.empty {
  border: none;
}
.v1 .listing > li h3 {
  font-size: 13px;
  line-height: 1.5em;
  padding-bottom: .25em;
  position: relative;
}
.v1 .listing > li h3 > a {
  text-decoration: none;
}
.v1 .listing > li h3 > a:hover {
  border-style: dotted;
  border-width: 0 0 1px 0;
}
.v1 .listing > li p {
  margin: .5em 0;
}
.v1 .listing > li .thumb {
  position: absolute;
  top: 2em;
  left: 0;
}
.v1 .listing > li .thumb a {
  display: inline-block;
  max-height: 229px;
  overflow: hidden;
}
.v1 .listing > li .thumb a img {
  border: 1px solid #b7c3c9;
}
.v1 .listing > li span.timestamp span.unread {
  color: #126295;
  font-weight: bold;
  margin-right: 8px;
}
.v1 .listing > li .actions {
  padding: 0;
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
}
.v1 .listing > li .actions li {
  color: #a0b2bd;
  padding: 0;
  text-align: right;
}
.v1 .listing > li .actions li h4 {
  padding: .25em 0;
}
.v1 .listing > li .actions li h4 a {
  color: #a0b2bd;
}
.v1 .listing > li .actions li.due {
  font-size: 11px;
}
.v1 .listing > li .actions a {
  color: #486f87;
  text-decoration: none;
}
.v1 .listing > li .actions li > form {
  padding: 0;
}
.v1 .listing > li .actions li > a, .v1 .listing > li .actions li > form a {
  display: block;
  padding: .25em 0;
}
.v1 .listing > li .actions li > a:after, .v1 .listing > li .actions li > form a:after {
  content: ' →';
}
.v1 .listing > li .descriptor {
  background: #f3f6f8;
  border: 1px solid #dce2e5;
  color: #7692a3;
  font-size: 11px;
  font-weight: normal;
  margin-left: 3px;
  padding: 1px 3px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  border-radius: 2px;
}
.v1 .listing > li .descriptor a, .v1 .listing > li .descriptor a:hover {
  border: none;
  color: #7692a3;
  text-decoration: none;
}
.v1 .listing > li .admin-controls {
  border: 1px solid #a0b2bd;
  bottom: 1em;
  right: 0;
  display: none;
  float: left;
  padding: 0;
  position: absolute;
  -moz-background-clip: padding-box;
  -moz-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  border-radius: 2px;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  background: #f3f6f8;
  background-image: -moz-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -moz-linear-gradient(center top, #f3f6f8 0%, #dce2e5 100%);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f6f8), to(#dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
}
.v1 .listing > li .admin-controls.selected {
  display: block;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.v1 .listing > li .admin-controls li {
  display: block;
  float: left;
  padding: 0;
}
.v1 .listing > li .admin-controls li a {
  border-left: 1px solid #a0b2bd;
  color: #678ca3;
  cursor: pointer;
  display: block;
  float: left;
  padding: 5px 7px;
  text-decoration: none;
}
.v1 .listing > li .admin-controls li a:hover {
  color: #486f87;
  background: #f3f6f8;
  background-image: -moz-gradient(center top, #f3f6f8 0%, #b7c3c9 100%);
  background-image: -moz-linear-gradient(center top, #f3f6f8 0%, #b7c3c9 100%);
  background-image: -ms-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -o-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f6f8), to(#b7c3c9));
  background-image: -webkit-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: linear-gradient(#f3f6f8, #b7c3c9);
}
.v1 .listing > li .admin-controls li a.disabled {
  color: #a0b2bd;
}
.v1 .listing > li .admin-controls li a.disabled:hover {
  background: none;
  color: #a0b2bd;
}
.v1 .listing > li .admin-controls li:first-child a {
  border-left: none;
}
.v1 .listing > li .admin-controls li input[type="checkbox"] {
  margin: 5px 7px;
}
.v1 .listing > li .admin-controls:hover {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  display: block;
}
.v1 .listing > li .admin-controls form {
  padding: 0;
}
.v1 .listing > li:hover .admin-controls {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  display: block;
}
.v1 .listing > li .assignee-choice {
  background: #dce2e5;
  padding: 1em;
  position: absolute;
  top: 1em;
  right: 0;
  width: 160px;
  z-index: 90;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}
.v1 .listing > li .assignee-choice .chzn-container {
  margin: 1em 0 0;
}
.v1 .listing > li .assignee-choice a {
  display: block;
}
.v1 .listing > li .assignee-choice .cancel {
  color: #7692a3;
  float: right;
}
.v1 .listing > li .action-assign-submit {
  color: #FFF;
}

.v1 .listing.videos > li {
  border: none;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 310px;
}
.v1 .listing.videos > li h3 {
  clear: both;
  height: 2em;
  margin: 6px 10px 10px;
}
.v1 .listing.videos > li .thumb {
  height: 180px;
  overflow: hidden;
  position: relative;
  top: 0;
}
.v1 .listing.videos > li .thumb img {
  margin: 10px 10px 0;
  width: 290px;
}
.v1 .listing.videos > li a {
  text-decoration: none;
}
.v1 .listing.videos > li .languages {
  background: rgba(0, 0, 0, 0.35);
  color: #eee;
  left: 17px;
  margin: 0;
  padding: .5em .75em;
  position: absolute;
  text-shadow: 1px 1px 1px #444;
  top: 17px;
  width: auto;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}
.v1 .listing.videos > li:hover .languages {
  background: rgba(0, 0, 0, 0.55);
}
.v1 .listing.videos > li .callout {
  color: #fff;
  display: block;
  padding: .75em;
  position: absolute;
  right: 0;
  text-indent: 0;
  text-shadow: 1px 1px 1px #486f87;
  top: 0;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
  background: #678ca3;
  background-image: -moz-gradient(center top, #678ca3 0%, #486f87 100%);
  background-image: -moz-linear-gradient(center top, #678ca3 0%, #486f87 100%);
  background-image: -ms-linear-gradient(#678ca3, #486f87);
  background-image: -o-linear-gradient(#678ca3, #486f87);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#678ca3), to(#486f87));
  background-image: -webkit-linear-gradient(#678ca3, #486f87);
  background-image: linear-gradient(#678ca3, #486f87);
}
.v1 .listing.videos > li .admin-controls {
  background: rgba(0, 0, 0, 0.55);
  border: none;
  bottom: .6em;
  opacity: 1;
  right: 1em;
  text-shadow: 1px 1px 1px #444;
}
.v1 .listing.videos > li .admin-controls a {
  border: none;
  color: #eee;
}
.v1 .listing.videos > li .admin-controls a:hover {
  background: transparent;
  color: #fff;
  text-decoration: underline;
}
.v1 .listing.videos > li .admin-controls:hover {
  background: rgba(0, 0, 0, 0.75);
}

.v1 .listing.members > li, .v1 .listing.messages > li {
  min-height: 4em;
  padding-left: 65px;
  padding-right: 150px;
}
.v1 .listing.members > li .thumb, .v1 .listing.messages > li .thumb {
  height: 45px;
  width: 45px;
}
.v1 .listing.members > li .thumb img, .v1 .listing.messages > li .thumb img {
  height: 45px;
}
.v1 .listing.members > li.current, .v1 .listing.messages > li.current {
  background: #f6f6e4;
}

.v1 .listing.messages > li {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.v1 .listing.messages > li.unread {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.v1 .listing.messages > li p a {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v1 .listing.activity > li, .v1 .listing.tasks > li, .v1 .listing.urls > li {
  padding-right: 150px;
}
.v1 .listing.activity > li .actions, .v1 .listing.tasks > li .actions, .v1 .listing.urls > li .actions {
  width: 150px;
}

.v1 .listing.tasks > li {
  min-height: 6.5em;
  padding-left: 110px;
}
.v1 .listing.tasks > li .done span {
  margin-right: .5em;
}
.v1 .listing.tasks > li .thumb {
  max-width: 80px;
  word-wrap: break-word;
}
.v1 .listing.tasks > li .thumb img {
  margin-left: 10px;
  max-width: 80px;
}
.v1 .listing.tasks > li form.assign-form {
  padding: 0;
}

.v1 .listing.teams > li {
  padding-right: 150px;
}

.v1 .view #comments-tab .listing.comments > li {
  padding: 1em 48px 2em;
  position: relative;
}
.v1 .view #comments-tab .listing.comments > li h3 {
  line-height: 32px;
  margin-bottom: 1em;
  margin-left: -48px;
  margin-top: 0;
}
.v1 .view #comments-tab .listing.comments > li h3 img {
  border: 1px solid #dce2e5;
  float: left;
  height: 32px;
  margin-right: 9px;
  padding: 2px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}
.v1 .view #comments-tab .listing.comments > li p {
  clear: both;
  line-height: 175%;
}

.v1 .listing.revisions input {
  float: left;
  margin: 3px 9px 3px 0;
}

.v1 .view .pagination {
  float: none;
  padding: 1em 1em 0;
}
.v1 .view .pagination em {
  background: transparent;
  box-shadow: none;
  color: #a0b2bd;
  font-style: normal;
}
.v1 .view .pagination a {
  color: #678ca3;
}
.v1 .view .pagination a:hover {
  background: #b7c3c9;
  box-shadow: none;
  color: #fff;
}
.v1 .view .pagination .disabled {
  color: #a0b2bd;
}

p.view-more {
  margin-top: 1em;
  text-align: center;
}
p.view-more a {
  color: #7692a3;
  text-decoration: none;
}
p.view-more a:after {
  content: ' →';
}

/* Controls */
.v1 .controls {
  background-color: #fff;
  border-left: 1px solid #dce2e5;
  padding-bottom: 4em;
  padding-left: 15px;
  width: 199px;
  background-image: -moz-linear-gradient(left, #f5f5f5, white 5%, white);
  background-image: -ms-linear-gradient(left, #f5f5f5, white 5%, white);
  background-image: -o-linear-gradient(left, #f5f5f5, white 5%, white);
  background-image: -webkit-linear-gradient(left, #f5f5f5, white 5%, white);
  background-image: linear-gradient(left, #f5f5f5, white 5%, white);
}
.v1 .controls ul {
  border-bottom: 1px solid #f3f6f8;
  margin-left: -15px;
  padding: 2em 0;
}
.v1 .controls ul.secondary {
  margin-top: 0;
}
.v1 .controls ul li {
  margin-bottom: .5em;
  padding: 0;
}
.v1 .controls ul li a {
  color: #678ca3;
  display: block;
  padding: .75em 0 .75em 15px;
  position: relative;
  text-decoration: none;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
}
.v1 .controls ul li a:hover {
  background-color: #f9fafb;
  background-image: -moz-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -ms-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -o-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -webkit-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
}
.v1 .controls ul li a span {
  color: #a0b2bd;
  position: absolute;
  top: .75em;
  right: .75em;
}
.v1 .controls ul li.current a {
  background-color: #edf1f2;
  color: #486f87;
  background-image: -moz-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -ms-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -o-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -webkit-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
}
.v1 .controls ul li.current a:hover {
  background-color: #e8ecee;
  background-image: -moz-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -ms-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -o-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -webkit-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
}
.v1 .controls ul li.current a span {
  color: #7692a3;
}
.v1 .controls .refine {
  border-bottom: 1px solid #f3f6f8;
  margin: 0 0 2em -15px;
  padding: 1.5em 15px 1em;
}
.v1 .controls .refine form {
  padding: 0 0 1em;
}
.v1 .controls .refine select {
  width: 100%;
}
.v1 .controls .refine .chzn-container {
  margin-bottom: 1em;
}
.v1 .controls .refine .chzn-container:last-child {
  margin-bottom: 0;
}
.v1 .controls h4 {
  color: #7692a3;
  padding-bottom: 1em;
}
.v1 .controls form {
  padding: 0;
}

/* Forms */
.v1 form {
  padding: 1em 0;
}
.v1 form h3 {
  line-height: 20px;
}
.v1 form .form-title {
  margin: 1em 0 0 0;
}
.v1 form fieldset {
  padding-bottom: 3em;
}
.v1 form fieldset legend {
  font-weight: bold;
  padding-bottom: .5em;
}
.v1 form fieldset input, .v1 form fieldset textarea {
  margin-bottom: .5em;
  padding: 4px;
}
.v1 form fieldset label {
  padding: 1.5em 0 .25em;
  display: block;
  width: 100%;
}
.v1 form fieldset label .notation {
  float: right;
  margin-right: -8px;
}
.v1 form fieldset input[type="text"], .v1 form fieldset input[type="password"], .v1 form fieldset textarea {
  border: 1px solid #b7c3c9;
  display: block;
  width: 100%;
  -moz-background-clip: padding-box;
  -moz-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  border-radius: 2px;
}
.v1 form fieldset input[type='checkbox'] {
  margin: 0 4px 0 0;
}
.v1 form fieldset input[type='file'] {
  padding: 0;
  display: block;
  width: 100%;
}
.v1 form fieldset select {
  margin-bottom: .5em;
  padding: 4px;
  width: 100%;
}
.v1 form fieldset textarea {
  height: 5em;
}
.v1 form p {
  color: inherit;
}

.v1 .view form .preselected {
  background: #dce2e5;
  margin: .5em 0;
  padding: 1em;
  position: relative;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}
.v1 .view form .preselected p {
  float: none;
  margin: 0;
}

.v1 .view form .preselected.video {
  min-height: 3em;
  padding-left: 75px;
}
.v1 .view form .preselected.video img {
  left: 1em;
  max-width: 50px;
  position: absolute;
  top: 1em;
}

.v1 .panel-holder form {
  clear: both;
  float: left;
  width: 100%;
}

.v1 .panel-holder .tools form {
  float: none;
}

.v1 form.workflow {
  margin-top: -3em;
}
.v1 form.workflow fieldset {
  background: #dce2e5;
  padding: 0 1em;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  border-radius: 4px;
}
.v1 form.workflow fieldset .button {
  margin-top: 2em;
}

.v1 .workflow {
  background: #dce2e5;
  display: none;
  margin-top: -2em;
  padding: 0 1em;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  border-radius: 4px;
}
.v1 .workflow fieldset {
  padding-bottom: 1.5em;
}
.v1 .workflow fieldset .button {
  float: right;
}

.v1 .alpha .omega {
  margin-left: 60px;
}

#dashboard .alpha .omega {
  margin-left: 10px;
}

.v1 div.submit {
  border-top: 1px solid #dce2e5;
  clear: both;
  margin: 2em 0 0;
  padding-top: 1em;
  text-align: right;
}
.v1 div.submit form {
  padding: 0;
}
.v1 div.submit button, .v1 div.submit input {
  margin: 0;
}

.v1 .controls form.search fieldset {
  padding: 0;
  position: relative;
}
.v1 .controls form.search fieldset input {
  border-color: #dce2e5;
  color: #a0b2bd;
  padding-right: 30px;
  padding: .5em;
  width: 162px;
}
.v1 .controls form.search fieldset input:focus {
  border-color: #678ca3;
}
.v1 .controls form.search fieldset a.reset {
  background: transparent url("../images/form-reset-icon.png") 7px 7px no-repeat;
  color: #739AAE;
  height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  text-indent: -1000em;
  text-shadow: 0 1px 1px #FFF;
  top: 1px;
  width: 25px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
}

.v1 #comment-form fieldset {
  padding: 0;
}
.v1 #comment-form fieldset label {
  padding-top: 0;
}
.v1 #comment-form fieldset textarea {
  width: 602px;
}

#summary {
  background-image: -moz-linear-gradient(top, #f0f0f0, #fafafa 5%, #fafafa 95%, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #fafafa 5%, #fafafa 95%, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #fafafa 5%, #fafafa 95%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #f0f0f0, #fafafa 5%, #fafafa 95%, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #fafafa 5%, #fafafa 95%, #f0f0f0);
  border-bottom: 1px solid #dce2e5;
  border-top: 1px solid #dce2e5;
  margin: 0 0 2em;
  padding: 1.5em 0;
  width: 100%;
}
#summary h4 {
  margin: 0 20px 1em;
}
#summary h4 em {
  font-style: normal;
  font-weight: normal;
}
#summary .grid_2 {
  color: #678ca3;
  margin: 0 20px;
  position: relative;
  width: 105px;
}
#summary .grid_2.omega {
  margin-right: 0;
}
#summary .grid_2 h5 {
  font-weight: bold;
}
#summary .grid_2 .divider {
  margin: 1em;
}
#summary .grid_2 span {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: -1.5em;
}
#summary p {
  margin: 0;
}

label[for="thumbnail-clear_id"] {
  display: inline !important;
}

label[for="id_thumbnail"] {
  margin-bottom: 5px;
}

input[name="thumbnail-clear"] {
  margin: 12px 4px 12px 0 !important;
}

/* Dashboard */
#dashboard .featured {
  margin-bottom: 4em;
  padding: 0;
}
#dashboard .featured li {
  border-left: 4px solid #dce2e5;
  margin: .5em 0;
  padding: 1em;
}
#dashboard .listing {
  margin-bottom: 4em;
  margin-right: 25px;
}
#dashboard .listing li {
  padding: 1em 150px 1em 0;
}
#dashboard .listing.tasks li {
  min-height: 0;
  padding: 1em 0;
}
#dashboard .listing.tasks li p {
  margin-bottom: 0;
}
#dashboard .listing .timestamp {
  top: 1em;
}
#dashboard .view ul {
  padding: 0;
}

.v1 .only-child h2 {
  border-bottom: 1px solid #dce2e5;
  margin-bottom: 0;
  padding: .5em 0;
}

/* Global */
div#language_picker select {
  width: 220px;
}

/* Profile */
#profile.v1 h2, #dashboard.v1 h2 {
  line-height: 1.75em;
}
#profile.v1 h2 img, #dashboard.v1 h2 img {
  border: 1px solid #dce2e5;
  float: left;
  height: 32px;
  margin-right: .5em;
  padding: 2px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
}

#profile.v1 .view .avatar img {
  border: 1px solid #dce2e5;
  float: right;
  margin-left: 1em;
  margin-right: -60px;
  padding: .5em;
}

.v1 .view .grid_4 p, .v1 .view .grid_4 ul {
  margin-bottom: 2em;
}
.v1 .view .grid_4 ul {
  padding: 0;
}
.v1 .view .grid_4 ul.errorlist {
  margin-bottom: 0;
  width: auto;
}

.v1 .view.new-message form {
  padding: 4em 2em 2em;
}
.v1 .view.new-message form div.recipient {
  float: left;
}
.v1 .view.new-message form div.or {
  float: left;
  font-weight: bold;
  margin: 0 20px;
  padding-top: 41px;
  text-align: center;
}
.v1 .view.new-message form div.team {
  float: left;
}
.v1 .view.new-message form div.disabled {
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}

/* Video view */
.video_view .view {
  position: relative;
}
.video_view .view p.view-notice {
  margin: 1em 0;
  padding-right: 0;
}
.video_view .view p.view-notice a {
  border-bottom: 1px dotted #486f87;
  color: inherit;
  text-decoration: none;
}
.video_view .view .tab {
  clear: both;
}
.video_view .view video, .video_view .view object, .video_view .view .unisubs-widget span.unisubs-videoplayer {
  height: 370px !important;
  width: 620px !important;
}
.video_view .view #video-tab, .video_view .view #comments-tab {
  padding-top: 10px;
}
.video_view .view #video-tab h3, .video_view .view #comments-tab h3 {
  margin-top: 1em;
}
.video_view .view #activity-tab, .video_view .view #urls-tab {
  padding: 0;
}
.video_view .view #comments-tab {
  padding-left: 10px;
}
.video_view .view .tools {
  margin: 0 0 0 -10px;
  padding-right: 0;
}
.video_view .view > div {
  clear: both;
  padding: 0;
}
.video_view .view #video-tab .video-tools h3 {
  border-bottom: 1px solid #dce2e5;
  font-weight: normal;
  margin: 0 0 .5em;
  padding: 1em 0 .5em;
}
.video_view .view #video-tab .video-tools ul {
  margin-bottom: 1em;
  padding: 0;
}
.video_view .view #video-tab .video-tools p {
  margin-bottom: 1em;
}
.video_view span.unisubs-tabTextfinish {
  display: none !important;
}
.video_view button.follow-button, .video_view button.follow-button:hover {
  background: transparent;
  border: none;
  color: #a0b2bd;
  margin: 0;
  padding: 1em;
  position: absolute;
  text-shadow: none;
  top: 0;
  right: 0;
}
.video_view button.follow-button.follow:hover, .video_view button.follow-button:hover.follow:hover {
  color: #8ca367;
}
.video_view button.follow-button.unfollow:hover, .video_view button.follow-button:hover.unfollow:hover {
  color: #B6464D;
}

.v1 .context {
  border-left: none;
  border-right: 1px solid #dce2e5;
  margin-right: 0;
  padding: 0 20px 0 0;
  width: 289px;
  word-wrap: break-word;
  background-image: -moz-linear-gradient(right, #f7f7f7, white 2%, white);
  background-image: -ms-linear-gradient(right, #f7f7f7, white 2%, white);
  background-image: -o-linear-gradient(right, #f7f7f7, white 2%, white);
  background-image: -webkit-linear-gradient(right, #f7f7f7, white 2%, white);
  background-image: linear-gradient(right, #f7f7f7, white 2%, white);
}
.v1 .context p.permalink {
  margin: -0.5em 0 0.5em;
}
.v1 .context p.permalink a {
  color: #b7c3c9;
  font-size: 11px;
  text-decoration: none;
}
.v1 .context .abbr {
  clear: both;
  position: relative;
}
.v1 .context .abbr .expand {
  border-top: 1px solid #f3f6f8;
  color: #a0b2bd;
  display: block;
  margin-top: .5em;
  padding: .5em 0;
  text-align: center;
  text-decoration: none;
}
.v1 .context .abbr div {
  height: 6em;
  overflow: hidden;
}
.v1 .context .abbr.expanded div {
  height: auto;
}
.v1 .context #widget_div {
  padding-bottom: 1.5em;
}
.v1 .context video, .v1 .context object, .v1 .context .unisubs-widget span.unisubs-videoplayer, .v1 .context audio {
  height: 173px !important;
  width: 289px !important;
}
.v1 .context #description {
  line-height: 150%;
}
.v1 .context #description p {
  margin-bottom: .5em;
}
.v1 .context a {
  text-decoration: none;
}
.v1 .context h2, .v1 .context h3, .v1 .context h4 {
  word-wrap: break-word;
}
.v1 .context h2 a {
  color: inherit;
}
.v1 .context h2, .v1 .context h3 {
  font-weight: normal;
}
.v1 .context h3 {
  border-bottom: 1px solid #dce2e5;
  clear: both;
  margin-bottom: .5em;
  padding: 2em 0 .5em;
}
.v1 .context h3.sub-title {
  border: none;
  color: #486f87;
  line-height: 1.25em;
  margin-bottom: -0.25em;
  padding-top: 0;
}
.v1 .context h3.sub-title a {
  color: #486f87;
}
.v1 .context h4 {
  clear: both;
  font-size: 13px;
  padding: .5em 0 1em;
}
.v1 .context ul {
  padding: 0;
}
.v1 .context ul.buttons {
  float: left;
  width: 100%;
}
.v1 .context ul.buttons li {
  display: inline;
}
.v1 .context ul.buttons li a {
  display: block;
  float: left;
  height: 22px;
  margin-right: .25em;
  padding: .25em;
  text-indent: -9999em;
  width: 22px;
}
.v1 .context ul.buttons li a.facebook {
  background: url("../images/share_icons.png") no-repeat 5px 5px;
}
.v1 .context ul.buttons li a.twitter {
  background: url("../images/share_icons.png") no-repeat 5px -32px;
}
.v1 .context ul.buttons li a.email {
  background: url("../images/share_icons.png") no-repeat 5px -67px;
}
.v1 .context .notation {
  color: inherit;
}

ol.subtitles {
  clear: both;
}
ol.subtitles li {
  border-bottom: 1px solid #f3f6f8;
  margin-left: -10px;
  padding: 1em 1em 1em 120px;
  position: relative;
}
ol.subtitles li:hover {
  background-color: #f3f6f8;
}
ol.subtitles li .timing {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 75px;
}
ol.subtitles li .timing a {
  color: #7692a3;
  text-decoration: none;
}
ol.subtitles li .timing .data {
  display: none;
}
ol.subtitles li .quiet {
  color: #a0b2bd;
  left: 100px;
  position: absolute;
  top: 1em;
}

/* Overrides */
.v1 .sort_button {
  border-color: #dce2e5;
  cursor: pointer;
  float: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 170px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
  background: white;
  background-image: -moz-gradient(center top, white 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(white, #eeeeee);
  background-image: -o-linear-gradient(white, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background-image: -webkit-linear-gradient(white, #eeeeee);
  background-image: linear-gradient(white, #eeeeee);
}
.v1 .sort_button .sort_label {
  color: #678ca3;
  display: block;
  font-size: 11px;
  font-weight: normal !important;
  padding: .5em;
  text-shadow: 0 1px 0px #fff;
}
.v1 .sort_button .sort_label:hover {
  background: transparent;
}
.v1 .sort_button ul {
  margin: 0;
  padding: .5em 0 0;
}
.v1 .sort_button ul li a {
  border-bottom: none;
  border-top: 1px solid #dce2e5;
  color: #678ca3;
  display: block;
  font-size: 11px;
  font-weight: normal;
  padding: .5em;
  text-decoration: none;
  text-shadow: none;
  -moz-box-shadow: none 1px 2px #cccccc;
  -webkit-box-shadow: none 1px 2px #cccccc;
  box-shadow: none 1px 2px #cccccc;
}
.v1 .sort_button ul li a:hover {
  background: #678ca3;
  color: #fff;
}
.v1 .sort_button .arrow {
  background: url("../images/chosen-sprite.png") no-repeat 0 1px;
  height: 24px;
  width: 20px;
}
.v1 .sort_button:hover {
  background: transparent;
}
.v1 .sort_button:hover .sort_label {
  z-index: 999999999;
}
.v1 .sort_button:hover ul {
  border-color: #dce2e5;
  border-top: none;
  left: -1px;
  top: 21px;
  -moz-box-shadow: none 1px 2px #cccccc;
  -webkit-box-shadow: none 1px 2px #cccccc;
  box-shadow: none 1px 2px #cccccc;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: white;
  background-image: -moz-gradient(center top, white 0%, #f3f6f8 100%);
  background-image: -moz-linear-gradient(center top, white 0%, #f3f6f8 100%);
  background-image: -ms-linear-gradient(white, #f3f6f8);
  background-image: -o-linear-gradient(white, #f3f6f8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f6f8));
  background-image: -webkit-linear-gradient(white, #f3f6f8);
  background-image: linear-gradient(white, #f3f6f8);
}
.v1 .sort_button:hover .arrow {
  background: url("../images/chosen-sprite.png") no-repeat -18px 1px;
}

#tender_window #tender_closer {
  color: #80B3CC;
}

/* Chosenify */
.v1 .chzn-container ul.chzn-results, .v1 ul.chzn-choices {
  margin-bottom: 4px !important;
  padding-left: 4px;
}
.v1 .chzn-container ul.chzn-results input, .v1 ul.chzn-choices input {
  padding: 5px !important;
}

.v1 .filters p {
  height: 16px;
  line-height: 18px;
  vertical-align: middle;
}
.v1 .filters .chzn-container {
  height: 100%;
  margin-bottom: 0;
  margin-left: 6px;
  text-align: left;
  vertical-align: middle;
}
.v1 .filters .chzn-container .chzn-drop {
  border-top: 1px solid #b7c3c9;
}
.v1 .filters .chzn-container,
.v1 .filters .chzn-container-single,
.v1 .filters .chzn-container-single .chzn-single,
.v1 .filters .chzn-container-active .chzn-single
.chzn-container-single .chzn-single-with-drop,
.v1 .filters .chzn-container-single .chzn-single div {
  background: transparent;
  border: none;
}
.v1 .filters .chzn-container-single .chzn-single {
  height: 18px;
  line-height: 14px;
  padding: 0;
}
.v1 .filters .chzn-container-single .chzn-single div b {
  background-position: -5px -5px;
}
.v1 .filters .chzn-container-active .chzn-single-with-drop div b {
  background-position: -23px -4px;
}
.v1 .filters .chzn-container-active .chzn-single-with-drop {
  overflow: visible !important;
  position: relative;
  z-index: 52;
}
.v1 .filters .chzn-container-active .chzn-single-with-drop span {
  position: relative;
  z-index: 53;
}
.v1 .filters .chzn-container-active .chzn-single-with-drop div {
  z-index: 53;
}
.v1 .filters .chzn-container-active .chzn-single-with-drop:before {
  background: #FFF;
  border: 1px solid #B9C3C8;
  content: "";
  display: block;
  height: 100%;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 51;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #FFF;
}
.v1 .filters div.chzn-container-active div.chzn-drop {
  margin-left: -5px !important;
  margin-top: -3px !important;
  z-index: 50;
}
.v1 .filters div.chzn-container-active div.chzn-drop li {
  width: 100%;
}

.v1 .bootstrap .modal .modal-header h3 {
  border: none;
  clear: none;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  position: static;
}
.v1 .bootstrap .modal form {
  margin: 0;
  padding: 0;
}
.v1 .bootstrap .modal form p {
  float: none;
  margin-top: 0;
}
.v1 .bootstrap .modal form fieldset {
  padding-bottom: 1em;
}
.v1 .bootstrap .modal form fieldset p {
  margin-bottom: 20px;
}
.v1 .bootstrap .modal form label.radio, .v1 .bootstrap .modal form label.checkbox {
  display: block;
  padding: 0;
  text-align: left;
  width: 100%;
}
.v1 .bootstrap .modal form label.radio input, .v1 .bootstrap .modal form label.checkbox input {
  float: left;
  margin-bottom: 3px;
  margin-right: .5em;
}
.v1 .bootstrap .modal .modal-body fieldset {
  padding: 0;
}
.v1 .bootstrap .modal .modal-body textarea {
  height: auto;
  width: 98%;
}
.v1 .bootstrap .modal .modal-body ul.chzn-choices, .v1 .bootstrap .modal .modal-body ul.chzn-results {
  margin: 0 !important;
}
.v1 .bootstrap .modal button {
  margin: 0;
}
.v1 .bootstrap .modal a.pull-left {
  float: left;
  margin-left: 0;
}

/* Metrics badge */
.v1 .context .metrics {
  border: 1px solid #eaeaea;
  color: #999;
  float: left;
  margin: 1em 0;
  width: 100%;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  border-radius: 3px;
  background-image: -moz-linear-gradient(top, #f5f5f5, #fafafa 5%, #f7f7f7);
  background-image: -ms-linear-gradient(top, #f5f5f5, #fafafa 5%, #f7f7f7);
  background-image: -o-linear-gradient(top, #f5f5f5, #fafafa 5%, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #fafafa 5%, #f7f7f7);
  background-image: linear-gradient(top, #f5f5f5, #fafafa 5%, #f7f7f7);
}
.v1 .context .metrics li {
  border-right: 1px solid #eaeaea;
  float: left;
  padding: 0;
  text-align: center;
  width: 24.7%;
}
.v1 .context .metrics li a, .v1 .context .metrics li div {
  color: #999;
  display: block;
  padding: .75em 0 .5em;
}
.v1 .context .metrics li a p, .v1 .context .metrics li div p {
  font-size: 1.25em;
  line-height: 1em;
  margin: 0;
  text-shadow: 1px -1px 1px white;
}
.v1 .context .metrics li a h4, .v1 .context .metrics li div h4 {
  font-size: 11px;
  font-weight: normal;
  padding-bottom: 0;
  padding-top: .25em;
}
.v1 .context .metrics li a:hover {
  color: #35424A;
}
.v1 .context .metrics li:last-child {
  border: none;
}

/* Debug */
pre.dump code {
  font-family: Consolas, Menlo, "Courier New", monospace;
  margin: 15px 0;
  padding: 18px 15px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* Crazytown */
#teams .backnav, #teams .backnav a {
  color: #7692a3;
}

#teams div.header {
  min-height: 0;
}
#teams div.header a.logo-image {
  display: block;
  margin-bottom: 20px;
  max-height: 235px;
  max-width: 940px;
  overflow: hidden;
}

#teams .view .expandable {
  overflow: hidden;
}
#teams .view .expandable .button span {
  background: url("../images/chosen-sprite.png") no-repeat 0px -5px;
  display: block;
  float: right;
  height: 1.5em;
  margin-left: 4px;
  width: 16px;
}

#teams .view .tools p {
  color: #a0b2bd;
}
#teams .view .tools p span {
  color: #486f87;
}

#teams .view .subnav {
  padding: 1em 0;
  text-align: left;
}
#teams .view .subnav ul li {
  display: inline;
}
#teams .view .subnav ul li a {
  color: #7692a3;
  line-height: 1.5em;
  margin-right: 1em;
  text-decoration: none;
}
#teams .view .subnav ul li.current a {
  color: inherit;
}

#teams .view form.settings {
  margin-left: 1.5em;
  margin-right: 2.5em;
}

#teams div.join {
  clear: both;
  padding-top: 2em;
}

#teams .context .join.button {
  display: block;
  margin: 1em;
}
#teams .context .join.button img {
  max-height: 24px;
  margin-left: 4px;
}
#teams .context .join.button * {
  vertical-align: middle;
}

#teams .context .notation {
  clear: both;
  padding-top: 4em;
}

#teams .context .join .notation {
  padding-top: 0;
  margin: -0.5em 1.5em 0;
}

#teams .context .notation.policy {
  margin-bottom: 1em;
  padding-top: 0;
}

#teams .context #projects-list h4 {
  padding: 1.5em 0 1em;
}
#teams .context #projects-list.collapsed li {
  display: none;
}
#teams .context #projects-list.collapsed li:first-of-type {
  display: block;
}
#teams .context #projects-list .count {
  color: #a0b2bd;
  padding-left: .5em;
}

#teams .view .tools #sort-filter {
  color: #678ca3;
  line-height: 1.5em;
  padding: .5em;
  text-decoration: none;
}
#teams .view .tools #sort-filter:hover {
  color: #2f3c45;
}
#teams .view .tools #sort-filter:hover span {
  background: url("../images/chosen-hover.png") no-repeat 4px 3px;
}
#teams .view .tools #sort-filter:hover span.open {
  background: url("../images/chosen-hover.png") no-repeat 4px -28px;
}
#teams .view .tools #sort-filter span {
  background: url("../images/chosen-sprite.png") no-repeat 2px -4px;
  padding: 0 8px;
}
#teams .view .tools #sort-filter span.open {
  background: url("../images/chosen-sprite.png") no-repeat -16px -4px;
}
#teams .view .tools .button {
  float: none;
  margin: 0;
}

#teams .view .filters {
  background: -moz-linear-gradient(top, #f2f2f2 0%, #fafafa 25%, #f5f5f5 75%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #fafafa 25%, #f5f5f5 75%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #fafafa 25%, #f5f5f5 75%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(0.25, #fafafa), color-stop(0.75, #f5f5f5), color-stop(1, #f2f2f2));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 25%, #f5f5f5 75%, #f2f2f2 100%);
  background: linear-gradient(top, #f2f2f2 0%, #fafafa 25%, #f5f5f5 75%, #f2f2f2 100%);
  border-bottom: 1px solid #e8ebed;
  display: none;
  margin-bottom: 1em;
  margin-left: -10px;
  padding: 10px 40px 5px 10px;
  position: relative;
  text-align: left;
}
#teams .view .filters .chzn-container {
  width: auto !important;
}
#teams .view .filters .chzn-container a.chzn-single {
  line-height: 16px;
}
#teams .view .filters p {
  float: left;
  height: auto;
}
#teams .view .filters div.filter-chunk {
  display: block;
  float: left;
  margin-bottom: 5px;
}
#teams .view .filters div.filter-chunk span.inner {
  margin-left: 6px;
}
#teams .view .filters a.clear-filters {
  color: #7692a3;
  float: right;
  position: absolute;
  right: 16px;
  text-decoration: none;
  top: 11px;
}

#teams .view .filters.active {
  display: block;
}

#teams form.edit-video fieldset {
  padding-bottom: 0;
}

#teams form.move-video {
  border-top: 10px solid #ECF0F1;
  margin-top: 15px;
}
#teams form.move-video fieldset {
  padding-bottom: 0;
}
#teams form.move-video fieldset select {
  width: auto;
}
#teams form.move-video div.submit {
  margin-top: 10px;
}
