@mixin small-button {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 6px 12px;
}

@mixin medium-button {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 6px 18px;
}

@mixin button-color($color) {
    background-color: $color;
    border-color: $color;

    &:hover {
        background: lighten($color, 10);
        border-color: lighten($color, 10);
    }
}

@mixin button {
    display: inline-block;
    margin: 0;
    padding: 13px 26px;
    font-size: 2.0rem;
    font-weight: $font-weight-normal;
    border: 1px solid;
    color: $white !important;
    cursor: pointer;

    @include button-color($primary);

    &:hover {
        text-decoration: none;
    }
}


button, a.button {
    @include button;

    &.small {
        @include small-button;
        margin-bottom: 2px;
    }

    &.medium {
        @include medium-button;
        margin-bottom: 4px;
    }

    margin-bottom: 8px;

    &.full {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    &.secondary {
        background-color: $white;
        border-color: $light-gray;
        color: $dark-gray !important;
        &:hover {
            background: darken($white, 10);
        }
    }

    &.primary {
        @include button-color($primary);
    }

    &.delete {
        @include button-color($red);
    }

    &.cancel {
        @include button-color($light-gray);
    }
}

