@mixin small-button {
    font-size: 1.4rem;
    padding: 6px 12px;
}

@mixin medium-button {
    font-size: 1.6rem;
    padding: 6px 18px;
}



button, a.button {
    display: inline-block;
    margin: 0;
    padding: 13px 26px;
    font-size: 2.0rem;
    font-weight: $font-weight-normal;
    background: $secondary-aqua;
    border: 1px solid $secondary-aqua;
    color: $white;
    cursor: pointer;

    &.small {
        @include small-button;
    }

    &.medium {
        @include medium-button;
    }
}
