$white: #fff;
$off-white: #f2f2f2;
$light-gray: #bbb;
$medium-gray: #888;
$darkish-gray: #666;
$dark-gray: #333;
$darker-gray: #222;

$green: #77A700;
$primary: #E4572E;
$primary: #D90558;
$primary: #5B1756;
$primary: #0F80E2;
$blue: #0f517a;
$red: #d75b5b;
