div.filtered {
    display: flex;
    margin-bottom: 40px;

    .filters {
        font-size: 1.2rem;
        border-right: 1px solid $lighter-gray;
        padding-right: 20px;
        margin-right: 20px;

        form {
            padding: 0;
        }

        .filter {
            margin-bottom: 10px;
        }

        select {
            width: 100%;
            padding: 0 4px;
            font-size: inherit;
        }

        .actions {
            padding-top: 10px;
            button, a.button {
                @include small-button;
            }
        }
    }

    .filtered-content {
        flex-grow: 1;
    }
}
