.filters {
    font-size: $small-font-size;

    form {
        padding: 0;
    }

    .filter {
        margin-bottom: 10px;
    }

    select {
        width: 100%;
        padding: 0 4px;
        font-size: inherit;
    }

    .actions {
        padding-top: 10px;
        button, a.button {
            @include small-button;
        }
    }
}
