form {
    padding-bottom: 40px;

    button.submit {
        @include button-color($primary);
        float: right;
    }

    .actions {
        overflow: hidden;
    }
}
fieldset {
    border: none;
    padding: 0 0 $line-height 0;
    margin: 0;
}

legend {
    font-weight: $font-weight-bold;
    padding: 0;
    margin: 0;
}

input, textarea, select {
    font-size: $large-font-size;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $light-gray;
    padding: 4px;
    margin: 0;
    background: $lightest-gray;

    &:disabled {
        color: $lighter-gray;
        border-color: $lighter-gray;
    }
}

input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
    padding: 0;
}

input[type=file] {
    border: none;
}

.compact {
    label {
        @extend %clearfix;
        width: 100%;
    }
    span.label {
        display: inline-block;
        // We need this to make the label line up with the input which has
        // 4px padding and 1px border
        padding-top: 5px;
    }
    input {
        float: right;
        width: 60%;
        margin-left: 10px;
    }
}

label {
    display: block;
    padding: 0;
    margin: 0 0 $line-height/2 0;
}

p.help {
    margin-top: -$line-height/2;
    margin-bottom: $line-height/2;
    padding: 0;
    font-style: italic;
}

ul.errorlist {
    display: inline-block;
    color: $error;

    li {
        margin-left: 5px;
    }
}
.autocomplete-wrapper {
    position: relative;

    .autocomplete {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 4px;
        margin-top: -1px;
        border: 1px solid $light-gray;
        background: $white;

        li {
            padding: 3px 0;
        }
    }
}
