#header {
    background: $off-white;
    a {
        color: $darkish-gray;

        &:hover {
            text-decoration: none;
            background-color: $secondary-aqua;
            color: $white;
        }

        &.home {
            padding: 10px 0 0 0;

            &:hover {
                background-color: inherit;
                color: $darkish-gray;
            }
        }
    }

    >nav {
        @extend .content;

        > a {
            padding-top: 10px;
            display: block;
            float: left;
        }

        >ul {
            &.right {
                float: right;
            }

            >li {
                display: block;
                float: left;
                position: relative;

                >a {
                    padding: 20px 15px;
                    display: block;
                }
            }
        }
    }
}

/* Submenus */
#header a.menu-toggle:after {
    content: " \25be";
}
#header a.menu-toggle.open:after {
    content: " \25b4";
}

#header nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: $off-white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: $z-index-menu;

    li {
        float: none;

        a {
            display: block;
            padding: 6px 20px;
        }

        &.separator {
            border-top: 1px solid $light-gray;
        }
    }

    .count {
        float: right;
    }

    h5 {
        margin: 0;
        padding: 0;
    }

}

#user-menu {
    right: 0;
}

#announce-banner {
    background-color: $off-white;
    color: $darkish-gray;
    text-align: center;

    li {
        padding: 8px 0;
        border-bottom: 1px solid $green;
    }

    a {
        color: $green;
        margin-left: 10px;
    }
}
