#header {
    background: $off-white;
    a {
        color: $darkish-gray;

        &:hover {
            text-decoration: none;
            background-color: $secondary-aqua;
            color: $white;
        }

        &.home {
            padding: 10px 0 0 0;

            &:hover {
                background-color: inherit;
                color: $darkish-gray;
            }
        }
    }
}

#announce-banner {
    background-color: $off-white;
    color: $darkish-gray;
    text-align: center;

    li {
        padding: 8px 0;
        border-bottom: 1px solid $green;
    }

    a {
        color: $green;
        margin-left: 10px;
    }
}
