$break-small: 800px;
$content-max-width: 1200px;

$z-index-menu: 1;
$z-index-overlay: 100;
$z-index-modal: 101;

html, body {
    margin: 0;
    padding: 0;
}

/* Implement a sticky footer using flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    padding-top: 20px;
    flex-grow: 1;
}

.content {
    max-width: $content-max-width;
    padding: 0 15px;
    margin: 0 auto;
}

%clearfix:after, .group:after {
    content: "";
    display: table;
    clear: both;
}

@mixin small-screen() {
    @media only screen and (max-width: $break-small - 1) {
        @content;
    }
}

@mixin not-small-screen() {
    @media only screen and (min-width: $break-small) {
        @content;
    }
}

.split-view {
    display: flex;
    margin-bottom: 40px;

    > .sidebar {
        width: 300px;
        min-width: 300px;
        border-right: 1px solid $lighter-gray;
        padding-right: 20px;
        margin-right: 20px;

        > .section {
            margin-bottom: 60px;
        }
    }

    > .main {
        flex-grow: 1;
    }
}
