{% load i18n teams_tags %}

{% if not team|is_team_member:user %}
    <div class="join">
        {% if user.is_authenticated %}
            {% if team.is_open %}
                {% if team.auth_provider and user.partner != team.auth_provider.code %}
                    <a href="{% url logout %}?next={{ team.auth_provider.url }}" class="join button primary reduced">
                        {% trans 'Join via' %}
                        {% if team.auth_provider.image_url %}
                            <img src="{{ team.auth_provider.image_url }}" alt="{{ team.auth_provider.verbose_name }}"/>
                        {% else %}
                            {{ team.auth_provider.verbose_name }}
                        {% endif %}
                    </a>
                    <p class="notation">
                        {% trans 'You will be logged out and new account will be created via' %}
                        {{ team.auth_provider.verbose_name }}
                    </p>
                {% else %}
                    <a id="join" class="join button primary" onclick="return confirm('{% trans "Do you really wish to join this team?" %}')" href="{% url teams:join_team team.slug %}">{% trans "Join this team now!" %}</a>
                {% endif %}
            {% endif %}
            {% if team.is_by_application %}
                {% if team.auth_provider and user.partner != team.auth_provider.code %}
                    <a href="{% url logout %}?next={{ team.auth_provider.url }}" class="join button primary reduced">
                        {% trans 'Login via' %}
                        {% if team.auth_provider.image_url %}
                            <img src="{{ team.auth_provider.image_url }}" alt="{{ team.auth_provider.verbose_name }}"/>
                        {% else %}
                            {{ team.auth_provider.verbose_name }}
                        {% endif %}
                        {% trans 'to apply' %}
                    </a>
                    <p class="notation">
                        {% trans 'You will be logged out and new account will be created via' %}
                        {{ team.auth_provider.verbose_name }}
                    </p>
                {% else %}
                    {% if not team|has_applicant:user %}
                        {% include "teams/_application_form.html" %}
                    {% else %}
                        <p class="action-replacement">{% trans "Your application is pending" %}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if team.auth_provider %}
                <a href="{{ team.auth_provider.url }}" class="join button primary reduced">
                    {% trans 'Join via' %}
                    {% if team.auth_provider.image_url %}
                        <img src="{{ team.auth_provider.image_url }}" alt="{{ team.auth_provider.verbose_name }}"/>
                    {% else %}
                        {{ team.auth_provider.verbose_name }}
                    {% endif %}
                </a>
            {% else %}
                <a id="signin-join" class="join button primary" href="{% url auth:login %}?next={% url teams:join_team team.slug %}">{% trans "Join Team" %}</a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

<p class="notation">{% trans "Want to create your own subtitling team? Contact " %} <a href="mailto:enterprise@pculture.org">enterprise@pculture.org</a></p>