{% load i18n media_bundle %}

{% if page %}
<ul class="activity listing">
  {% for item in page %}
  <li>
    <span class="timestamp">{% blocktrans with time=item.created|timesince %}{{ time }} ago{% endblocktrans %}</span>

    {% if item.user %}
      <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
    {% endif %}

    {{ item.get_message|safe }}
  </li>
  {% endfor %}
</ul>

{% if page.has_next %}
<div class="pagination">
  <a class="show-more" href="" data-page="{{ page.next_page_number }}">{% trans "Show More" %}</a>
  <img class="loading-icon" src="{% static_url %}images/ajax-loader.gif">
</div>
{% endif %}
{% else %}
<p class="empty">{% trans "Sorry, no activity yet" %}...</p>
{% endif %}
