{% load i18n teams_tags query_string %}

<ul>
    <li {% if current != "applicants" and not role %}class="current"{% endif %}>
        <a href="{% url teams:detail_members team.slug %}{% query_string request.GET %}">All Members
          <span>{{team|members:"count"}}</span></a>
    </li>

    <li {% if role == "admin" %}class="current"{% endif %}>
        <a href="{% url teams:detail_members_role slug=team.slug,role="admin" %}{% query_string request.GET %}">Admins
          <span>{{team|owners_and_admins:"count"}}</span></a>
    </li>

    <li {% if role == "manager" %}class="current"{% endif %}>
        <a href="{% url teams:detail_members_role slug=team.slug,role="manager" %}{% query_string request.GET %}">Managers
          <span>{{team|managers:"count"}}</span></a>
    </li>

    <li {% if role == "contributor" %}class="current"{% endif %}>
        <a href="{% url teams:detail_members_role slug=team.slug,role="contributor" %}{% query_string request.GET %}">
          Contributors<span>{{team|contributors:"count"}}</span></a>
    </li>

    {% if team|can_approve_application:user %}
        <li{% if current == 'applicants' %} class="current"{% endif %}>
          <a href="{% url teams:applications slug=team.slug %}{% query_string request.GET %}"> 
            Applicants <span>{{team.applications.all.count }}</span>
            </a>
        </li>
    {% endif %}
</ul>
