{% load i18n %}

{% if task.get_subtitle_version %}
    {% trans "Resume" as link_text%}
{% else %}
    {% trans "Start now" as link_text%}
{% endif %} 

{% if task.needs_start_dialog %}
    <a class="perform perform-task-{{ task.pk }}" href="">{{ link_text }}</a>
    <script type="text/javascript">
        $('.perform-task-{{ task.pk }}').click(function() {
            var videoSource = unisubs.player.MediaSource.videoSourceForURL('{{ task.cached_video_url }}');
            var opener = new unisubs.widget.SubtitleDialogOpener(
                '{{ task.team_video.video.video_id }}',
                '{{ task.cached_video_url|safe }}',
                videoSource, null, null, 'fr'
            );
            {% if task.language %}
                opener.showStartDialog(null, {'LANGUAGE': '{{ task.language }}', 'FORCE': true});
            {% else %}
                opener.showStartDialog();
            {% endif %}

            return false;
        });
    </script>
{% else %}
    <a class="perform" href="{{ task.get_perform_url }}">{{ link_text }}</a>
{% endif %}
