{% if task.needs_start_dialog %}
<script type="text/javascript">
$('.perform-task-{{ task.pk }}').click(function() {
    var openDialog = function(){    
        var videoSource = unisubs.player.MediaSource.videoSourceForURL('{{ task.cached_video_url }}');
        var opener = new unisubs.widget.SubtitleDialogOpener(
            '{{ task.team_video.video.video_id }}',
            '{{ task.cached_video_url|safe }}',
            videoSource, null, null, 'fr'
        );
        {% if task.language %}
        opener.showStartDialog(null, {'LANGUAGE': '{{ task.language }}', 'FORCE': true});
        {% else %}
        opener.showStartDialog();
        {% endif %}
    };

    {% if task.assignee == request.user %}
    openDialog();
    {% else %}
    site.Utils.assignTask({{ task.pk }}, openDialog);
    {% endif %}

    return false;
});
</script>
{% else %}
<script type="text/javascript">
$('.perform-task-{{ task.pk }}').click(function(e) {
    var $link = $(e.target);
    $link.text('Loading...');
        
    {% if task.assignee != request.user %}
    site.Utils.assignTask({{ task.pk }}, function(){
        window.location = $link.attr('href');
    });

    return false;
    {% else %}
    return true;
    {% endif %}

});
</script>
{% endif %}
