<form action="" method="get" class="search">
    <fieldset>
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search&hellip;" />
    </fieldset>
</form>

<script type="text/javascript">
    $(function() {
        if ('{{ request.GET.q }}' !== '') {
            $searchFieldset = $('form.search fieldset');
            $searchFieldset.append('<a href="#" class="reset">x</a>');
            $('a.reset', $searchFieldset).click(function() {
                $(this).siblings('input[name="q"]')
                    .val('')
                    .attr('placeholder', 'Loading...');
                $(this).hide();
                $searchFieldset.parent().submit();
                return false;
            });
        }
    });
</script>
