{% load i18n %}

<ul>
    <li {% if current_sub == "settings" %}class="current"{% endif %}>
        <a href="{% url teams:settings_basic slug=team.slug %}">{% trans "Team Details" %}</a>
    </li>

    <li {% if current_sub == "guidelines" %}class="current"{% endif %}>
        <a href="{% url teams:settings_guidelines slug=team.slug %}">{% trans "Messages" %}</a>
    </li>

    <li {% if current_sub == "permissions" %}class="current"{% endif %}>
        <a href="{% url teams:settings_permissions slug=team.slug %}">{% trans "Workflows" %}</a>
    </li>

    <li {% if current_sub == "languages" %}class="current"{% endif %}>
        <a href="{% url teams:settings_languages slug=team.slug %}">{% trans "Languages" %}</a>
    </li>

    <li {% if current_sub == "projects" %}class="current"{% endif %}>
        <a href="{% url teams:settings_projects slug=team.slug %}">{% trans "Projects" %}</a>
    </li>
</ul>