{% load i18n teams_tags to_json %}

<li class="team_video_listing_{{ search_record.team_video_pk }}">

    <div class="thumb">
        <a href="{% url videos:video video_id=search_record.video_id %}" title="{{ search_record.video_title }}">
            <img src="{{ search_record.thumbnail }}" alt="{{ search_record.title }} thumbnail">
        </a>
        <a href="{% url videos:video video_id=search_record.video_id %}" class="languages">
            {% with num_total=search_record.num_total_langs num_complete=search_record.num_completed_langs %}
                {% if num_total %}
                    {% blocktrans count num_total as num %}
                        {{ num }} language
                    {% plural %}
                        {{ num }} languages
                    {% endblocktrans %}

                    {% if num_complete %}
                        {% blocktrans count num_complete as num %}
                            ({{ num }} completed)
                            {% plural %}
                            ({{ num }} completed)
                        {% endblocktrans %}
                    {% else %}
                        (no completed languages)
                    {% endif %}
                {% else %}
                    {% trans "No subtitles yet" %}
                {% endif %}
            {% endwith %}
        </a>
        {% if user_is_team_member %}
            {% if search_record.task_count %}
                <a class="callout" href="{% url teams:team_tasks slug=team.slug %}?team_video={{ search_record.team_video_pk }}" title="View available tasks for this video">
                        {% blocktrans count counter=search_record.task_count %}
                            1 task
                        {% plural %}
                            {{ counter }} tasks
                        {% endblocktrans %}
                </a>
            {% endif %}
        {% endif %}
        {% if can_edit_videos %}
            {% with search_record|can_edit_video:request.user as can_edit_this_video %}
                {% if can_edit_this_video %}
                    <ul class="admin-controls">
                        <li>
                            <a href="{% url teams:team_tasks slug=team.slug %}?team_video={{ search_record.team_video_pk }}" title="Manage tasks">{% trans 'Tasks' %}</a>
                        </li>

                        <li>
                            <a href="{% url teams:team_video team_video_pk=search_record.team_video_pk %}" title="Edit this video">{% trans 'Edit' %}</a>
                        </li>

                        <li>
                            <form action="{% url teams:remove_video team_video_pk=search_record.team_video_pk %}" method="post" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}" />
                            </form>
                            <a class="remove-video open-modal" href="#remove-modal" title="Remove this video from the team">{% trans 'Remove' %}</a>
                        </li>
                    </ul>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>

    <h3>
        <a href="{% url videos:video video_id=search_record.video_id %}">{{ search_record.title|truncatewords:9 }}</a>
    </h3>

    <script type="text/javascript">
        $('a.team_video_{{ search_record.team_video_pk }}').click(function(){
            unisubs.api.openUnisubsDialogOnsite(
                '{{search_record.video_id}}',
                '{{search_record.video_url}}',
                GLOBAL_WIDGET_SETTINGS
            );
            return false;
        });
    </script>
</li>
