{% extends "teams/base.html" %}

{% load i18n teams_tags paginator profiles_tags %}

{% block title %}
    {{ team }} | Amara
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with "activity" as current %}
            {% include "teams/_tabs.html" %}
        {% endwith %}

        {% if activity_list %}
            <ul class="activity listing">
                {% with 1 as medium_thumb %}
                    {% for item in activity_list %}
                        <li>{{ item.render }}</li>
                    {% endfor %}
                {% endwith %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no activity yet" %}...</p>
        {% endif %}
    </div>

{% endblock %}
