{% extends "teams/base.html" %}

{% load i18n %}

{% block html_attrs %}id="teams_activity"{% endblock %}
{% block body_attrs %}id="teams" class="v1"{% endblock %}
{% block title %}{{ team }} | Amara{% endblock %}

{% block view_content %}
    {% if team.is_old_style %}<div class="grid_8 view omega">{% else %}<div class="view">{% endif %}

        {% with "activity" as current %}
            {% include "teams/_tabs.html" %}
        {% endwith %}

        <div id="activity-list">
            {% include "teams/_activity-list.html" %}
        </div>
    </div>
{% endblock %}
