{% extends "teams/base.html" %}

{% load i18n %}

{% block html_attrs %}id="teams_activity"{% endblock %}
{% block body_attrs %}id="teams" class="v1"{% endblock %}
{% block title %}{{ team }} | Amara{% endblock %}

{% block view_content %}
    {% if team.is_old_style %}<div class="grid_8 view omega">{% else %}<div class="view">{% endif %}

        {% with "activity" as current %}
            {% include "teams/_tabs.html" %}
        {% endwith %}

        <div class="tools subnav">
            {% include 'teams/_subnav_activity.html' with current_sub=activity_tab %}
        </div>

	{% load query_string teams_tags %}
	<div class="filters group {% if filtered or request.GET.sort %}active{% endif %}">
	  <p>
	    {% if action_types %}
	    <div class="filter-chunk">
	      <span class="inner">{% trans 'Action Type' %}</span>
	      <select id="id_activity_type" name="type" class="type-filter chosen">
		<option value="{% query_string request.GET action_type='any' %}">
		  {% trans 'Any type' %}
		</option>
		{% for type in action_types %}
		<option value="{% query_string request.GET action_type=type.0 %}"
			{% if request.GET.action_type == type.0|slugify %}selected="selected"{% endif %}>
		  {{ type.1 }}
		</option>
		{% endfor %}
	      </select>
	    </div>
	    {% endif %}

	    {% if languages %}
	    <div class="filter-chunk">
	      <span class="inner">{% trans 'Language' %}</span>
	      <select id="id_language" name="language" class="language-filter chosen">
		<option value="{% query_string request.GET language='any' %}">
		  {% trans 'Any Language' %}
		</option>
		{% for language in languages %}
		<option value="{% query_string request.GET language=language %}"
			{% if request.GET.language == language %}selected="selected"{% endif %}>
		  {{ language|display_language }}
		</option>
		{% endfor %}
	      </select>
	    </div>
	    {% endif %}


	    <div class="filter-chunk">
	      <span class="inner">{% trans 'Sorted by' %}</span>
	      <select name="sort">
		<option {% if request.GET.sort == '-created' or not request.GET.sort %}selected="selected"{% endif %}
			value="{% query_string request.GET sort='-created' page='' %}">
		  {% trans 'date, newest' %}
		</option>
		<option {% if request.GET.sort == 'created' %}selected="selected"{% endif %}
			value="{% query_string request.GET sort='created' page='' %}">
		  {% trans 'date, oldest' %}
		</option>
	      </select>
	    </div>
	  </p>
	  {% if filtered or request.GET.sort %}
	  <a href="{{ request.path }}" class="clear-filters"
	     title="{% trans 'Clear all filters, sorts, and search terms' %}">{% trans 'Clear' %}</a>
	  {% endif %}
	</div>

        <div id="activity-list">
            {% include "teams/_activity-list.html" %}
        </div>
    </div>
{% endblock %}
