{% extends "teams/base.html" %}

{% load i18n teams_tags widget media_compressor form_helpers %}

{% block title %}
    {% trans 'Team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block view_content %}

    <div class="view grid_8 alpha">
        {% with 'videos' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}
        <form method='post' action="." enctype="multipart/form-data" class="add-video">
            <h3>{% trans 'Add multiple videos' %}</h3>
            
            <fieldset>
                {% include "_form_field.html" with field=form.usernames %}
                {% include "_form_field.html" with field=form.youtube_user_url %}

                {% smart_field_render form.feed_url %}
                {% smart_field_render form.save_feed%}
            </fieldset>
            <div class="submit">
                <button><span>{% trans 'Save' %}</span></button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}