{% extends "teams/base.html" %}

{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Team Aplications' %} | Amara
{% endblock %}

{% block html_attrs %}id="team_applications"{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $select = $("select#lang-filter, select#role-filter", ".tools");
            $select.change(function(e) {
                window.location = $(this).children('option:selected').attr('value');
            });
        });
    </script>
{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with 'members' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

        {% if applications_list %}
            {% if is_paginated %}{% paginator %}{% endif %}
            <ul class="members listing">
                {% for item in applications_list %}
                    <li>
                        <h3>
                            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
                            {% for lang in item.user.get_languages %}
                                <span class="descriptor">{{ lang.get_language_display }}</span>
                            {% endfor %}
                        </h3>
                        {% if item.note %}
                            <div class="application-note">
                                {{ item.note|urlize|linebreaksbr }}
                            </div>
                        {% endif %}
                        <a href="{{ item.user.get_absolute_url }}" class="thumb"><img src="{{ item.user.avatar }}" alt="{{ item.user }} avatar"></a>
                        {% if team|can_approve_application:user %}
                            <ul class="actions">
                                <li>
                                    <a href="{% url teams:approve_application team.slug item.user.pk %}">{% trans 'Approve' %}</a>
                                </li>
                                <li>
                                    <a href="{% url teams:deny_application team.slug item.user.pk %}">{% trans 'Deny' %}</a>
                                </li>
                                <li>
                                    <a href="{% url messages:new %}?user={{ item.user.username }}">
                                        {% trans 'Send a message' %}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "There are no applications right now" %}...</p>
        {% endif %}
    </div>
    
{% endblock %}
