{% extends "base.html" %}

{% load i18n teams_tags verbatim_templatetag %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block main_content %}
    {% if team.logo %}
        <a href="{{ team.get_absolute_url }}"><img class="logo" alt="{{ team }} logo" src="{{ MEDIA_URL }}{{ team.logo }}"/></a>
    {% else %}
        <h2 id="team_title"><a href="{{ team.get_absolute_url }}">{{ team }}</a></h2>
    {% endif %}

    {% block view_content %}{% endblock %}

    {% verbatim %}
    <script id="feedbackMessage" type="text/html">
        <div id="messages">
            <h2 class="{{type}}">{{msg}}</h2>
            <a id="closeBut" style="display: block; float: right;" href="#">x</a>
        </div>
    </script>
    {% endverbatim %}

{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url admin:teams_team_change team.pk %}" target="blank">{% trans 'Edit team' %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}