{% extends "base.html" %}

{% load i18n teams_tags verbatim_templatetag %}
{% load url from future %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block main_content %}
    <div class="header">
        {% if team.logo %}
            <a class="logo-image" href="{{ team.get_absolute_url }}">
                <img class="logo" alt="{{ team }} logo" src="{{ MEDIA_URL }}{{ team.logo }}"/>
            </a>
        {% endif %}
    </div>

    {% if team.is_old_style %}
    <div class="grid_4 context alpha">
        {% include 'teams/_context_team.html' %}
    </div>
    {% else %}
    <h2 class="main-title">{{ team }}</h2>
    {% endif %}

    {% block view_content %}{% endblock %}

    {% verbatim %}
    <script id="feedbackMessage" type="text/html">
        <div id="messages">
            <h2 class="{{type}}">{{msg}}</h2>
            <a id="closeBut" href="#">x</a>
        </div>
    </script>
    {% endverbatim %}

{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url "admin:teams_team_change" team.pk %}" target="blank">{% trans 'Edit team' %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
