{% extends "teams/base.html" %}

{% load i18n to_json utils_tags teams_tags paginator markup media_compressor profiles_tags videos_tags %}

{% block title %}
    {% trans 'Dashboard' %} - {{ team }} | Amara
{% endblock %}

{% block body_attrs %}class="v1 team_dashboard" id="teams"{% endblock %}
{% block html_attrs %}id="team_dashboard"{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-offsite-compiled" %}
    {% include_bundle "js-teams" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        window.WIDGET_SETTINGS = {{ widget_settings|to_json|safe }};
        window.REQUEST_GET_LANG = '{{ request.GET.lang }}';
        window.ASSIGN_TASK_AJAX_URL = '{% url teams:assign_task_ajax slug=team.slug %}';
        window.CURRENT_USER_ID = {% firstof request.user.id -1 %};
        window.TEAM_SLUG = '{{ team.slug }}';
        window.USER_LANGS = {{ user.get_languages.count }};
        unisubs.languages = [];
    </script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog %}
{% endblock %}

{% block view_content %}

    <div class="grid_8 view omega{% if team.get_workflow.requires_review_or_approval %} moderated{% endif %}{% if team.workflow_enabled %} task-enabled{% endif %}">
        {% with "dashboard" as current %}
            {% if not project %}
                {% include 'teams/_tabs.html' %}
            {% else %}
                {% include 'teams/_tabs_projects.html' %}
            {% endif %}
        {% endwith %}

        {% if team|is_team_member:user %}
            {% if user_tasks %}
                <h3>
                    {% trans "Videos you're working on" %}
                    <a href="{% url teams:team_tasks team.slug %}?assignee=me&lang=all">Manage your tasks</a>
                </h3>

                <ul class="listing tasks yours">
                    {% for task in user_tasks %}
                        <li>
                            <h3><a href="{{ task.team_video.video.get_absolute_url }}" title="View video">
                                {{ task.team_video.video.title_display }}
                            </a></h3>
                            <a href="{{ task.team_video.video.get_absolute_url }}" class="thumb"><img src="{{ task.team_video.get_thumbnail }}" alt="{{ task.team_video.title }}"></a>
                            <ul class="actions">
                                <li>
                                    <a href="{{ task.get_widget_url }}" class="perform-task perform-task-{{ task.pk }} button reduced" id="task-{{ task.id }}">
                                        {% if task.get_type_display == 'Subtitle' or task.get_type_display == 'Translate' %}
                                            {% trans "Create" %} {{ task.get_language_display }} {% trans "subtitles" %}
                                        {% else %}
                                            {{ task.get_type_display }}
                                            {{ task.get_language_display }} {% trans "subtitles" %}
                                        {% endif %}
                                    </a>
                                    {% include "teams/_perform_task_js.html" %}
                                </li>
                                {% if task.expiration_date != None %}
                                    <li>
                                        {% if task.future %}
                                            <span class="due">{% trans "Due in" %} {{ task.expiration_date|timeuntil }}</span>
                                        {% else %}
                                            <span class="due overdue">{% trans "Overdue by" %} {{ task.expiration_date|timesince }}</span>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %} {# user has no tasks #}
                <div class="get-started">
                    <h3>{% trans "Helping out is easy!" %}</h3>
                    <p>
                        {% blocktrans %}
                            Just find a video that interests you and click the button below it to get started!
                        {% endblocktrans %}
                    <p>
                    <p class="prompt"><a href="http://support.universalsubtitles.org/solution/categories/13504">{% trans "Learn more" %}</a>{% trans " about subtitling in Amara." %}</p>
                </div>
            {% endif %}
        {% else %} {# user is not a team member #}
            <div class="get-started">
                <h3>{% trans "Welcome!" %}</h3>
                {% if not team.is_open and not team.is_by_application %} {# team is by invite only #}
                    <p>This team is invitation only. If you're interested in helping out, <a href="{% url teams:detail_members slug=team.slug %}admin/">contact a team admin</a>.</p>
                {% else %}
                    <p>
                        {% blocktrans %}
                            We've got lots of great content that we'd love your help with.
                        {% endblocktrans %}
                    </p>
                    {% include "teams/_join.html" %}
                {% endif %}
            </div>
        {% endif %}
            
        {% if videos %}
            <h3>
                {% if team|is_team_member:user %}
                    {% trans "Videos that need your help" %}
                {% else %}
                    {% trans "Some of the videos we're working on now" %}
                {% endif %}
            </h3>

            {% if user.is_authenticated and not user.get_languages %}
                <p class="prompt">
                    <a href="#" data-modal="language_modal" id="lang_select_btn">{% trans 'Tell us what languages you speak' %}</a> {% trans "and we'll personalize this list for you" %}
                </p>
            {% endif %}

            {% if not member.has_max_tasks %}

                <ul class="listing videos">
                    {% for team_video in videos %}
                        <li>
                            <div class="thumb">
                                <a href="{{ team_video.video.get_absolute_url }}" title="{{ team_video.video.get_title_display }}">
                                    <img src="{{ team_video.get_thumbnail }}" alt="{{ video.title }}">
                                </a>
                                <h4>
                                    <a href="{{ team_video.video.get_absolute_url }}" title="{{ team_video.video.get_title_display }}">
                                        {{ team_video.video.title_display|truncatewords:15 }}
                                        {% if team_video.video.duration %}
                                            <span class="duration">{{ team_video.video.duration|format_duration }}</span>
                                        {% endif %}
                                    </a>
                                </h4>
                            </div>
                            {% if team|is_team_member:user %}
                                <div class="langs">
                                    {% if team.workflow_enabled %}
                                        {% if team_video.tasks|length > 1 %}
                                            <a href="#" class="dropdown">
                                                {{ team_video.tasks|length }}
                                                {% trans " languages need your help" %}
                                            </a>
                                            <div>
                                                <span class="expand">{% trans "View all" %}</span>
                                                <ul>
                                                    {% for task in team_video.tasks %}
                                                        <li>
                                                            <a class="perform-task-{{ task.pk }}" href="{{ task.get_widget_url }}" title="Get started now">
                                                                {% if task.get_type_display == 'Subtitle' %}
                                                                    {% trans "Create Subtitles" %}
                                                                {% else %}
                                                                    {{ task.get_type_display }}
                                                                    {% if task.get_language_display %}
                                                                        {{ task.get_language_display }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                        {% include "teams/_perform_task_js.html" %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %} {# there is only one task for this video #}
                                            {% with task=team_video.tasks|first %}
                                            <a href="{{ task.get_widget_url }}" class="perform-task-{{ task.pk }}" title="Get started now">
                                                    {% if task.get_type_display == 'Subtitle' or task.get_type_display == 'Translate' %}
                                                        Create {{ task.get_language_display }} subtitles
                                                    {% else %}
                                                        {{ task.get_type_display }}
                                                        {{ task.get_language_display }} subtitles
                                                    {% endif %}
                                                </a>
                                                {% include "teams/_perform_task_js.html" %}
                                            {% endwith %}
                                        {% endif %}
                                    {% else %} {# this is a non-task team #}
                                        {% if team_video.video.languages_count < 1 or not user.get_languages %}
                                            <a href="#" class="video-{{ team_video.id }}" title="Get started now">{% trans 'Create subtitles' %}</a>
                                        {% else %} {# this video already has languages #}
                                            {% if team_video.languages|length > 1 %}
                                                <a href="#" class="dropdown">
                                                    {{ team_video.languages|length }}
                                                    {% trans " languages need your help" %}
                                                </a>
                                                <div>
                                                    <span class="expand">{% trans "View all" %}</span>
                                                    <ul>
                                                        {% for lang in team_video.languages %}
                                                            <li>
                                                                <a href="#" data-lang="{{ lang.language }}" class="video-{{ team_video.id }}" title="Get started now">
                                                                    {% trans "Create " %}
                                                                    {{ lang.get_language_display }}
                                                                    {% trans " Subtitles" %}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% else %} {# there is only one language user can work on #}
                                                {% for lang in team_video.languages %}
                                                <a href="#" class="video-{{ team_video.id }}" data-lang="{{ lang.language }}" title="Get started now">
                                                        {% trans "Create " %}
                                                        {{ lang.get_language_display }}
                                                        {% trans " Subtitles" %}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                        {% with v=team_video.video %}
                                            <script type="text/javascript">
                                                $('.video-{{ team_video.id }}').click(function(){
                                                    var vs = unisubs.player.MediaSource.videoSourceForURL('{{ v.get_video_url|safe }}');
                                                    var op = new unisubs.widget.SubtitleDialogOpener('{{ v.video_id }}', '{{ v.get_video_url|safe }}');

                                                    {% if v.languages_count < 1 or not user.get_languages %}
                                                    op.showStartDialog(null);
                                                    {% else %}
                                                    op.showStartDialog(null, {'LANGUAGE': $(this).data("lang"), 'FORCE': true });
                                                    {% endif %}
                                                    return false;
                                                });
                                            </script>
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %} {# member already has max tasks #}
                <p class="empty">
                    {% trans "Sorry, you've reached the maximum number of tasks for this team." %}
                </p>
                <ul class="suggestions">
                    <li>
                        <a href="{% url teams:team_tasks team.slug %}?assignee=me&lang=all">Manage your tasks</a>
                    </li>
                </ul>
            {% endif %}
        {% else %} {# there are no videos to show #}
            {% if team|is_team_member:user %}
                <h3>{% trans "Videos that need your help" %}</h3>
                <p class="empty">
                    {% trans "Sorry, we couldn't find any videos for you." %}
                </p>
                <ul class="suggestions">
                    <li>
                        <a href="#" data-modal="language_modal" id="lang_select_btn">{% trans "Update your language preferences" %}</a>
                    </li>
                    <li>
                        <a href="{% url teams:detail team.slug %}">Browse all videos</a>
                    </li>
                    {% if can_add_video %}
                        <li><a href="{% url teams:add_video team.slug %}">{% trans "Add videos to the team" %}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
    <script type="text/javascript">
        unisubs.widget.WidgetController.makeGeneralSettings(window.WIDGET_SETTINGS);
        $('.add-subtitles').click(function() {
            widget_widget_div.selectMenuItem(
            unisubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
            return false;
        });

        $('.add-translation').click(function() {
            widget_widget_div.selectMenuItem(
            unisubs.widget.DropDown.Selection.ADD_LANGUAGE);
            return false;
        });
    </script>
{% endblock %}
