{% extends "teams/base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};
        var VIDEO_LANGS = {};

        $(function() {
            $("select", ".controls").chosen();
            $("select#lang-filter", ".controls").change(function(e) {
                var select = $("select#lang-filter", ".controls");
                var lang = select.val();

                if (lang !== '') {
                    $.each(VIDEO_LANGS, function(pk, langs) {
                        var listing = $('.videos.listing > li.team_video_listing_' + pk);

                        if ($.inArray(lang, langs) === -1) {
                            listing.hide();
                        } else {
                            listing.show();
                        }
                    });
                } else {
                    $('.videos.listing > li').show();
                }
            });

            $(":checkbox", ".admin-controls").bind('change', function(){
                var menu = $(this).parents('.admin-controls');
                if($(this).attr('checked')) {
                    menu.addClass('selected');
                } else {
                    menu.removeClass('selected');
                }
            });
        });
    </script>
{% endblock %}

{% block select_language_dialog %}
	{% select_language_dialog %}
{% endblock %}

{% block view_content %}

    {% with "videos" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        {% if team|can_add_video_to_team:user %}
            <div class="tools">
                <a href="{% url teams:add_video team.slug %}" class="button">{% trans "Add Videos" %}</a>
            </div>
        {% endif %}

        {% if not team.page_content and team.video %}
            {% widget widget_params %}
        {% endif %}
        
        {% if team_video_md_list %}
            <ul class="videos listing">
                {% for md_obj in team_video_md_list %}
                    {% team_video_detail md_obj %}
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no videos here" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        {% include "teams/_filters_videos.html" %}
        <div class="refine">
            <h4>Refine</h4>
            <form class="search"><fieldset><input type="text" value="Search..."/></fieldset></form>
            <select name="lang-filter" id="lang-filter">
                <option value="">All languages</option>
                {% for code, name in language_choices %}
                    <option value="{{ code }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        {% include "teams/_actions.html" %}
    </div>

{% endblock %}
