{% extends "teams/base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Universal Subtitles
{% endblock %}

{% block view_content %}
    {% with "settings" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <div class="tools group">
            <a class="button project-add" href="{% url teams:add_project slug=team.slug %}">Add Project</a>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="grid_4 alpha">
                <fieldset>
                    <legend>Add new project</legend>

                    <label for="id_name">Name</label>
                    {{ form.errors.name }}
                    {{ form.name }}

                    <label for="id_description">Description</label>
                    {{ form.errors.description }}
                    {{ form.description }}
                </fieldset>
            </div>

            <div class="grid_4 omega">
                <fieldset>
                    <legend>Workflows</legend>
                    <p class="notation">Moderate this project's subtitles. Will override the team's workflow if exists.</p>

                    <label for="id_workflow_enabled">{{ form.workflow_enabled }} Enable workflows</label>
                </fieldset>

                <div class="workflow">
                    <fieldset id="workflow">
                        <label for="id_autocreate_subtitle">
                            {{ workflow_form.autocreate_subtitle }}
                            Automatically create subtitle tasks
                        </label>

                        <label for="id_autocreate_translate">
                            {{ workflow_form.autocreate_translate }}
                            Automatically create translation tasks
                        </label>

                        <label for="id_review_allowed">Review</label>
                        {{ workflow_form.review_allowed }}

                        <label for="id_approve_allowed">Approval</label>
                        {{ workflow_form.approve_allowed }}
                    </fieldset>
                </div>
            </div>

            <div class="grid_9 submit">
                <a class="button delete project-delete">Delete</a>
                <a class="button cancel project-cancel">Cancel</a>
                <a class="button save project-save">Save</a>
                <input type="submit" class="submit save" value="Save Changes" name="save" />
            </div>
        </form>

        {% include "teams/_basic_settings.html" %}
    </div>

    <div class="controls grid_3 omega ">
        {% with "projects" as current_sub %}
            {% include "teams/_settings_sub_tabs.html" %}
        {% endwith %}

        {% include "teams/_actions.html" %}
    </div>

    <script type="text/javascript">
        $(window).load(function(){
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
