{% extends "teams/base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Universal Subtitles
{% endblock %}

{% block view_content %}
    {% with "settings" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="panel-holder view grid_9 alpha">
        <div class="tab panel-projects">
            <div class="panel-permissions">
                <form class="permissions" action="" method="POST">
                    {% csrf_token %}

                    <div class="grid_4 alpha messages">
                        <fieldset>
                            <legend>Team Management</legend>
                            <label for="id_membership_policy">How can users join your team?</label>
                            {{ form.membership_policy }}

                            <label for="id_video_policy">Who can add/remove videos?</label>
                            {{ form.video_policy }}
                        </fieldset>

                        <fieldset>
                            <legend>Subtitling</legend>

                            <label for="id_subtitle_policy">Who can create subtitles?</label>
                            <p class="notation">i.e. transcribe from video and perform time-alignment</p>
                            {{ form.subtitle_policy }}

                            <label for="id_translate_policy">Who can translate subtitles?</label>
                            <p class="notation">i.e. translate text from an original subtitle into a new language</p>
                            {{ form.translate_policy }}
                        </fieldset>
                    </div>
                    <div class="grid_4 omega guidelines">
                        <fieldset>
                            <legend>Tasks</legend>

                            <p class="notation">Manage subtitling and translation work for your videos</p>
                            <label for="id_task_assign_policy">Who can create and assign tasks?</label>
                            {{ form.task_assign_policy }}
                            <p class="notation">Specified members will only be able to create/assign tasks they are permitted to complete themselves</p>
                        </fieldset>

                        <fieldset>
                            <legend>Workflows</legend>

                            <p class="notation">Workflows enable you to add moderation steps and automate tasks</p>
                            <label for="id_workflow_enabled">{{ form.workflow_enabled }} Enable workflows</label>
                        </fieldset>

                        <div class="workflow">
                            <fieldset id="workflow">
                                <label for="id_autocreate_subtitle">
                                    {{ workflow_form.autocreate_subtitle }}
                                    Automatically create subtitle tasks
                                </label>

                                <label for="id_autocreate_translate">
                                    {{ workflow_form.autocreate_translate }}
                                    Automatically create translation tasks
                                </label>

                                <label for="id_review_allowed">Review</label>
                                {{ workflow_form.review_allowed }}

                                <label for="id_approve_allowed">Approval</label>
                                {{ workflow_form.approve_allowed }}
                            </fieldset>
                        </div>
                    </div>

                    <div class="grid_9 submit">
                        <input type="submit" class="submit save" value="Save Changes" name="save" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="controls grid_3 omega ">
        {% with "permissions" as current_sub %}
            {% include "teams/_settings_sub_tabs.html" %}
        {% endwith %}

        {% include "teams/_actions.html" %}
    </div>

    <script type="text/javascript">
        $(window).load(function(){
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
