{% extends "teams/base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Universal Subtitles
{% endblock %}

{% block view_content %}
    {% with "settings" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="panel-holder view grid_9 alpha">
        <div class="tab panel-projects" style="">
            <div class="panel-basic">
                <div id="basic_settings_form">
                    <form class="team-settings" enctype="multipart/form-data" method="POST" action="">
                        {% csrf_token %}

                        <div class="grid_4 alpha">
                            <fieldset>
                                <legend>Team Details</legend>

                                <label for="id_name">Name</label>

                                {% if team|can_rename_team:request.user %}
                                    {{ form.name }}
                                {% else %}
                                    <input id="id_name" type="text" name="name" value="{{ team.name }}" disabled="disabled" />
                                {% endif %}

                                <label for="basic_slug">Team URL</label>
                                <input id="basic_slug" type="text" name="slug" disabled="disabled" value="" />
                                <p class="notation">http://universalsubtitles.org/teams/<em>team_slug</em></p>

                                <label for="basic_description">Description</label>
                                {{ form.description }}
                                <p class="notation">All urls will be converted to links.</p>
                            </fieldset>
                        </div>

                        <div class="grid_4 omega">
                            <fieldset>
                                <legend>Display Settings</legend>

                                <label for="id_logo">Logo/Banner</label>
                                {% if team.logo %}
                                    <img id="current_logo" src="{{ team.logo_thumbnail }}"/>
                                {% endif %}
                                <input type="file" id="id_logo" name="logo" />
                                <p class="notation">Max 940 x 235</p>

                                <label for="id_is_visible">{{ form.is_visible }} Publicly visible?</label>
                            </fieldset>
                        </div>

                        <div class="grid_9 submit">
                            {% comment %}
                                TODO: This button should only be displayed if the logged-in-user has the Owner role for this team.
                            {% endcomment %}
                            <input type="submit" class="button delete project-delete" onclick="return confirm('{% trans "Do you really wish to delete this team?" %}')" value="Delete team" />

                            <input type="submit" class="submit save" value="Save Changes" name="save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include "teams/_basic_settings.html" %}
    </div>

    <div class="controls grid_3 omega ">
        {% with "settings" as current_sub %}
            {% include "teams/_settings_sub_tabs.html" %}
        {% endwith %}

        {% include "teams/_actions.html" %}
    </div>

    <script type="text/javascript">
        $(window).load(function(){
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
