{% extends "teams/base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag query_string %}

{% block scripts %}
    {{ block.super }}
    {% include "utils/chosenify.html" %}
    {% include_bundle "js-teams-tasks-panel" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ team }} {% trans 'Tasks' %} | Universal Subtitles
{% endblock %}

{% block view_content %}

    {% with "tasks" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="panel-holder view grid_9 alpha">
        <ul class="tasks listing">
            {% for task in tasks %}
                <li>
                    <h3>
                        {% if task.language_display %}
                            Translate to {{ task.language_display }}:
                        {% else %}
                            Transcribe:
                        {% endif %}

                        <a href="{{ task.team_video_url }}">{{ task.team_video_display }}</a>
                        <span class="descriptor">
                            {{ task.type }}
                        </span>
                        {% if task.ghost %}
                            <span class="descriptor">GHOST</span>
                        {% endif %}

                        {% if task.completed %}
                            <span class="descriptor">COMPLETED</span>
                        {% endif %}
                    </h3>
                    <p class="done">
                        <span>
                            Status:
                            {% if not task.assignee %}
                                Awaiting assignment.
                            {% else %}
                                In-progress.
                            {% endif %}
                        </span>

                        {{ stepDisplay }}
                    </p>
                    <ul class="actions">
                        <li>
                            {% if task.assignee_display %}
                                Assigned to {{ task.assignee_display }}
                            {% endif %}

                            {% if task.perform_allowed %}
                                <form action="{% url teams:perform_task %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{ task.pk }}" />

                                    {% if task.perform_allowed %}
                                        <a class="perform" href="{% url teams:perform_task %}">Perform Task</a>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </li>
                    </ul>

                    {% if task.delete_allowed or task.assign_allowed %}
                    <ul class="admin-controls">
                        {% if task.assign_allowed %}
                        <li>
                            <a class="action-assign" href="#">
                                {% if task.assignee_display %}
                                    Reassign
                                {% else %}
                                    Assign
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        {% if task.delete_allowed %}
                        <li>
                            <form action="{% url teams:delete_task slug=team.slug %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />

                                {% if task.ghost %}
                                    <input type="hidden" name="is_ghost" value="1" />
                                    <input type="hidden" name="team_video" value="{{ task.team_video }}" />
                                    <input type="hidden" name="language" value="{{ task.language }}" />
                                {% else %}
                                    <input type="hidden" name="task" value="{{ task.pk }}" />
                                    <input type="hidden" name="is_ghost" value="" />
                                {% endif %}
                                <a class="action-delete" href="{% url teams:delete_task slug=team.slug %}">Remove</a>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% if task.assign_allowed %}
                        <form class="assign-form" action="{% url teams:assign_task slug=team.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />

                            {% if task.ghost %}
                                <input type="hidden" name="is_ghost" value="1" />
                                <input type="hidden" name="team_video" value="{{ task.team_video }}" />
                                <input type="hidden" name="language" value="{{ task.language }}" />
                            {% else %}
                                <input type="hidden" name="task" value="{{ task.pk }}" />
                                <input type="hidden" name="is_ghost" value="" />
                            {% endif %}

                            <div class="assignee-choice" style="display: none;">
                                <a class="cancel" href="#">Cancel</a>
                                <div class="ajaxChosen">
                                    {{ assign_form.assignee }}
                                </div>
                                <a class="button action-assign-submit" href="{% url teams:assign_task slug=team.slug %}">Assign to User</a>
                            </div>
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li class="empty">Sorry, no tasks here.</li>
            {% endfor %}
        </ul>

        {% if is_paginated %}{% paginator %}{% endif %}
    </div>

    <div class="controls grid_3 omega">
        <form id="tasks_type_filter">
            <ul class="types">
                <li class="type {% if not request.GET.type %}current{% endif %}">
                    <a href="?">
                        All Pending
                        <span class="all">{{ category_counts.all }}</span>
                    </a>
                </li>
                <li class="type {% if request.GET.type == "Review" %}current{% endif %}">
                    <a href="{% query_string type="Review" %}">
                        Review
                        <span class="review">{{ category_counts.review }}</span>
                    </a>
                </li>
                <li class="type {% if request.GET.type == "Approve" %}current{% endif %}">
                    <a href="{% query_string type="Approve" %}">
                        Approve
                        <span class="approve">{{ category_counts.approve }}</span>
                    </a>
                </li>
                <li class="type {% if request.GET.type == "Translate" %}current{% endif %}">
                    <a href="{% query_string type="Translate" %}">
                        Translate
                        <span class="translate">{{ category_counts.translate }}</span>
                    </a>
                </li>
                <li class="type {% if request.GET.type == "Subtitle" %}current{% endif %}">
                    <a href="{% query_string type="Subtitle" %}">
                        Subtitle
                        <span class="subtitle">{{ category_counts.subtitle }}</span>
                    </a>
                </li>
            </ul>
        </form>

        <div class="refine">
            <h4>Refine</h4>

            <form action="" method="get">
                <select id="id_task_language" name="language" class="lang-filter chosen">
                    <option value="">All Languages</option>
                    {% for language in languages %}
                        <option value="{{ language.code }}"
                        {% if request.GET.lang == language.code %}
                            selected="selected" 
                        {% endif %}>{{ language.name }}</option>
                    {% endfor %}
                </select>
            </form>

            <form action="" method="get">
                <select name="assignee" class="assignee-filter">
                    <option value="" {% if not request.GET.assignee %}selected="selected"{% endif %}>All Assignees</option>
                    <option value="me" {% if request.GET.assignee == "me" %}selected="selected"{% endif %}>Assigned to me</option>
                    <option value="none" {% if request.GET.assignee == "none" %}selected="selected"{% endif %}>Unassigned</option>
                </select>
            </form>
        </div>

        {% include "teams/_actions.html" %}
    </div>

    <script type="text/javascript">
        $(function() {
            $language = $("select.lang-filter", ".controls");
            $language.change(function(e) {
                var lang = $language.val();
                if (lang !== '') {
                    window.location = document.URL.split("?")[0] + '?lang=' + lang;
                } else {
                    window.location = document.URL.split("?")[0];
                }
            });

            $assignee = $("select.assignee-filter", ".controls");
            $assignee.change(function(e) {
                var a = $assignee.val();
                if (a !== '') {
                    window.location = document.URL.split("?")[0] + '?assignee=' + a;
                } else {
                    window.location = document.URL.split("?")[0];
                }
            });

            $('a.action-assign').click(function(e) {
                $(e.target).parents('.admin-controls')
                           .siblings('form.assign-form')
                               .children('div.assignee-choice')
                                   .fadeIn('fast')
                                   .find('.chzn-container')
                                       .css('width', '100%');
                return false;
            });
            $('.assignee-choice a.cancel').click(function(e) {
                $(e.target).parents('.assignee-choice').fadeOut('fast');
                return false;
            });

            $('a.action-assign-submit, a.action-delete, a.perform').click(function(e) {
                $(e.target).closest('form').submit();
                return false;
            });
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
