{% extends "teams/base.html" %}
{% load to_json i18n teams_tags paginator doorman media_compressor verbatim_templatetag query_string utils_tags %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "utils/chosenify.html" %}

    {% include_bundle "unisubs-offsite-compiled" %}
    {% include_bundle "js-teams" %}

    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/unisubs.filters.js" type="text/javascript"></script>
    <script type="text/javascript">
        unisubs.widget.WidgetController.makeGeneralSettings({{ widget_settings|to_json|safe }});
    </script>
{% endblock %}

{% block title %}
    {{ team }} {% trans 'Tasks' %} | Universal Subtitles
{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with "tasks" as current %}
            {% if not project %}
                {% include 'teams/_tabs.html' %}
            {% else %}
                {% include 'teams/_tabs_projects.html' %}
            {% endif %}
        {% endwith %}

        <div class="tools group">
            {% include "teams/_search.html" %}
            {% if filters.team_video != None %}
                {% can_create_any_task_for_teamvideo filters.team_video request.user %}
                {% if user_can_create_any_task %}
                    <a class="button" href="{% url teams:create_task slug=team.slug team_video_pk=request.GET.team_video %}">{% trans 'Add Task' %}</a>
                {% endif %}
            {% endif %}
            <a href="#filter" id="sort-filter">
                {% trans 'Filter and Sort' %}
                <span></span>
            </a>
        </div>

        <div class="filters {% if filtered or request.GET.sort %}active{% endif %}">
            <p>
                <select id="id_task_type" name="type" class="type-filter chosen">
                    <option value="{{ request.path }}{% query_string request.GET type="" %}">{% trans 'All' %}</option>
                    <option value="{% query_string request.GET type='Subtitle' %}" {% if request.GET.type == 'Subtitle' %}selected="selected"{% endif %}>{% trans 'Subtitle' %}</option>
                    <option value="{% query_string request.GET type='Translate' %}" {% if request.GET.type == 'Translate' %}selected="selected"{% endif %}>{% trans 'Translate' %}</option>
                    {% if team|review_enabled %}
                        <option value="{% query_string request.GET type='Review' %}" {% if request.GET.type == 'Review' %}selected="selected"{% endif %}>{% trans 'Review' %}</option>
                    {% endif %}
                    {% if team|approve_enabled %}
                        <option value="{% query_string request.GET type='Approve' %}" {% if request.GET.type == 'Approve' %}selected="selected"{% endif %}>{% trans 'Approve' %}</option>
                    {% endif %}
                </select>
                <span class="inner">{% trans 'tasks for' %}</span>
                <select id="id_task_language" name="language" class="lang-filter chosen">
                    <option value="{{ request.path }}{% query_string request.GET lang="" %}">{% trans 'all languages' %}</option>
                    {% for language in languages %}
                        <option value="{% query_string request.GET lang=language.code %}"
                            {% if request.GET.lang == language.code %}
                                selected="selected"
                            {% endif %}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
                <span class="inner">{% trans 'assigned to' %}</span>
                <select name="assignee" class="assignee-filter">
                    <option value="{{ request.path }}{% query_string request.GET assignee='' %}" {% if not request.GET.assignee %}selected="selected"{% endif %}>{% trans 'anyone' %}</option>
                    <option value="{% query_string request.GET assignee='me' %}" {% if request.GET.assignee == 'me' %}selected="selected"{% endif %}>{% trans 'me' %}</option>
                    <option value="{% query_string request.GET assignee='none' %}" {% if request.GET.assignee == 'none' %}selected="selected"{% endif %}>{% trans 'no one' %}</option>
                </select>
                {% trans 'sorted by' %}
                <select name="sort">
                    <option {% if request.GET.sort == '-created' or not request.GET.sort %}selected="selected"{% endif %} value="{% query_string request.GET sort='-created' %}">
                        {% trans 'date, newest' %}
                    </option>
                    <option {% if request.GET.sort == 'created' %}selected="selected"{% endif %} value="{% query_string request.GET sort='created' %}">
                        {% trans 'date, oldest' %}
                    </option>
                    {% if team.task_expiration != None %}
                        <option {% if request.GET.sort == '-expires' %}selected="selected"{% endif %} value="{% query_string request.GET sort='-expires' %}">
                            {% trans 'time left, least' %}
                        </option>
                        <option {% if request.GET.sort == 'expires' %}selected="selected"{% endif %} value="{% query_string request.GET sort='expires' %}">
                            {% trans 'time left, most' %}
                        </option>
                    {% endif %}
                </select>
                {% if filtered or request.GET.sort %}
                    <a href="{{ request.path }}" class="clear-filters" title="{% trans 'Clear all filters and search terms' %}">{% trans 'Clear' %}</a>
                {% endif %}
            </p>
        </div>

        {% if filters.team_video %}
            <p class="view-notice">
                {% trans 'Video' %}: <strong>{{ filters.team_video }}</strong>
            </p>
        {% endif %}

        {% if tasks %}
            <ul class="tasks listing">
                {% for task in tasks %}
                    <li>
                        <h3>
                            {% if task.get_type_display == "Subtitle" %}
                                {% trans 'New' %}
                            {% else %}
                                {{ task.get_type_display }}
                                {% if task.get_type_display == 'Review' or task.get_type_display == 'Approve' %}
                                    {% if task.team_video.video.has_original_language %}
                                        Original
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if task.get_type_display == "Translate" %}
                                {% trans 'Subtitles into' %} {{ task.get_language_display }}
                            {% else %}
                                {% trans 'Subtitles' %}
                                {% if task.get_language_display %}
                                    ({{ task.get_language_display }})
                                {% endif %}
                            {% endif %}
                        </h3>
                        <p>{% trans "Video" %}: <a href="{{ task.team_video.video.get_absolute_url }}">{{ task.team_video|truncatewords:6 }}</a></p>
                        {% if task.get_type_display == 'Review' or task.get_type_display == 'Approve' %}
                            <p>{% trans 'Subtitles' %}: <a href="{{ task.subtitle_version.language.get_absolute_url }}">{% trans 'View draft' %}</a></p>
                        {% endif %}
                        <a href="{{ task.team_video.video.get_absolute_url }}" class="thumb"><img src="{{ task.team_video.video.thumbnail }}" alt="{{ task.team_video.title }}"></a>
                        <ul class="actions">
                            <li>
                                <h4>
                                    {% if task.assignee %}
                                        {% trans 'Assigned to' %}
                                        {% if task.assignee == user %}
                                            {% trans 'me' %}
                                        {% else %}
                                             {{ task.assignee }}
                                        {% endif %}
                                    {% else %}
                                        {% trans 'Unassigned' %}
                                    {% endif %}
                                </h4>
                            </li>
                            {% if task.expiration_date != None %}
                                <li>Due in {{ task.expiration_date|timeuntil }}</li>
                            {% endif %}

                            {% if task|can_perform_task:user %}
                                {% if task.assignee == user %}
                                    <li>
                                        {% include "teams/_perform_task_link.html" %}
                                    </li>
                                {% else %}
                                    {% if task.assignee == None %}
                                        <li>
                                            <a class="assign-and-perform" href="#" data-id="{{ task.pk }}">
                                                {% trans 'Perform Task' %}
                                            </a>
                                        </li>
                                        <li class="hidden-perform-link" style="display: none;">
                                            {% include "teams/_perform_task_link.html" %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </ul>

                        {% if task|can_delete_task:user or task|can_assign_task:user %}
                            <ul class="admin-controls">
                                {% if task|can_assign_task:user %}
                                    <li>
                                        <a class="action-assign" href="#">
                                            {% if task.assignee %}
                                                {% trans 'Reassign' %}
                                            {% else %}
                                                {% trans 'Assign' %}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if task|can_delete_task:user %}
                                    <li>
                                        <form action="{% url teams:delete_task slug=team.slug %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />

                                            <input type="hidden" name="task" value="{{ task.pk }}" />
                                            <a class="action-delete" href="{% url teams:delete_task slug=team.slug %}" onclick="return confirm('{% trans 'Are you sure you want to delete this task?' %}');">{% trans 'Delete' %}</a>
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        {% if task|can_assign_task:user %}
                            <form class="assign-form" action="{% url teams:assign_task slug=team.slug %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />

                                <input type="hidden" name="task" value="{{ task.id }}" />
                                <input type="hidden" name="task_type" value="{{ task.type }}" />
                                <input type="hidden" name="task_lang" value="{{ task.language }}" />
                                <input type="hidden" name="team_video" value="{{ task.team_video }}" />

                                <div class="assignee-choice" style="display: none;">
                                    <a class="cancel" href="#">{% trans 'Cancel' %}</a>
                                    <div class="member-ajax-chosen">
                                        <select name="assignee">
                                            <option value="">-----</option>
                                            <option value="" class="begin-typing-trans">{% trans 'Begin typing to search' %}</option>
                                        </select>
                                    </div>
                                    <a class="button action-assign-submit" href="{% url teams:assign_task slug=team.slug %}">{% trans 'Assign to User' %}</a>
                                </div>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans 'Sorry, no tasks here.' %}</p>
        {% endif %}

        {% if is_paginated %}{% paginator %}{% endif %}
    </div>

    <script type="text/javascript">
        $(function() {

            $('a.action-assign').click(function(e) {

                $('div.assignee-choice').hide();

                $form = $(e.target).parents('.admin-controls').siblings('form.assign-form');

                $assignee_choice = $form.children('div.assignee-choice');
                $assignee_choice.fadeIn('fast');

                // Reset select options on rebuild.
                if (!window.begin_typing_trans) {
                    window.begin_typing_trans = $('option.begin-typing-trans').eq(0).text();
                }
                $select = $form.find('select');
                $select.children('option').remove();
                $select.append('<option value="">-----</option>');
                $select.append('<option value="">' + window.begin_typing_trans + '</option>');
                $select.trigger('liszt:updated');

                $chzn_container = $assignee_choice.find('.chzn-container');
                $chzn_container.css('width', '100%')

                $chzn_drop = $chzn_container.find('.chzn-drop')
                $chzn_drop.css('width', '99%')

                $chzn_input = $chzn_drop.find('input')
                $chzn_input.css('width', '82%');

                return false;
            });
            $('.assignee-choice a.cancel').click(function(e) {
                $(e.target).parents('.assignee-choice').fadeOut('fast');
                return false;
            });

            $('a.action-assign-submit, a.action-delete').click(function(e) {
                $(e.target).closest('form').submit();
                return false;
            });

            $('a.assign-and-perform').click(function(e) {
                var $target = $(e.target);
                $target.text('Loading...');

                $.ajax({
                    url: '{% url teams:assign_task_ajax slug=team.slug %}',
                    type: 'POST',
                    data: {
                        task: $target.attr('data-id'),
                        assignee: {% firstof request.user.id -1 %}
                    },
                    success: function(data, textStatus, jqXHR) {
                        $target.hide();

                        $li = $target.parent().siblings('li.hidden-perform-link');
                        $li.show();

                        $link = $li.children('a.perform');
                        $link.text('Loading...');
                        if ($link.attr('href') !== '') {
                            window.location = $link.attr('href');
                        } else {
                            $link.click();
                        }
                    }
                });

                return false;
            });

            $("div.member-ajax-chosen select", ".v1 .content").ajaxChosen({
                method: 'GET',
                url: '/en/teams/{{ team.slug }}/members/search/',
                dataType: 'json'
            }, function (data) {
                var terms = {};

                $.each(data.results, function (i, val) {
                    var can_perform_task = data.results[i][2];

                    if (can_perform_task) {
                        terms[data.results[i][0]] = data.results[i][1];
                    }
                });

                return terms;
            });
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
