{% extends "teams/base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "utils/chosenify.html" %}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};

        $(function() {
            $select = $("select#lang-filter", ".controls");
            $select.change(function(e) {
                var lang = $select.val();
                if (lang !== '') {
                    window.location = document.URL.split("?")[0] + '?lang=' + lang;
                } else {
                    window.location = document.URL.split("?")[0];
                }
            });

            $('.remove-video').click(function(e) {
                e.preventDefault();

                resp = confirm('Are you sure you want to delete this team video?');
                if (resp) {
                    $(this).siblings('form').submit();
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog %}
{% endblock %}

{% block view_content %}

    {% with "videos" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <div class="tools group"> <div class="sort_button">
                <div class="arrow">
                </div>
                <span class="sort_label">{% trans 'Sort by' %} <strong>{{ order_name }}</strong></span>
                <ul>
                    <li>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=name">{% trans 'Name, A-Z' %}</a>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=-name">{% trans 'Name, Z-A' %}</a>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=-time">{% trans 'Time, Newest' %}</a>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=time">{% trans 'Time, Oldest' %}</a>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=-subs">{% trans 'Subtitles, Most' %}</a>
                        <a href="{% if query %}?q={{ query }}&amp;{% else %}?{% endif %}sort=subs">{% trans 'Subtitles, Least' %}</a>
                    </li>
                </ul>
            </div>
            {% if can_add_video %}
                    <a href="{% url teams:add_video team.slug %}{% if project %}?project={{ project.slug }}{% endif %}" class="button">{% trans "Add Video" %}</a>
            {% endif %}
        </div>

        {% if not team.page_content and team.video %}
            {% widget widget_params %}
        {% endif %}
        
        {% if team_video_md_list %}
            <ul class="videos listing">
                {% for md_obj in team_video_md_list %}
                    {% team_video_detail md_obj %}
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no videos here" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        {% include "teams/_filters_videos.html" %}
        <div class="refine">
            <h4>Refine</h4>
            {% include "teams/_search.html" %}
            <select name="lang-filter" id="lang-filter">
                <option value="">All languages</option>
                {% for code, name in language_choices %}
                    <option value="{{ code }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        {% include "teams/_actions.html" %}
    </div>

{% endblock %}
