{% extends "teams/base.html" %}

{% load i18n utils_tags query_string teams_tags paginator profiles_tags markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    {% include "utils/chosenify.html" %}

    {% include_bundle "unisubs-onsite-compiled" %}

    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/unisubs.filters.js" type="text/javascript"></script>

    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};

        $(function() {
            $('.remove-video').click(function(e) {
                e.preventDefault();

                resp = confirm('Are you sure you want to remove this video from the team?');
                if (resp) {
                    $(this).siblings('form').submit();
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog %}
{% endblock %}

{% block view_content %}

    <div class="grid_8 view omega">
        {% with "videos" as current %}
            {% if not project %}
                {% include 'teams/_tabs.html' %}
            {% else %}
                {% include 'teams/_tabs_projects.html' %}
            {% endif %}
        {% endwith %}

        <div class="tools group">
            {% include "teams/_search.html" %}
            {% if can_add_video %}
                <a href="{% url teams:add_video team.slug %}{% if project %}?project={{ project.pk }}{% endif %}" class="button">{% trans "Add Video" %}</a>
            {% endif %}  
            <a href="#filter" id="sort-filter">{% trans 'Filter and Sort' %}<span></span></a>
        </div>
        <div class="filters{% if filtered %} active{% endif %}">
            <p>
                {% trans 'Showing videos with subtitles in' %}
                <select name="lang-filter" id="lang-filter">
                    <option value="{% query_string request.GET lang='' %}">{% trans 'all languages' %}</option>
                    {% for code, name in language_choices %}
                        <option {% if request.GET.lang == code %}selected="selected"{% endif %} value="{% query_string request.GET lang=code %}">{{ name }}</option>
                    {% endfor %}
                </select>
                {% if filtered %}
                    <a href="{% url teams:detail team.slug %}" class="clear-filters">{% trans 'Clear all' %}</a>
                {% endif %}
            </p>
        </div>

        {% if team_video_md_list %}
            <ul class="videos listing">
                {% with team|is_team_member:request.user as user_is_team_member %}
                    {% for md_obj in team_video_md_list %}
                        {% team_video_detail md_obj %}
                    {% endfor %}
                {% endwith %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no videos here" %}...</p>
        {% endif %}
    </div>

{% endblock %}