{% load i18n %}

<div class="bootstrap">
    <div id="{{ form_id|default:'create-subtitles-modal' }}" class="modal editor-style-modal">
        <form method="post" action="">
            {% csrf_token %}
            <h3>{% trans 'Create Subtitles' %}</h3>
            <div class="global-errors"></div>
            <table>
                {% if create_subtitles_form.needs_primary_audio_language %}
                    {% include "_form_field_table.html" with field=create_subtitles_form.primary_audio_language_code %}
                {% else %}
                    <tr>
                        <th>{% blocktrans with language=video.get_primary_audio_language_code_display %}This video is in {{ language }}{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                {% endif %}
                {% include "_form_field_table.html" with field=create_subtitles_form.subtitle_language_code %}
            </table>
            <div class="buttons">
                <button>{% trans 'Continue' %}</button>
                <button class="close">{% trans 'Close' %}</button>
            </div>
        </form>
    </div>
</div>
