{% load i18n teams_tags %}

{% if teams %}
    <div class="video-tools grid_4 omega">
        <h3>{% trans "Collaborate" %}</h3>
        {% if not user.is_authenticated or not team_video.team|is_team_member:user %}
            This video is moderated by team &ldquo;{{ team_video.team.name }}&rdquo;. Please <a href="{% url teams:detail slug=team_video.team.slug %}">visit the team</a> to find out how you can contribute.
        {% else %}
            {% if team_video.task_set.not_deleted.exists or team_video.team|can_add_tasks:user %}
                <p>
                    Contribute subtitles: View <a href="{% url teams:team_tasks slug=team_video.team.slug %}?team_video={{ team_video.pk }}">tasks for this video</a>.
                </p>
            {% endif %}
            <p>
                Learn more: <a target="blank" href="http://pculture.freshdesk.com/solution/categories/13504/folders/40766/articles/16575-what-s-a-task-and-why-does-it-matter-">What are tasks?</a>
            </p>
            {% for team in teams %}
                <p>
                    {% trans 'View team:' %} <a href="{% url teams:detail slug=team.slug %}">{{team.name}} {% trans 'Translation Project' %}</a>.
                </p>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
