{% extends "hands_base.html" %}

{% load i18n %}
{% load url from future %}

{% block body_attrs %}id="create"{% endblock %}

{% block main_content %}
<div id="create-banner" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-11 col-lg-10">
        <div id="submit_video_form">
          {% if vidscraper_error %}
            {% blocktrans %}
              "Sorry, we couldn't identify the video at the link you sent. Perhaps it's a link we don't recognize, or perhaps you've linked to a page that has multiple videos. Try entering a different link to the video you want to submit. If you think there's been some mistake, <a href="mailto:feedback@universalsubtitles.org">contact us</a>!"
            {% endblocktrans %}
          {% endif %}

          <form action="{% url "videos:create" %}" method="POST" class="main_video_form">

            <h1 class="main_heading">{% trans 'Subtitle a Video' %}</h1>
            <p class="subtext create-instructions">
              {% trans 'Enter a video URL to use the Amara editor &amp; enable public subtitling.' %} <a target="_blank" href="http://pculture.freshdesk.com/solution/articles/200448-what-does-adding-a-video-amara">{% trans 'Learn more' %}</a>
            </p>

            <input type="text" id="submit_video_field" class="prefocus main_video_form_field"{% if initial_url %} value="{{ initial_url }}"{% endif %} name="video_url" />
            <button class="blue-green-button" type="submit" value="Begin">
              {% trans 'Begin' %} &raquo;
            </button>
            <ul class="errorlist">
              <li>{% trans 'Acceptable Formats Include: Vimeo, Youtube, mp4, WebM, flv, ogg &amp; mp3' %}</li>
            </ul>
            {{ video_form.video_url.errors }}
            {{ video_form.non_field_errors }}
          </form>

          <script type="text/javascript">
            jQuery('#submit_video_field').input_replacement({
              text: '{% trans "for example" %}: http://www.youtube.com/watch?v=h4ce747',
              prefocus_class: 'prefocus'
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container whitespace-tall">
  <div class="row">
    <div class="col-xs-12">

      <h3>Getting started with Amara</h3>

      <ul>
        <li>
          <h5><a target="_blank" href="//www.youtube.com/watch?v=-NxoPqYwVwo&list=PLjdLzz0k39ykXZJ91DcSd5IIXrm4YuGgE">{% trans 'Learn the Amara subtitle editor (videos)' %}</a></h5>
        </li>
        <li>
          <h5><a target="_blank" href="http://support.amara.org/solution/articles/200446-using-completed">{% trans 'Use your completed subtitles' %}</a></h5>
        </li>
        <li>
          <h5><a target="_blank" href="http://support.amara.org/solution/articles/200447-the-basics-of-collaboration-on">{% trans 'Invite friends and fans to help caption &amp; translate' %}</a></h5>
        </li>
        <li>
          <h5><a target="_blank" href="//pro.amara.org/">{% trans 'Get professional tools and On Demand subtitles' %}</a></h5>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
