{% extends "base.html" %}
{% block body_attrs %}class="video_view v1"{% endblock %}

{% load widget i18n media_compressor doorman %}

{% block css %}
  {{ block.super }}
  {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            var IS_AUTHENTICATED = '{{ user.is_authenticated }}' == 'True';
            if (IS_AUTHENTICATED && '{{rollback_allowed}}' == 'True')
                $('#rollback').click(function(){
                    if ( ! confirm('Subtitles will be rolled back to a previous version')){
                        return false;
                    }
                });
            }else {
                $('#rollback, .new_edit').click(function(){
                    alert('You need to log in to do that.');
                    return false;
                });
            }
            $('.new_edit').click(function() {
                widget_widget_div.selectMenuItem(
                    unisubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
        });
    </script>
    {% include_bundle "unisubs-onsite-compiled" 0 %}

{% endblock %}

{% block main_content %}
    <div class="grid_4 context alpha">
        <h2 class="main-title">
            <a href="" title="">
                {{ language.language_display }}
                subtitles,
                Revision
                {{ version.version_no }}
            </a>
        </h2>
        <ul>
            <li>
                <strong>Author:</strong>
                <a href="{{ version.user.profile_url }}" title="View {{ version.user }}'s profile">{{ version.user }}</a>
            </li>
            <li>
                <strong>Date:</strong> {{ version.datetime_started|date:"j F Y (H:i)" }}
            </li>
        </ul>

        <h3>Subtitles</h3>
        <ul>
            <li>
                <a href="{{ language.get_absolute_url }}">
                    {% trans 'Published subtitles' %}
                </a>
            </li>
            <li>
                <a href="{{ language.get_absolute_url }}#revisions">
                    {% trans 'All revisions' %}
                </a>
            </li>
        </ul>

        <h3>Video</h3>
        <h4>
            <a href="{{ video.get_absolute_url }}" title="View video">
                {{ language.get_title_display }}
            </a>
        </h4>
        {% widget widget_params %}
    </div>

    <div class="grid_8 view omega">
        <ul class="tabs">
            {% if prev_version %}
                <li>
                    <a href="{{ prev_version.get_absolute_url }}">
                        ←
                        {% blocktrans with prev_version.version_no as prev_version_no %}
                        Revision {{ prev_version_no }}
                        {% endblocktrans %}
                    </a>
                </li>
            {% endif %}
            <li class="current">
                <a href="{% url videos:revision pk=version.pk %}">
                    Revision {{ version.version_no }}
                    {% if not next_version %}
                        ({% trans 'latest' %})
                    {% endif %}
                </a>
            </li>
            {% if next_version and next_version != latest_version %}
                <li>
                    <a href="{{ next_version.get_absolute_url }}">
                        {% blocktrans with next_version.version_no as next_version_no %}
                        Revision {{ next_version_no }}
                        {% endblocktrans %}
                        →
                    </a>
                </li>
            {% endif %}
            {% if next_version %}
                <li>
                    <a href="{{ latest_version.get_absolute_url }}">
                        {% blocktrans with latest_version.version_no as latest_version_no %}
                        Revision {{ latest_version_no }} (latest)
                        {% endblocktrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if next_version and rollback_allowed %}
            <div class="tools">
                <a href="{% url videos:rollback version.pk %}" class="button" id="rollback">
                    {% trans 'Roll back to this version' %}
                </a>
            </div>
        {% endif %}
        {% if next_version %}
            <p class="view-notice">
                {% blocktrans with language.language_display as lang and version.user as user and version.datetime_started|date:"j F Y (H:i)" as date %}
                This is an old revision, edited by {{ user }} on {{ date }}. It may
                differ significantly from the current revision.
                {% endblocktrans %}
            </p>
        {% endif %}
        <ol class="subtitles">
            {% for item in version.ordered_subtitles %}
            <li>
                {% if item.display_time %}
                <div class="timing">
                    <a class="time_link" href="#" title="Play video here">
                        <span class="data">{{ item.start_time }}</span>
                        {{ item.display_time }}
                        {% if item.display_end_time %}
                        –
                        {{ item.display_end_time }}
                        {% endif %}
                    </a>
                </div>
                {% else %}
                <div class="timing">
                    {% trans 'Not Synced' %}
                </div>
                {% endif %}
                {{ item.text|linebreaksbr }}
            </li>
            {% endfor %}
        </ol>
    </div>
{% comment %}

      <li><a href="{{ language.get_absolute_url }}">{{ language.language_display }} {% trans 'Subtitles' %}</a></li>

{% endcomment %}
{% endblock %}

