{% extends "base.html" %}

{% block body_attrs %}id="video" class="v1 video_view"{% endblock %}
{% block html_attrs %}id="subtitle_view"{% endblock %}

{% load paginator widget comments i18n subtitles_tags teams_tags media_compressor videos_tags utils_tags i18n_tags %}

{% block css %}
    {{ block.super }}
    {% include_bundle "video_history" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}

    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
    <script type="text/javascript">
        window.DIFFING_URL = '{% block diffing_link %}{% url videos:diffing 11111 22222 %}{% endblock %}';
        window.LANGUAGE_ID = '{{ language.id }}';
        window.SELECT_REVISIONS_TRANS = '{% trans "Select two revisions to compare, please" %}';
        window.TASK = '{% firstof task|default_if_none:""|escapejs '' %}';
        {% if task %}
            window.TASK_TEAM_VIDEO_ID = '{{ task.team_video.video.video_id }}';
            window.TASK_TEAM_VIDEO_URL = '{{ task.team_video.video.get_video_url }}';
        {% endif %}
        window.IS_AUTHENTICATED = '{{ user.is_authenticated }}' == 'True';
        window.ROLLBACK_ALLOWED = '{{ rollback_allowed }}' == 'True';
        {% if video.team_set.all.0 %}
            {% if not video.team_set.all.0.is_visible %}
                window.VIDEO_TEAM_NAME = 'Private';
            {% else %}
                window.VIDEO_TEAM_NAME = '{{ video.team_set.all.0 }}';
                window.VIDEO_TEAM_URL = '{{ video.team_set.all.0.get_absolute_url }}';
            {% endif %}
            {% if video.team_set.all.0.get_workflow.requires_review_or_approval %}
                window.VIDEO_TEAM_WORKFLOW_ENABLED = true;
            {% else %}
                window.VIDEO_TEAM_WORKFLOW_ENABLED = false;
            {% endif %}
        {% endif %}
        {% if task.get_type_display == 'Translate' %}
            window.TASK_TRANSLATE_TO_LANGUAGE = '{{ task.language }}';
        {% endif %}
    </script>
{% endblock %}

{% block title %}
    {% if language.is_primary_audio_language %}
        "{% firstof last_version.title video.title_display_unabridged %}" {% trans "with" %} {{ language.get_language_code_display }} {% trans "subtitles" %} | Amara
    {% else %}
        "{% firstof last_version.title video.title_display_unabridged %}" {% trans "with" %} {% if language.get_translation_source_language_code %}{% trans 'translated' %}{% endif %} {{ language.get_language_code_display }} {% trans "subtitles" %} | Amara
    {% endif %}
{% endblock %}

{% block opengraph-head %}
    {{block.super}}
    <meta property="og:title" content="{% title_for_video video language %}"/>
    <meta property="og:type" content="video"/>
    <meta property="og:url" content="http://{{ current_site.domain }}{{ video.get_absolute_url }}"/>
    {% if video.thumbnail %}
        <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
        <meta property="og:image" content="{{ STATIC_URL }}images/small_logo.png" />
    {% endif %}

    <meta property="og:site_name" content="Amara"/>
    <meta property="og:description" content="{% title_for_video video language %}"/>
{% endblock  %}

{% block main_content %}
    <div class="grid_4 context alpha">
        <h3 class="sub-title">
            <a href="{{ language.language_url }}" title="Language permalink">
                {% if language.is_original %}
                    {% trans 'Original' %}
                {% endif %}
                {{ language.get_language_code_display }}
                {% trans "subtitles" %}
            </a>
        </h3>
        <h2 class="main-title">
            <a href="{{ video.get_absolute_url }}" {% if language.is_rtl %}class="is-rtl"{% endif %} title="View video">
                {% if not language.is_rtl %}
                ←
                {% endif %}
                {% firstof last_version.title video.title_display_unabridged %}
            </a>
        </h2>
        {% widget widget_params %}
        {% if language.get_description %}
            <div id="description"{% if language.get_description|length > 300 %} class="abbr collapsed"{% endif %}>
                <div {% if language.is_rtl %}class="is-rtl"{% endif %}>
                    {{ language.get_description|urlize|linebreaks }}
                </div>
                {% if language.get_description|length > 300 %}
                    <a class="expand" href="#">Show all ↓</a>
                {% endif %}
            </div>
        {% endif %}
        <ul class="metrics">
            <li>
                <div>
                    <p>{{ language.followers.count }}</p>
                    <h4>{% trans "Follower" %}{{ language.followers.count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ language|get_comment_count }}</p>
                    <h4>{% trans 'Comment' %}{{ language|get_comment_count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ last_version.subtitle_count }}</p>
                    <h4>{% trans "Line" %}{{ last_version.subtitle_count|pluralize }}</h4>
                </div>
            </li>
        </ul>
        <div class="sharing-tools">
            {% if shows_widget_sharing %}
                {% include '_sharing_widget.html' %}
            {% endif %}
        </div>
        <h3>
            {% trans "View Subtitles" %}
            {% if video.languages_count > 0 %}
                ({{ video.languages_count }})
            {% endif %}
        </h3>
        <ul id="subtitles-menu" {% if video.languages_count > 14 %} class="list-collapsible"{% endif %}>
            {% include 'videos/_left_navigation.html' %}
            {% if video.languages_count > 14 %}
                <li class="expand">
                    <a href="#"><span class="all">{% trans 'Show all' %} ↓</span><span class="less">{% trans 'Show less' %} ↑</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="grid_8 view omega">
        {% if user.is_authenticated %}
            {% include 'videos/_follow_video_button.html' %}
        {% endif %}
        <ul class="tabs">
            <li class="current"><a href="#transcripts-tab">{% trans "Subtitles" %}</a></li>
            <li class="hascount"><a href="#comments-tab">{% trans "Comments" %}<span>{{ language|get_comment_count }}</span></a></li>
            <li class="hascount"><a href="#revisions-tab">{% trans "Revisions" %}<span>{{ revision_list|length }}</span></a></li>
        </ul>
        <div class="tab" id="transcripts-tab">
            <div class="tools">
                {% if request.user|can_delete_language:language %}
                    <a class="button" href="{% url teams:delete-language video.get_team_video.team.slug language.pk %}">{% trans 'Delete Subtitle Language' %}</a>
                {% endif %}

                {% if language.is_original and request.user|can_create_subtitles_for:video or not language.is_original and request.user|can_create_translations_for:video %}
                    {% if edit_disabled %}
                        {% if must_use_tasks %}
                            <a id="edit_subtitles_button"
                               class="button disabled"
                               title="{% trans 'You must use the tasks panel to work with this version.' %}">
                                {% trans 'Edit Subtitles' %}
                            </a>
                        {% else %}
                            <a id="edit_subtitles_button"
                               class="button disabled"
                               title="{% trans 'You do not have permission to edit this version.' %}">
                                {% trans 'Edit Subtitles' %}
                            </a>
                        {% endif %}
                    {% else %}
                        <a id="edit_subtitles_button"
                           class="button"
                           href="{{ edit_url }}">
                            {% trans 'Edit Subtitles' %}
                        </a>
                    {% endif %}
                {% endif %}

                {% if last_version.has_subtitles %}
                    <div class="sort_button action">
                        <div class='arrow'>
                        </div>
                        <span class="sort_label">
                            <strong>{% trans 'Download' %}</strong>
                        </span>
                        <ul>
                          {% for format_name in downloadable_formats %}
                             <li>
                               <a href="{% url widget:download format_name %}?video_id={{ video.video_id }}&lang_pk={{ language.pk }}&revision={{ last_version.version_number }}">{{format_name|upper}}</a>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if last_version %}
                {% if last_version.has_subtitles %}
                    <p class="view-notice{% if not last_version.is_public %} draft{% endif %}">
                        {% if not last_version.is_public %}<em>{% trans 'Draft only' %}</em>{% endif %}
                        {% if language.get_translation_source_language_code %}
                            {% trans "Subtitles" %}
                            {% trans 'translated from' %}
                            {{  language.get_translation_source_language_code|to_localized_display }}.
                        {% endif %}
                        {% trans "Showing" %}
                        <strong>{% trans "Revision" %} {{ last_version.version_number }}</strong>,
                        {% trans "created" %}
                        <strong>{{ last_version.revision_time }}</strong>
                        {% trans "by" %}
                        <a href="{{ last_version.author.profile_url}}" title="View {{ last_version.author }}'s profile">
                            <strong>{{ last_version.author }}</strong>
                        </a>.
                        {% if user.is_staff and perms.videos.edit_video %}
                            <a style="float: right; color: #417690; margin-right: 7px; font-weight: bold; display: inline-block;" href="{% url admin:subtitles_subtitleversion_change last_version.pk %}">{% trans "Edit in Django Admin" %}</a>
                        {% endif %}
                    </p>

                    <ol class="subtitles {% if language.is_rtl %}is_rtl{% endif %}">
                        <li class="title">
                            <div class="field">{% trans "Title:" %}</div>
                            {{ last_version.title }}
                        </li>
                        <li class="description">
                            <div class="field">{% trans "Description:" %}</div>
                            <div class="description">
                                {{ last_version.description|urlize|linebreaks }}
                            </div>
                        </li>
                        {% for item in subtitle_lines %}
                        <li class="subtitle-item {%if item.meta.new_paragraph %} start-of-paragraph{% endif %}">
                            {% if item.0 != None %}
                            <div class="timing">
                                <a class="time_link" href="#" title="Play video here">
                                    <span class="data">{{ item.0 }}</span>
                                    {{ item.0|format_sub_time }}
                                    {% if item.1 %}
                                    –
                                    {{ item.1|format_sub_time }}
                                    {% endif %}
                                </a>
                            </div>
                            {% else %}
                            <div class="timing">
                                {% trans 'Not Synced' %}
                            </div>
                            {% endif %}
                            <div class="translation-text">
                                {{ item.2|display_subtitle|safe|linebreaksbr }}{% if item.meta.new_paragraph %}<p class='quiet'>¶</p>{% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    {% if revision_list|length > 1 %}
                        <p class="empty">
                            {% blocktrans %}
                            The most recent revision for this language is blank, but there are older
                            revisions that contain subtitles.
                            {% endblocktrans %}
                            <a href="#revisions-tab" class="link_to_tab">{% trans 'View revision history' %}</a>
                        </p>
                    {% else %}
                        <p class="empty">
                            {% if revision_list|length > 0 %}
                                {% trans 'These subtitles are in progress.' %}
                                <a href="#" id="add_subtitles">{% trans 'Make more?' %}</a>
                            {% else %}
                                {% trans 'No subtitles available yet.' %}
                                <a href="#" id="add_subtitles">{% trans 'Make some!' %}</a>
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if language.subtitleversion_set.extant.exists %}
                    <p class="empty">
                        {% blocktrans %}
                            This language contains subtitles that are still waiting to be moderated.  Check back later.
                        {% endblocktrans %}
                    </p>
                {% elif language.subtitleversion_set.full.exists %}
                    <p class="empty">
                        {% blocktrans %}
                            Sorry, this language has been removed by Amara staff members or authorized users.
                        {% endblocktrans %}
                    </p>
                {% else %}
                    <p class="empty">
                        {% blocktrans %}
                            No subtitles have been added for this language yet.
                        {% endblocktrans %}
                    </p>
                {% endif %}

            {% endif %}

        </div>
        <div class="tab" id="comments-tab" style="display:none;">
            <h3>{% trans "Leave a comment" %}</h3>
            {% render_comment_form language %}
            <h3>{{ language|get_comment_count }} {% trans "Comments" %}</h3>
            {% render_comment_list language %}
        </div>
        <div class="tab" id="revisions-tab" style="display:none;">
            {% if revision_list|length > 1 %}
                <div class="tools">
                    <a class="button compare_versions_button">
                        {% trans 'Compare Revisions' %}
                    </a>
                </div>
            {% endif %}

            {% if revision_list %}
                {% if is_paginated %}{% paginator '#revisions' %}{% endif %}
                <ul class="listing revisions">
                    {% for item in revision_list %}
                        <li>
                            <h3>
                                <input type="checkbox" class="version_checkbox" value="{{ item.pk }}"/>

                                {% if not item.subtitle_language.language_code %}
                                    {# Hack to work around SubtitleLanguages with blank language attributes. #}
                                    {# Once those are gone we can remove this. #}
                                    <a href="{% url videos:subtitleversion_detail video_id=item.video.video_id,lang="unknown",lang_id=item.language.id,version_id=item.pk %}">{% trans "Revision" %} {{ item.version_number }} - {{ item.revision_time }}</a>
                                {% else %}
                                    <a href="{% url videos:subtitleversion_detail video_id=item.video.video_id,lang=item.subtitle_language.language_code,lang_id=item.subtitle_language.id,version_id=item.pk %}">{% trans "Revision" %} {{ item.version_number }} - {{ item.revision_time }}</a>
                                {% endif %}

                                {% if item.moderation_status == 'waiting_moderation' %}
                                    (draft)
                                {% endif %}
                            </h3>
                            {% if item.author %}
                                <p>{% trans "by" %} <a href="{% url profiles:profile item.author.pk %}">{{ item.author }}</a></p>
                            {% endif %}
                            {% if item.note %}
                                <p>{{ item.note }}</p>
                            {% endif %}
                            {% if item.origin == 'rollback' and item.rollback_of_version_number %}
                                <p>{%  trans "Rollback to version #" %}{{ item.rollback_of_version_number }}</p>
                            {% elif item.origin == 'upload' %}
                                <p>{%  trans "Uploaded" %}</p>
                            {% elif item.origin == 'api' %}
                                <p>{%  trans "API" %}</p>
                            {% elif item.origin == 'web-legacy-editor' %}
                                <p>{%  trans "Subtitle Editor" %}</p>
                            {% endif %}
                            <ul class="actions">
                                <li><h4>{% trans "Timing" %}: {{ item.time_change }}</h4></li>
                                <li><h4>{% trans "Text" %}: {{ item.text_change }}</h4></li>
                                {% if user.is_staff and perms.videos.edit_video %}
                                    <li><h4><a style="color: #417690;" href="{% url admin:subtitles_subtitleversion_change item.pk %}">{% trans "Edit in Django Admin" %}</a></h4></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p class="empty">{% trans 'No subtitles for this language.' %}</p>
            {% endif %}
        </div>
    </div>

    {% if rollback_allowed %}
        <div class="tools grid_4 alpha" id="rollback-button">
            <a href="{% url videos:rollback last_version.pk %}" class="button" id="rollback">
                {% trans 'Roll back to this version' %}
            </a>
        </div>
    {% endif %}

{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url admin:subtitles_subtitlelanguage_change language.pk %}" target="blank">{% trans 'Edit SubtitleLanguage in Django Admin' %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
