{% extends "base.html" %}

{% block body_attrs %}id="video_profile" class="v1 video_view"{% endblock %}

{% load escapejs widget comments recent_activity paginator i18n subtitles_tags teams_tags videos_tags media_compressor moderation doorman %}

{% block css %}
    {{ block.super }}
    {% include_bundle "video_history" %}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{{ STATIC_URL }}js/jquery.tabs.js" type="text/javascript"></script>
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
    
    <script type="text/javascript">
        jQuery(document).ready( function($) {
            $('#submenu').tabs();
            $('#submenu a').click(function(){
                $(this).parents('li').addClass('current').siblings('li').removeClass('current');
            });
    
            $('#add_subtitles').click( function() {
                widget_widget_div.selectMenuItem(
                unisubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
                return false;
            });
            $('.add-translation-behavior').click( function() {
                widget_widget_div.selectMenuItem(
                unisubs.widget.DropDown.Selection.ADD_LANGUAGE);
                return false;
            });
            var VIDEO_ID = '{{ video.pk }}';
    
            $('.edit-title').click( function() {
                $('#edit-title-dialog .title-input').val($('.title-container').html());
            });
            
            $('#edit-title-dialog .save-title').click(function(){
                var title = $('#edit-title-dialog .title-input').val();
                if (title) {
                    $('.title-container').html(title).hide().fadeIn();
                    VideosApi.change_title_video(VIDEO_ID, title, function(response){
                        if (response.error) {
                            $.jGrowl.error(response.error);
                        } else {
                            $('.title-container').html(title);
                            document.title = title + " | Universal Subtitles";
                        }                        
                    });
                    $('#edit-title-dialog').modClose();
                }else{
                    $.jGrowl.error('{% trans "Enter non-empty title" %}');
                }
            });

            $('.modal-header .close', '.bootstrap').click(function(){
                $(this).parents('.modal').hide();
            });

            $('.abbr').each(function(){
                var content = $(this).children('.abbr-content');
                if(content.height() > 72) {
                    $(this).addClass('collapsed').append('<a class="expand" href="#">Show all ↓</a>');
                }
            });

            $('.expand', '.abbr').live('click', function(){
                var container = $(this).parents('.abbr');
                var content = $(this).siblings('.abbr-content');
                if(container.hasClass('collapsed')){
                    $(this).text('Collapse ↑');
                } else {
                    $(this).text('Show all ↓');
                }
                container.toggleClass('collapsed expanded');
            });

        });
    </script>
{% endblock %}

{% block title %}
    {{ video.title_display }} | Universal Subtitles
{% endblock %}

{% block opengraph-head %}
    {{block.super}}
    <meta property="og:title" content="{% title_for_video video  %}"/>
    <meta property="og:type" content="video"/>
    <meta property="og:url" content="http://{{ current_site.domain }}{{ video.get_absolute_url }}"/>
    {% if video.thumbnail %}
    <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
    <meta property="og:image" content="{{ STATIC_URL }}images/small_logo.png" />
    {% endif %}

    <meta property="og:site_name" content="Universal Subtitles"/>
    <meta property="og:description"
          content="{% title_for_video video %}"/>
{% endblock  %}


{% block main_content %}
    {% comment %}
        - embed code changes betw video and subs
        - sharing buttons are video-wide, not subs specific
        - like button is subs specific though too
        - show which languages are in progress
        - need 'create subs' menu
        - upload subs not clear that it's optional
        - Select Original Language, Create Subtitles In..., Translate Subtitles To..., Upload From File, Upload Text Transcript
        - Is follow video-wide or subs wide
        + crediting info
    {% endcomment %}
    {% if saved %}
        <div id="messages">
            <p>{% blocktrans %}Subtitles saved! You can share the video with friends, or get an embed code for your site. To add atranslation, click the button below.{% endblocktrans %}</p>
            <a href="#" id="closeBut">{% trans "Close" %}</a>
        </div>
    {% endif %}

    <div class="grid_4 context alpha">
        <h2 class="main-title">
            {{ video }}
        </h2>
        <!--<p class="permalink"><a href="{{share_panel_permalink}}">{% trans "Permalink" %}</a></p>-->
        <div id="description" class="abbr">
            <div class="abbr-content">
                {{ video.description }}
            </div>
        </div>
        <ul class="metrics">
            <li>
                <p>{{ video.widget_views_count }}</p>
                <h4>View{{ video.widget_views_count|pluralize }}</h4>
            </li>
            <li>
                <p>{{ video.view_count }}</p>
                <h4>Site View{{ video.view_count|pluralize }}</h4>
            </li>
            <li>
                <p>{{ video.followers.count }}</p>
                <h4>Follower{{ video.followers.count|pluralize }}</h4>
            </li>
            <li>
                <p>{{ video.languages_count }}</p>
                <h4>Language{{ video.languages_count|pluralize }}</h4>
            </li>
        </ul>
        <div class="sharing-tools">
            {% if shows_widget_sharing %}
                {% include '_sharing_widget.html' %}
            {% endif %}
        </div>
        {% comment %}
        {% if user.is_staff and perms.videos.edit_video %}
            <h3>{% trans "Admin" %}</h3>
            <ul id="admin-menu">
                <li>
                    <a href="{% url videos:video_debug video.video_id %}" target="blank">View debug info</a>
                </li>
                <li>
                    <a href="{% url admin:videos_video_change video.pk %}" target="blank">{% trans 'Edit in Admin Interface' %}</a>
                </li>
                <li>{% feature_video video %}</li>
                <li>
                {% if user %}
                    {% render_visibility_button video user %}
                {% endif %}
                </li>
            </ul>
        {% endif %}
{% endcomment %}
            <!--<li>
                <p>{{ video.duration|format_duration }}</p>
                <h4>Length</h4>
            </li>-->
    </div>
    <div class="grid_8 view omega">
        <ul id="submenu">
            <li class="current"><a href="#video-tab">{% trans "Video" %}</a></li>
            <li class="hascount"><a href="#comments-tab">{% trans "Comments" %}<span>{% get_comment_count video %}</span></a></li>
            <li><a href="#activity-tab">{% trans "History" %}</a></li>
            <li class="hascount"><a href="#urls-tab">{% trans "URLs" %}<span>{% video_url_count video %}</span></a></li>
        </ul>
        <div id="video-tab">
            {% widget widget_params %}
            <div class="video-tools">
                <h3>Add Subtitles</h3>
                <ul>
                    <li>
                        <a href="">Add translations</a>
                    </li>
                    <li>
                        <a href="">Upload subtitles</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="comments-tab" style="display:none;">
            <h3>{% trans "Leave a comment" %}</h3>
            {% render_comment_form video %}
            <h3>{% trans "Comments" %}</h3>
            {% render_comment_list video %}
        </div>
        <div id="activity-tab" style="display:none;">
            {% video_activity video %}
            <a href="{% url videos:actions_list video.video_id %}" style="margin: 10px">{% trans 'View all activity' %}</a>
        </div>
        <div id="urls-tab" style="display:none;">
            {% video_url_panel %}
        </div>
    </div>
    <div class="bootstrap">
        <div class="modal">
            <div class="modal-header">
                <a href="#" class="close action-close">x</a>
                <h3>Embed video</h3>
            </div>
            <div class="modal-body">
                <textarea readonly="readonly">{{share_panel_embed_code}}</textarea>
            </div>
        </div>
    </div>
     
    {% comment %}

    <div id="edit-title-dialog" style="display: none" class="msg_modal_wrap" >
        <a href="#close" class="close">{% trans "Close" %}</a>
        <h3>{% trans 'You are editing the original video title (translations will not be affected)' %}</h3>
        <div class="msg_modal">
            <p>
            {% blocktrans %}
            IMPORTANT: the new title will appear in the lists of videos and in 
            the original subtitle set. Any existing translations will not be affected. 
            Please update each translation separately, if necessary.
            {% endblocktrans %}
            </p>
            <p>
                <input type="text" val="" style="width: 100%" class="title-input">
                <button class="green_button small save-title" style="margin: 0 0 15px 0; float: right">{% trans "Save" %}</button>
            </p>
        </div>
    </div>

        {# CONTRIBUTE #}
        <li class="contribute">
          {% if not video.subtitle_language %}
              <a href="#" id="add_subtitles"> {% trans 'Add Subtitles' %}</a><br /><br />
          {% else %}
              <a class="add-translation-behavior" id="add_translation " href="#">{% trans 'Add Translation' %}</a>
          {% endif %}
        <li>
        <li class="contribute">{% upload_subtitles video %}<li>
        <li class="contribute">{% paste_transcription %}</li>

        {# SUBTITLES #}
        <h3>{% trans "Subtitles" %}</h3>
        <ul class="left_nav" id="subtitles-menu">
            {% include 'videos/_left_navigation.html' %}
        </ul>

        {# MODERATION #}
        <h3>{% if user_can_moderate%}{% trans "Moderation" %}{% endif %}</h3>
          <ul class="left_nav" id="moderation-menu">
            {% switch_feature MODERATION %}
                <li>{% render_approve_all_button video user %}</li>
            {% endswitch_feature %}
            <li>{% team_add_video_select %}</li>
            <li>{% render_belongs_to_team_list video %}</li>
          </ul>


        {# EDIT TITLE #}
        {% if user.is_authenticated %}
            {% if not video.title or video.is_html5 or user.is_superuser %}
                <a class="heading_button edit-title" href="#" data-modal="edit-title-dialog">{% trans 'Edit title' %}</a>
            {% endif %}
        {% endif %}

    {% endcomment %}
{% endblock %}

{% block bottom_scripts %}
    <script>
        $(window).load( function() {
            unisubs.messaging.simplemessage.displayPendingMessages();
        });
    </script>
{% endblock %}
