{% extends "base.html" %}

{% block body_attrs %}id="video_profile" class="v1 video_view"{% endblock %}
{% block html_attrs %}id="video_view"{% endblock %}

{% load comments i18n subtitles_tags teams_tags videos_tags media_compressor %}

{% block css %}
    {{ block.super }}
    {% include_bundle "video_history" %}
    {% include_bundle "widget-css"%}
{% endblock %}

    {% block scripts %}
        {{ block.super }}
        {% include_bundle "unisubs-onsite-compiled" %}
        <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
        {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
        <script type="text/javascript">
            {% if team.workflow_enabled %}
                window.VIDEO_TEAM_WORKFLOW_ENABLED = true;
            {% else %}
                window.VIDEO_TEAM_WORKFLOW_ENABLED = false;
            {% endif %}
        </script>
    {% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block opengraph-head %}
    {{block.super}}
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:type" content="video"/>
    <meta property="og:url" content="http://{{ current_site.domain }}{{ video.get_absolute_url }}"/>
    {% if video.thumbnail %}
    <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
    <meta property="og:image" content="{{ STATIC_URL }}images/small_logo.png" />
    {% endif %}

    <meta property="og:site_name" content="Amara"/>
    <meta property="og:description" content="{{ page_title }}" />
{% endblock  %}

{% block main_content %}
    {% if saved %}
        <div id="messages">
            <p>{% blocktrans %}Subtitles saved! You can share the video with friends, or get an embed code for your site. To add atranslation, click the button below.{% endblocktrans %}</p>
            <a href="#" id="closeBut">{% trans "Close" %}</a>
        </div>
    {% endif %}

    <div class="grid_4 context alpha">
        <h1 class="main-title">
            <a href="{{share_panel_permalink}}" {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %} title="Video permalink">{{ video.title_display }}</a>
        </h1>
        <ul class="metrics">
            <li>
                <div>
                    <p>{{ video.followers.count }}</p>
                    <h4>{% trans "Follower" %}{{ video.followers.count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ video.comment_count }}</p>
                    <h4>{% trans "Comment" %}{{ video.comment_count|pluralize }}</h4>
                </div>
            </li>
            <li class="last">
                <div>
                    <p>{{ video.languages_count }}</p>
                    <h4>{% trans "Language" %}{{ video.languages_count|pluralize }}</h4>
                </div>
            </li>
        </ul>
        {% if user.managed_teams and not team %}
        <div class="section">
            {% team_add_video_select %}
        </div>
        {% else %}
            {% if team %}
                <div class="section group">
                    {% if team.logo %}
                    <a href="{{ team.get_absolute_url }}"><img class="logo" src="{{ team.small_logo_thumbnail }}"></a>
                    {% endif %}
                    {% blocktrans with team.get_absolute_url as url %}
                    This video belongs to the <a href="{{ url }}">{{ team }}</a> translation project.
                    {% endblocktrans %}
                </div>
            {% endif %}
        {% endif %}
        <div {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %}>
            {% for field in metadata %}
                <h4>{{ field.label}}: {{ field.content}} </h4>
            {% endfor %}
        </div>
        {% with video.description as description %}
            <div id="description"{% if description|length > 300 %} class="abbr collapsed"{% endif %}>
                <div {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %}>
                    {{ description|urlize|linebreaks }}
                </div>
                {% if description|length > 300 %}
                    <a class="expand" href="#">Show all ↓</a>
                {% endif %}
            </div>
        {% endwith %}
        <div class="sharing-tools">
            {% if shows_widget_sharing %}
                {% include '_sharing_widget.html' %}
            {% endif %}
        </div>
        <h3>
            {% trans "View Subtitles" %}
            {% if video.languages_count > 0 %}
                ({{ video.languages_count }})
            {% endif %}
        </h3>
        {% if language_list %}
            <ul id="subtitles-menu" {% if video.languages_count > 14 %} class="list-collapsible"{% endif %}>
                {% include 'videos/_left_navigation.html' %}
                {% if video.languages_count > 14 %}
                    <li class="expand">
                        <a href="#"><span class="all">{% trans 'Show all' %} ↓</span><span class="less">{% trans 'Show less' %} ↑</span></a>
                    </li>
                {% endif %}
            </ul>
        {% else %}
            {% if request.user|can_create_subtitles_for:video or request.user|can_create_translations_for:video %}
                {% if team_video %}
                    {% if team_video.team.workflow_enabled %}
                        {% if team_video.task_set.incomplete.exists %}
                            <p>{% trans "No subtitles yet." %} <a href="{% url teams:team_tasks slug=team_video.team.slug %}?team_video={{ team_video.pk }}">{% trans "View tasks for this video." %}</a></p>
                        {% else %}
                            {% trans "This video doesn't have any subtitles or tasks yet." %}
                        {% endif %}
                    {% else %}
                        <p>{% trans "Be the first to " %}<a href="#" class="add_subtitles">{% trans 'create subtitles' %}</a>!</p>
                    {% endif %}
                {% else %}
                    <p>{% trans "Be the first to " %}<a href="#" class="add_subtitles">{% trans 'create subtitles' %}</a>!</p>
                {% endif %}
            {% else %}
                <p>
                    {% trans "This video doesn't have any subtitles yet." %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="grid_8 view omega">
        {% if user.is_authenticated %}
            {% include 'videos/_follow_video_button.html' %}
        {% endif %}
        <ul class="tabs">
            <li id="video-tab-header" class="{% if tab == 'video' %}current{% endif %}"><a href="?tab=video">{% trans "Video" %}</a></li>
            <li id="comments-tab-header" class="hascount{% if tab == 'comments' %} current{% endif %}"><a href="?tab=comments">{% trans "Comments" %}<span>{{ video.comment_count }}</span></a></li>
            <li id="activity-tab-header" class="{% if tab == 'activity' %}current{% endif %}"><a href="?tab=activity">{% trans "Activity" %}</a></li>
            <li id="urls-tab-header" class="hascount{% if tab == 'urls' %} current{% endif %}"><a href="?tab=urls">{% trans "URLs" %}<span>{% video_url_count video %}</span></a></li>
        </ul>
        <div id="tab-container">{% block tab %}{% endblock %}</div>
    </div>
{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url videos:video_debug video.video_id %}" target="blank">Debug info</a>
            </li>
            <li>
                <a href="{% url admin:videos_video_change video.pk %}" target="blank">{% trans 'Edit video' %}</a>
            </li>
            <li>
                <a href="{% url subtitles:subtitle-editor video.video_id 'en' %}">New editor</a>
            </li>
            <li>
            </li>
            <li>{% feature_video video %}</li>
            {% if task %}<li> <a href="">task id={{task.pk}}</a></li>{% endif %}
        </ul>
    {% endif %}
{% endblock %}
  
trans
