{% load widget i18n subtitles_tags teams_tags videos_tags %}
<div class="tab" id="video-tab">
    {% widget widget_params %}
    <div id="metadata" {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %}>
        {% for field in metadata %}
            <h4>{{ field.label}}: {{ field.content}} </h4>
        {% endfor %}
    </div>
    <div id="description"{% if video.latest_version.language.is_rtl %} class="is-rtl"{% endif %}>
        {{ video.description|urlize|linebreaks }}
    </div>
</div>
