{% extends "base.html" %}

{% block body_attrs %}id="video_profile" class="v1 video_view"{% endblock %}
{% block html_attrs %}id="video_view"{% endblock %}

{% load widget comments recent_activity paginator i18n subtitles_tags teams_tags videos_tags media_compressor utils_tags %}

{% block css %}
    {{ block.super }}
    {% include_bundle "video_history" %}
    {% include_bundle "widget-css"%}
{% endblock %}

    {% block scripts %}
        {{ block.super }}
        {% include_bundle "unisubs-onsite-compiled" %}
        <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
        {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}

        <script type="text/javascript">
            window.VIDEO_ID = '{{ video.pk }}';
            window.TITLE_ERROR = '{% trans "Enter non-empty title" %}';
            window.TASK = '{% firstof task '' %}';
            window.TASK_TEAM_VIDEO_ID = '{{ task.team_video.video.video_id }}';
            window.TASK_TEAM_VIDEO_URL = '{{ task.team_video.video.get_video_url }}';
            {% if video.team_set.all.0 %}
                {% if not video.team_set.all.0.is_visible %}
                    window.VIDEO_TEAM_NAME = 'Private';
                {% else %}
                    window.VIDEO_TEAM_NAME = '{{ video.team_set.all.0 }}';
                    window.VIDEO_TEAM_URL = '{{ video.team_set.all.0.get_absolute_url }}';
                {% endif %}
            {% endif %}
        </script>
    {% endblock %}

{% block title %}
    {{ video.title_display }} with subtitles | Amara
{% endblock %}

{% block opengraph-head %}
    {{block.super}}
    <meta property="og:title" content="{% title_for_video video  %}"/>
    <meta property="og:type" content="video"/>
    <meta property="og:url" content="http://{{ current_site.domain }}{{ video.get_absolute_url }}"/>
    {% if video.thumbnail %}
    <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
    <meta property="og:image" content="{{ STATIC_URL }}images/small_logo.png" />
    {% endif %}

    <meta property="og:site_name" content="Amara"/>
    <meta property="og:description"
          content="{% title_for_video video %}"/>
{% endblock  %}

{% block main_content %}
    {% if saved %}
        <div id="messages">
            <p>{% blocktrans %}Subtitles saved! You can share the video with friends, or get an embed code for your site. To add atranslation, click the button below.{% endblocktrans %}</p>
            <a href="#" id="closeBut">{% trans "Close" %}</a>
        </div>
    {% endif %}

    <div class="grid_4 context alpha">
        <h2 class="main-title">
            <a href="{{share_panel_permalink}}" {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %} title="Video permalink">{{ video }}</a>
        </h2>
        {% with video.get_description_display as description %}
            <div id="description"{% if description|length > 300 %} class="abbr collapsed"{% endif %}>
                <div {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %}>
                    {{ description|urlize|linebreaks }}
                </div>
                {% if description|length > 300 %}
                    <a class="expand" href="#">Show all ↓</a>
                {% endif %}
            </div>
        {% endwith %}
        <ul class="metrics">
            <li>
                <div>
                    <p>{{ video.widget_views_count|simplify_number }}</p>
                    <h4>{% trans "View" %}{{ video.widget_views_count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ video.followers.count }}</p>
                    <h4>{% trans "Follower" %}{{ video.followers.count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ video|get_comment_count }}</p>
                    <h4>{% trans "Comment" %}{{ video|get_comment_count|pluralize }}</h4>
                </div>
            </li>
            <li>
                <div>
                    <p>{{ video.languages_count }}</p>
                    <h4>{% trans "Language" %}{{ video.languages_count|pluralize }}</h4>
                </div>
            </li>
        </ul>
        <div class="sharing-tools">
            {% if shows_widget_sharing %}
                {% include '_sharing_widget.html' %}
            {% endif %}
        </div>
        <h3>
            {% trans "View Subtitles" %}
            {% if video.languages_count > 0 %}
                ({{ video.languages_count }})
            {% endif %}
        </h3>
        {% if video.subtitle_language or translations %}
            <div>
                <div>
                    <ul id="subtitles-menu" {% if video.languages_count > 14 %} class="list-collapsible"{% endif %}>
                        {% include 'videos/_left_navigation.html' %}
                        {% if video.languages_count > 14 %}
                            <li class="expand">
                                <a href="#"><span class="all">{% trans 'Show all' %} ↓</span><span class="less">{% trans 'Show less' %} ↑</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% else %}
            {% if request.user|can_create_subtitles_for:video or request.user|can_create_translations_for:video %}
                <p>{% trans "Be the first to " %}<a href="#" class="add_subtitles">{% trans 'create subtitles' %}</a>!</p>
            {% else %}
                <p>
                    {% trans "This video doesn't have any subtitles yet" %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="grid_8 view omega">
        {% if user.is_authenticated %}
            {% include 'videos/_follow_video_button.html' %}
        {% endif %}
        <ul class="tabs">
            <li class="current"><a href="#video-tab">{% trans "Video" %}</a></li>
            <li class="hascount"><a href="#comments-tab">{% trans "Comments" %}<span>{{ video|get_comment_count }}</span></a></li>
            <li><a href="#activity-tab">{% trans "Activity" %}</a></li>
            <li class="hascount"><a href="#urls-tab">{% trans "URLs" %}<span>{% video_url_count video %}</span></a></li>
        </ul>
        <div class="tab" id="video-tab">
            {% widget widget_params %}
            <div class="clearboth">
                <div class="video-tools grid_4 alpha">
                    <h3>{% trans "Contribute" %}</h3>
                    <p>
                        {% with can_create_subs=request.user|can_create_subtitles_for:video can_create_trans=request.user|can_create_translations_for:video %}
                            {% if video.languages_count < 1 %}
                                {% if can_create_subs %}
                                    {% trans "This video doesn't have any subtitles yet" %} :( <a href="#" class="add_subtitles">{% trans 'Create subtitles now' %}</a>!
                                {% endif %}
                            {% else %}
                                {% if can_create_trans %}
                                    {% trans "Don't see the language you're looking for?" %} <a class="add-translation-behavior" id="add_translation " href="#">{% trans 'Start a new translation' %}</a>!
                                {% endif %}
                            {% endif %}
                            {% if can_create_subs or can_create_trans %}
                                {% upload_subtitles video %}
                            {% else %}
                                {% trans 'Subtitles for this video are moderated. If it belongs to a team, try joining the team to contribute.' %}
                            {% endif %}
                        {% endwith %}
                    </p>
                </div>
                {% with video.get_team_video as team_video %}
                    {% if team_video %}
                        {% render_belongs_to_team_list team_video user %}
                    {% else %}
                        {% if user.managed_teams %}
                            <div class="video-tools grid_4 omega">
                                <h3>{% trans "Collaborate" %}</h3>
                                {% team_add_video_select %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="tab" id="comments-tab" style="display:none;">
            <h3>{% trans "Leave a comment" %}</h3>
            {% render_comment_form video %}
            <h3>{{ video|get_comment_count }} {% trans "Comments" %}</h3>
            {% render_comment_list video %}
        </div>
        <div class="tab" id="activity-tab" style="display:none;">
            {% video_activity video request.user %}
            <p class="view-more"><a href="{% url videos:actions_list video.video_id %}">{% trans 'View all activity' %}</a></p>
        </div>
        <div class="tab" id="urls-tab" style="display:none;">
            {% video_url_panel %}
        </div>
    </div>
{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url videos:video_debug video.video_id %}" target="blank">Debug info</a>
            </li>
            <li>
                <a href="{% url admin:videos_video_change video.pk %}" target="blank">{% trans 'Edit video' %}</a>
            </li>
            <li>{% feature_video video %}</li>
            <li>
            {% if user %}
                {% render_visibility_button video user %}
            {% endif %}
            </li>
            {% if task %}<li> <a href="">task id={{task.pk}}</a></li>{% endif %}
        </ul>
    {% endif %}
{% endblock %}
  

