{% extends "base.html" %}

{% block body_attrs %}id="video_profile" class="v1 video_view" data-video-id="{{ video.video_id}}" data-video-url="{{ video.get_video_url|safe }}"{% endblock %}
{% block html_attrs %}id="video_view"{% endblock %}

{% load comments i18n subtitles_tags teams_tags videos_tags media_compressor %}

{% block css %}
{{ block.super }}
{% include_bundle "video_history" %}
{% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include_bundle "unisubs-onsite-compiled" %}
<script src="{% url videos:rpc_api %}" type="text/javascript"></script>
{% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
<script type="text/javascript">
    {% if team.workflow_enabled %}
    window.VIDEO_TEAM_WORKFLOW_ENABLED = true;
{% else %}
window.VIDEO_TEAM_WORKFLOW_ENABLED = false;
{% endif %}
window.WIDGET_SETTINGS = {{ widget_settings|safe }};
</script>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block opengraph-head %}
{{block.super}}
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:type" content="video"/>
<meta property="og:url" content="http://{{ current_site.domain }}{{ video.get_absolute_url }}"/>
{% if video.thumbnail %}
<meta property="og:image" content="{{ video.get_thumbnail }}" />
{% else %}
<meta property="og:image" content="{{ STATIC_URL }}images/small_logo.png" />
    {% endif %}

    <meta property="og:site_name" content="Amara"/>
    <meta property="og:description" content="{{ page_title }}" />
{% endblock  %}

{% block main_content %}
    {% if saved %}
        <div id="messages">
            <p>{% blocktrans %}Subtitles saved! You can share the video with friends, or get an embed code for your site. To add atranslation, click the button below.{% endblocktrans %}</p>
            <a href="#" id="closeBut">{% trans "Close" %}</a>
        </div>
    {% endif %}

    <div class="grid_4 context alpha">
        <h1 class="main-title">
            <a href="{{share_panel_permalink}}" {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %} title="Video permalink">{{ video.title_display }}</a>
        </h1>
        <ul class="metrics">
            <li>
                <div>
                    <span class="count">{{ video.languages_count }}</span>
                    {% trans "Language" %}{{ video.languages_count|pluralize }}
                </div>
            </li>
            <li>
                <div>
                    <span class="count">{{ video.followers.count }}</span>
                    {% trans "Follower" %}{{ video.followers.count|pluralize }}
                </div>
            </li>
        </ul>
        <div class="contribute">
            <h3>{% trans "Contribute" %}</h3>
            {% if team %}
                <p class="group">
                    {% if team.square_logo %}
                    <a href="{{ team.get_absolute_url }}"><img class="logo" src="{{ team.square_logo_thumbnail_small }}"></a>
                    {% else %}
                    <a href="{{ team.get_absolute_url }}"><img class="logo" src="{{ STATIC_URL }}images/team.png"></a>
                    {% endif %}
                    {% blocktrans with team.get_absolute_url as url %}
                    <span class="team-link">This video is part of the <a href="{{ url }}">{{ team }}</a> team.</span>
                    {% endblocktrans %}
                </p>
            {% endif %}
            {% if team.workflow_enabled and user_is_team_member %}
            <a class="icon" href="{{ team_video.get_tasks_page_url }}"><img src="{{ STATIC_URL}}images/edit-subtitles.png"></a>
            <p>
                {% blocktrans with team_video.get_tasks_page_url as url %}
                View <a href="{{ url }}">tasks for this video</a>.
                {% endblocktrans %}
            </p>
            {% elif can_create_subs or can_create_trans %}
                {% if video.languages_count = 0 and can_create_subs %}
                    <a href="#" class="add-subtitles icon"><img src="{{ STATIC_URL}}images/edit-subtitles.png"></a>
                    <p>{% trans "This video doesn't have any subtitles yet." %} <a href="#" class="add-subtitles">{% trans 'Create subtitles now!' %}</a></p>
                {% elif video.languages_count > 0 and can_create_trans %}
                    <a href="#" class="add-translation icon"><img src="{{ STATIC_URL}}images/edit-subtitles.png"></a>
                    <p>{% trans "Don't see one of your languages?" %}<br /><a class="add-translation" id="add_translation " href="#">{% trans 'Create a new translation!' %}</a><p/>
                {% endif %}
                {% upload_subtitles video %}
            </p>
            {% endif %}
        </div>
        {% include 'videos/_language-list.html' %}
        {% if shows_widget_sharing %}
        <div class="sharing-tools group">
            {% include '_sharing_widget.html' %}
        </div>
        {% endif %}
        {% if user.managed_teams and not team %}
            {% team_add_video_select %}
        {% endif %}
    </div>
    <div class="grid_8 view omega">
        {% if user.is_authenticated %}
            {% include 'videos/_follow_video_button.html' %}
        {% endif %}
        <ul class="tabs">
            <li id="video-tab-header" class="{% if tab == 'video' %}current{% endif %}"><a href="?tab=video">{% trans "Video" %}</a></li>
            <li id="comments-tab-header" class="hascount{% if tab == 'comments' %} current{% endif %}"><a href="?tab=comments">{% trans "Comments" %}<span>{{ video.comment_count }}</span></a></li>
            <li id="activity-tab-header" class="{% if tab == 'activity' %}current{% endif %}"><a href="?tab=activity">{% trans "Activity" %}</a></li>
            <li id="urls-tab-header" class="hascount{% if tab == 'urls' %} current{% endif %}"><a href="?tab=urls">{% trans "URLs" %}<span>{% video_url_count video %}</span></a></li>
        </ul>
        <div id="tab-container">{% block tab %}{% endblock %}</div>
    </div>
{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url videos:video_debug video.video_id %}" target="blank">Debug info</a>
            </li>
            <li>
                <a href="{% url admin:videos_video_change video.pk %}" target="blank">{% trans 'Edit video' %}</a>
            </li>
            <li>
                <a href="{% url subtitles:subtitle-editor video.video_id 'en' %}">New editor</a>
            </li>
            <li>
            </li>
            <li>{% feature_video video %}</li>
            {% if task %}<li> <a href="">task id={{task.pk}}</a></li>{% endif %}
        </ul>
    {% endif %}
{% endblock %}
  
trans
