{% extends "base.html" %}

{% load i18n search_tags media_bundle %}
{% load url from future %}

{% block body_attrs %}id="watch"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url "videos:rpc_api" %}" type="text/javascript"></script>
    {% media_bundle 'ajax-paginator.js' %}
{% endblock %}

{% block main_content %}

{% search_form %}

<h1>{% block heading %}{% trans "Watch Subtitled Videos" %}{% endblock %}</h1>

<div class="pod" id="featured_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url "videos:featured_videos" %}">
            {% trans "More Featured Videos" %}
        </a>
        <h2>{% trans "Featured Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        {% with featured_videos as video_list %}
            {% include 'videos/_watch_page.html' %}
        {% endwith %}
    </div><!-- // bd -->
</div><!-- // pod -->
<br/>

{% block extra_videos %}{% endblock %}

<div class="pod" id="latest_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url "videos:latest_videos" %}">
            {% trans "More Recent Videos" %}
        </a>
        <h2>{% trans "Latest Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        <div class="watch-page-content">
            {% with latest_videos as video_list %}
                {% include 'videos/_watch_page.html' with showdate="true" %}
            {% endwith %}
        </div>
    </div><!-- // bd -->
</div><!-- // pod -->

{% endblock %}
