{% load media_compressor %}
<!DOCTYPE html>
<html >
    <head>
        {% block scripts %}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Brightcove Demo</title>
        {% if not js_use_compiled %}
            {% include_bundle "js-base-dependencies" %}
        {% endif %}
        {% include_bundle "unisubs-widgetizer" %}
    </head>
    <body class="mubasher inner">
        <div class="field-item odd">
            <script type="text/javascript" src="{{embed_js_url}}"> 
                (
                    {"video_url": "http://link.brightcove.com/services/player/bcpid1863022645001?bckey=AQ~~,AAABsa9s-pE~,EEnHyMsvXefuA3oaqg7GySTUKzK9ySbx&bctid=1897242630001"}
                )
            </script>
        </div>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
    </body>
</html>
