// Fonts
$Helvetica: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$OpenSans: 'Open Sans', $Helvetica;
$CodePro: 'CodeProLC', $OpenSans;

// Custom fonts
@font-face {
    font-family: 'CodeProLC';
    src: url('../../../fonts/CodeProLC.eot');
    src: url('../../../fonts/CodeProLC.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/CodeProLC.woff') format('woff'),
         url('../../../fonts/CodeProLC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-box-shadow($horizontalIn: 0px, $verticalIn: 1px, $blurIn: 2px, $colorIn: #CCC, $horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}

// Page
html, body {
    background: #F3F4F5;
}
body {
    color: #565758;
    font: normal 11px/14px $OpenSans;
    margin: 0;
    text-rendering: optimizeLegibility;
}

// border-box all the things.
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
strong {
    font-weight: bold;
}

// Modules
.column {
    float: left;

    &.left {
        width: 34%;
    }
    &.center {
        width: 39%;
    }
    &.right {
        width: 27%;
    }
}

header.main {
    background: #212223;
    border-bottom: 1px solid #474849;
    @include multi-box-shadow(0, -1px, 0, #151617, 0, 5px, 8px, #D7D8D9);

    section.column {
        height: 38px;
    }
    section.site {
        h1 {
            color: #949596;
            font: normal 18px $CodePro;
            letter-spacing: -1px;
            margin: 0;
            padding: 8px 12px;
            text-transform: lowercase;
        }
    }
    section.video {
        border-left: 1px solid #2B2C2D;
        border-right: 1px solid #2B2C2D;
    }
    section.status {
        > * {
            height: 38px;
        }
        a {
            -webkit-transition: color 0.03s linear;
            -moz-transition: color 0.03s linear;
            transition: color 0.03s linear;
        }
        div.dropdown {
            border-right: 1px solid #2B2C2D;
            float: left;
            position: relative;
            width: 50%;

            a {
                color: #999999;
                font: normal 11px $OpenSans;
                display: block;
                height: 38px;
                padding: 11px 12px 0 12px;
                text-decoration: none;

                span {
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 80%;
                }
                img {
                    float: right;
                    margin-top: 2px;
                    @include opacity(.5);
                    -webkit-transition: opacity 0.03s linear;
                    -moz-transition: opacity 0.03s linear;
                    transition: opacity 0.03s linear;
                }
                &:hover {
                    color: white;

                    img {
                        @include opacity(1);
                    }
                }
            }
            ul {
                background: #212223;
                left: 20px;
                padding: 7px 15px;
                position: absolute;
                top: 58px;
                width: 100%;
                @include border-radius(3px);

                &:before {
                    border-bottom: 12px solid #212223;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    content: "";
                    display: block;
                    height: 0px;
                    position: absolute;
                    right: 26px;
                    top: -12px;
                    width: 0px;
                }
                li {
                    a {
                        color: #8D8E8E;
                        padding: 7px 0;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
        div.exit {
            float: right;
            text-align: right;
            width: 50%;

            a {
                color: #999999;
                display: inline-block;
                font: normal 11px $OpenSans;
                padding: 11px 12px 12px 12px;
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
section.main {

    /*
     * Don't ask.
     *
     * Actually, do.
     * Do ask.
     *
     */
    word-spacing: -3px;
    * {
        word-spacing: normal;
    }

    .column {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    div.subtitles-wrapper {
        overflow: hidden;
    }
    div.subtitles {
        overflow: auto;

        ul {
            margin-top: 25px;
            overflow: hidden;

            li {
                color: #3C3C3D;
                font-size: 12px;
                line-height: 25px;

                span {
                    display: block;
                    padding: 10px 40px;
                }
            }
            &[editable="true"] {
                li {
                    position: relative;

                    textarea {
                        border: 0;
                        font: normal 12px $OpenSans;
                        line-height: 25px;
                        display: block;
                        height: 45px;
                        margin: 0;
                        resize: none;
                        padding: 10px 40px;
                        width: 100%;

                        &:focus {
                            outline: none;
                        }
                    }
                    span {
                        cursor: text;
                    }
                    a.remove {
                        background: transparent url('../../../images/subtitle-editor/x.png') center center no-repeat;
                        color: transparent;
                        display: none;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 40px;
                        @include opacity(.2);

                        &:hover {
                            @include opacity(.5);
                        }
                        &:active {
                            
                        }
                    }
                    &.editing {
                        background: white;
                        padding: 0;
                    }
                    &:hover {
                        background: #EBECED;

                        a.remove {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    section.left {
        div.help-panel {
            background: #666666;
            color: white;
            font-size: 12px;
            height: 250px;
            margin: 20px;
            padding: 20px;
            @include border-radius(3px);

            h1 {
                font-size: 16px;
                margin-bottom: 20px;
            }
            p {
                line-height: 18px;
            }
            ul {
                margin: 20px 0 0 10px;

                li {
                    margin: 20px 0;

                    span.key {
                        background: white;
                        display: block;
                        height: 32px;
                        float: left;
                        margin-right: 10px;
                        position: relative;
                        width: 54px;
                        @include border-radius(3px);

                        span {
                            bottom: 2px;
                            color: #5A5758;
                            diplay: block;
                            font-size: 8px;
                            font-weight: bold;
                            left: 4px;
                            position: absolute;
                        }
                    }
                    span.description {
                        display: block;
                        float: left;
                        margin-top: 7px;
                    }
                    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        div.language-selections {
            background: #ECECEC;
            border-bottom: 1px solid #DADBDC;
            border-top: 1px solid #DADBDC;
            padding: 5px 20px;

            select {
                display: block;
                float: left;
                margin: 0;
                width: 33%;
            }
        }
    }
    section.center {
        @include box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.23));

        div.video {
            border-left: 1px solid #88898B;
            border-right: 1px solid #88898B;
            height: 320px;

            iframe {
                height: 320px;
                width: 100%;
            }
        }
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); 
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); 
    }
}
