@charset "UTF-8";

// Fonts
$Helvetica: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$OpenSans: 'Open Sans', $Helvetica;
$CodePro: 'CodeProLC', $OpenSans;

// Custom fonts
@font-face {
    font-family: 'CodeProLC';
    src: url('../../../fonts/CodeProLC.eot');
    src: url('../../../fonts/CodeProLC.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/CodeProLC.woff') format('woff'),
         url('../../../fonts/CodeProLC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-box-shadow($horizontalIn: 0px, $verticalIn: 1px, $blurIn: 2px, $colorIn: #CCC, $horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: $start;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}
@mixin shadow {
    bottom: -41px;
    content: "";
    display: block;
    height: 40px;
    right: 16px;
    position: absolute;
    width: 95%;
    z-index: 51;
    @include vertical-gradient(rgba(#F3F4F5, 1), rgba(white, 0));
}

// Page
html, body {
    background: #F3F4F5;
    overflow: hidden;
}
body {
    color: #565758;
    font: normal 11px/14px $OpenSans;
    margin: 0;
    text-rendering: optimizeLegibility;
}

// border-box all the things.
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.toolbar {
    height: 40px;
}
// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
strong {
    font-weight: bold;
}

// Modules
div.modal {
    background: rgba(black, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    div.inner {
        background: #212223;
        color: #F1F1F1;
        margin: 230px auto 0 auto;
        padding: 40px;
        width: 50%;
        @include border-radius(3px);
        @include box-shadow(0, 0, 30px, rgba(black, .4));

        h1 {
            /* The preloader should not use custom font, else some browsers
                will display blank text until that font has loaded */
            font: normal 17px $Helvetica;
            margin-bottom: 20px;
            
            &.loading {
                margin-bottom: 0;
            }
        }
        p {
            color: #AEAEAE;
            font: normal 12px/20px $OpenSans;
            margin-bottom: 20px;
        }
        div.buttons {
            margin-top: 40px;
            text-align: right;
        }
        div.download {
            textarea {
                background: #E3E6E9;
                font: normal 12px monospace;
                height: 100px;
                margin-bottom: 5px;
                margin-top: 0;
                padding: 10px;
                width: 100%;
                @include border-radius(3px);
            }
            p {
                color: #CCC;
            }
        }
    }
}
button {
    border: 0;
    color: #DEDFDF;
    cursor: pointer;
    display: inline-block;
    font: normal 12px $OpenSans;
    margin: 0 10px;
    padding: 5px 20px;

    @include border-radius(2px);

    &.approve {
        background: #29B0BF url('../../../images/thumbs-up.png') 10px center no-repeat;
    }
    &.no {
        background: #4A4B4C;
    }
    &.send-back {
        background: #D24655 url('../../../images/thumbs-down.png') 10px center no-repeat;
        margin-right: 5px;
    }
    &.yes {
        background: #126895;
    }
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-left: 0;
        margin-right: 0;
    }
    &.last-chance {
        background: none;
        color: #4398C5;
        display: block;
        font-size: 11px;
        margin-top: 20px;
        padding: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.column {
    float: left;

    // Note: there's a bug in Chrome Linux that prevents proper rendering of
    // percentage-based widths. See https://code.google.com/p/chromium/issues/detail?id=162117
    //
    // Thus, the following does not add up to 100%.
    &.left {
        min-width: 300px;
        width: 37%;
    }
    &.center {
        min-width: 300px;
        width: 37%;
    }
    &.right {
        width: 26%;
    }
}
header.main {
    background: #212223;
    border-bottom: 1px solid #474849;
    @include multi-box-shadow(0, -1px, 0, #151617, 0, 5px, 8px, #D7D8D9);

    section.column {
        height: 38px;
    }
    section.site {
        h1 {
            color: #949596;
            font: normal 18px $CodePro;
            letter-spacing: -1px;
            margin: 0;
            padding: 8px 12px;
            text-transform: lowercase;
        }
    }
    section.video {
        border-left: 1px solid #2B2C2D;
        border-right: 1px solid #2B2C2D;
        padding: 10px;

        span.video-title {
            color: #D0D1D2;
            display: block;
            font: normal 13px $OpenSans;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            span.subtitles-language {
                font-weight: bold;
            }
            span.sep {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
    section.status {
        > * {
            height: 38px;
        }
        a {
            -webkit-transition: color 0.03s linear;
            -moz-transition: color 0.03s linear;
            transition: color 0.03s linear;
        }
        div.dropdown {
            border-right: 1px solid #2B2C2D;
            float: right;
            position: relative;

            a {
                color: #999999;
                font: normal 11px $OpenSans;
                display: block;
                height: 38px;
                padding: 11px 12px 0 12px;
                text-decoration: none;

                span {
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
                img {
                    float: right;
                    margin-top: 2px;
                    @include opacity(.5);
                    -webkit-transition: opacity 0.03s linear;
                    -moz-transition: opacity 0.03s linear;
                    transition: opacity 0.03s linear;
                }
                &:hover {
                    color: white;

                    img {
                        @include opacity(1);
                    }
                }
            }
            ul {
                background: #212223;
                right: 0;
                padding: 7px 15px;
                position: absolute;
                top: 58px;
                min-width: 130px;
                @include border-radius(3px);

                &:before {
                    border-bottom: 12px solid #212223;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    content: "";
                    display: block;
                    height: 0px;
                    position: absolute;
                    right: 26px;
                    top: -12px;
                    width: 0px;
                }
                li {
                    a {
                        color: #8D8E8E;
                        padding: 7px 0;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
            &.status {
                a {
                    cursor: default;
                }
            }
        }
        div.exit {
            border-right: none;
            text-align: center;

            a {
                display: inline-block;

                &.save {
                    background: #126295;
                    color: white;
                }
                &.disabled {
                    background: #888;
                    cursor: default;
                }
            }
        }
    }
}
section.main {
    /*
     * Don't ask.
     *
     * Actually, do.
     * Do ask.
     *
     */
    word-spacing: -3px;
    * {
        word-spacing: normal;
    }

    .column {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    span.key {
        background: white;
        display: block;
        height: 32px;
        float: left;
        margin-right: 10px;
        position: relative;
        @include border-radius(3px);

        span {
            bottom: 2px;
            color: #5A5758;
            diplay: block;
            font-size: 9px;
            font-weight: bold;
            left: 4px;
            position: absolute;
        }
    }
    div.subtitles-wrapper {
        overflow: visible;
        position: relative;

        a.scroll-lock {
            background: #414243 url('../../../images/editor/icons.png') center center no-repeat;
            bottom: 11px;
            height: 25px;
            position: absolute;
            right: 20px;
            width: 25px;
            @include border-radius(2px);

            &.locked {
                background-position: center -119px;
            }
            &.unlocked {
                background-position: center -143px;
            }
        }

        div.sync-help {
            position: absolute;
            display: none;
            width: 120px;
            height: 65px;
            color: #ffffff;
            z-index: 80;

            div.text {
                line-height: 65px;
                vertical-align: middle;
            }

            span.key {
                margin-left: 14px;
                margin-top: 16px;
                width: 32px;
                span {
                    color: #000;
                    font-size: 12px;
                    bottom: 5px;
                }
            }
            &:before {
                /* Draws a triangle in the middle of the box.
                 */
                position: absolute;
                top: 17px;
                content: "";
                display: block;
                height: 0px;
                width: 0px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
        }
        div.sync-help.end {
            background: #126295;
            left: 100%;
            &:before {
                left: -15px;
                border-right: 15px solid #126295;
            }
        }

        div.sync-help.begin {
            background: #15998e;
            right: 100%;
            &:before {
                right: -15px;
                border-left: 15px solid #15998e;
            }
        }

        div.info-tray {
            position: absolute;
            left: 100%;
            top: 45px;
            width: 200px;
            z-index: 101;

            background: #e4e5e6;
            border-top: 1px solid #e6e7e8;
            border-right: 1px solid #e6e7e8;
            border-bottom: 1px solid #e6e7e8;
            table {
                width: 100%;
                margin: 0px 15px 25px 15px;
            }
            td, th {
                text-align: left;
                width: 50%;
                font-size: 12px;
                padding-top: 15px;
                color: #a3a4a5;
                em {
                    color: #838485;
                }
            }
            tr.child {
                td, th {
                    padding-top: 8px;
                }
                th {
                    padding-left: 20px;
                }
            }
        }
    }
    div.subtitles {
        overflow: auto;
        position: relative;

        div.metadata {
            background: #fff;
            font-size: 12px;
            position: relative;
            h2 {
                font-size: 14px;
                background: #c5c5c5;
                padding: 20px 42px;
                color: white;
            }
            h3 {
                text-transform: uppercase;
            }
            div.content {
                padding: 24px 42px;

                p {
                    padding: 16px 0 30px;
                    line-height: 140%;
                }
                textarea {
                    margin: 16px 0 30px;
                    line-height: 140%;
                    width: 100%;
                    border: 0;
                    color: #565758;
                    font: normal 12px $OpenSans;
                    resize: none;
                }
            }
            a.expander {
                position: absolute;
                left: 24px;
                top: 20px;
                height: 0px;
                width: 0px;
                border-top: 10px solid #fff;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;

                &.collapsed {
                    border-left: 10px solid #fff;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                }
            }

            &[dir=rtl] {
                a.expander {
                    left: auto;
                    right: 24px;

                    &.collapsed {
                        border-left: 0;
                        border-right: 10px solid #fff;
                    }
                }
            }

        }

        ul {
            overflow: hidden;

            .subtitle-list-item {
                .new-paragraph {display: none;}
                &:hover {
                    a.new-paragraph {display: block;}
                }
            }
            li.paragraph-start .new-paragraph {
                       font-style: normal;
		       color: #666;
                       display: block;
            }
            li {
                color: #3C3C3D;
                font-size: 12px;
                line-height: 25px;
                position: relative;
            span.arrow {
                position: absolute;
                top: 8px;
                right: 0px;
                content: "";
                display: none;
                height: 0px;
                width: 0px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 15px solid #e4e5e6;
            }
            span.timing {
                color: #363637;
                display: block;
                font-size: 10px;
                position: absolute;
                right: 20px;
                top: 2px;
                line-height: 25px;

                span {
                    display: inline-block;
                }
                a.comments {
                    background: transparent url('../../../images/editor/comments.gif') top left no-repeat;
                    display: inline-block;
                    height: 9px;
                    margin-left: 3px;
                    vertical-align: -1px;
                    width: 10px;
                }
            }

                div.hover {
                    display: none;

                    a.remove-subtitle {
                        background: transparent url('../../../images/editor/remove-subtitle.gif') top left no-repeat;
                        bottom: 7px;
                        display: block;
                        height: 10px;
                        position: absolute;
                        text-indent: -1000em;
                        right: 20px;
                        width: 10px;
                    }
                    a.add-subtitle {
                        top: 0px;
                        display: block;
                        left: 50%;
                        margin-left: -15px;
                        overflow: hidden;
                        position: absolute;
                        height: 15px;
                        width: 30px;

                        &:before {
                            background: #BABBBC url('../../../images/editor/plus.gif') center 80% no-repeat;
                            content: "";
                            display: block;
                            height: 30px;
                            margin: -15px auto 0 auto;
                            width: 30px;
                            @include border-radius(30px);
                        }
                    }
                }
		.new-paragraph {
		        color: #B0B0B0;
                        font: normal 13px $OpenSans;
                        text-decoration: none;
                        top: 13px;
                        position: absolute;
                        left: 15px;
                }
                textarea, span.subtitle-text {
                    border: 0;
                    border-top: 1px solid #EBECED;
                    border-left: 0;
                    border-right: 0;
                }
                textarea {
                    font: normal 12px $OpenSans;
                    line-height: 25px;
                    height: 46px;
                    margin: 0;
                    display: block;
                    resize: none;
                    padding: 10px 50px 10px 40px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
                span.subtitle-text {
                    cursor: text;
                    display: block;
                    min-height: 46px;
                    padding: 10px 50px 10px 40px;

                    b {
                        font-weight: bold;
                    }
                    i {
                        font-style: italic;
                    }
                }
                &.edit span.subtitle-text {
                    display: none;
                }
                &.current-subtitle {
                    background: #ddeaf7;
                }
                span.start-time {
                    color: #CCC;
                    font: normal 10px $OpenSans;
                    right: 5px;
                    position: absolute;
                    top: 17px;
                }
                a.remove {
                    background: transparent url('../../../images/subtitle-editor/x.png') center center no-repeat;
                    color: transparent;
                    display: none;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    @include opacity(.2);

                    &:hover {
                        @include opacity(.5);
                    }
                    &:active {
                        background: transparent url('../../../images/subtitle-editor/hourglass.png') center center no-repeat;
                    }
                }
                &.editing {
                    background: white;
                    padding: 0;
                }
                &:hover {
                    div.hover {
                        display: block;
                    }
                    span.start-time {
                        color: #B0B0B0;
                    }
                }
                &.empty {
                    background: #fdfdea;

                    textarea, span {
                        background: #fdfdea;
                    }
                }
            }
            &[editable="false"] {
                li {
                    margin-right: 6px;
                }
            }

            &[dir=rtl] {
                span.timing {
                    left: 20px;
                    right: auto;
                }
            }

        }
        .end {
            color: #3C3C3D;
            display: block;
            line-height: 20px;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: #EBECED;
            }
        }
    }
    section.left {
        div.help-panel {
            background: #0C3F70;
            color: white;
            font-size: 12px;
            height: 216px;
            margin: 20px;
            padding: 20px;
            @include border-radius(3px);

            span.key {
                width: 20%;
            }

            a.advanced {
                color: white;
                float: right;
                font-size: 11px;
                margin-top: 1px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            h1 {
                font-size: 16px;
                margin-bottom: 30px;
            }
            p {
                font-size: 11px;
                line-height: 18px;
            }
            ul {
                margin: 20px 0 0 10px;

                li {
                    margin: 10px 0;

                    span.description {
                        display: block;
                        float: left;
                        margin-top: 7px;
                    }
                    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        div.preview {
            color: #949596;
            height: 34px;
            text-align: center;
            text-shadow: 0 1px 0 white;

            a {
                color: #256F9E;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        div.language-selections {
            background: #ECECEC;
            border-top: 1px solid #DADBDC;
            position: relative;

            div.select {
                background: transparent url('../../../images/down-arrow-offset.png') center right no-repeat;
                border-right: 1px solid #DADBDC;
                float: left;
                overflow: hidden;
                padding: 10px 10px;
                position: relative;
                width: 42%;

                select {
                    background: transparent;
                    font-size: 12px;
                    line-height: 134%;
                    height: 1.33em;
                    border: 0;
                    cursor: pointer;
                    margin: 0;
                    overflow: hidden;
                    width: 140%;
                    text-indent: 0;
                    -webkit-appearance: none;
                    @include border-radius(0);

                    &:focus {
                        outline: none;
                    }
                }
                &:last-of-type {
                    border-right: 0;
                }
            }
        }
    }
    section.center {
        @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 0.23));

        div.video {
            height: 290px;
            position: relative;

            div.subtitle-overlay {
                position: absolute;
                bottom: 63px;
                left: 0;
                width: 100%;
                padding: 0 20px;
                text-align: center;

                div {
                    background: rgba(0, 0, 0, .8);
                    color: #FFF;
                    display: inline-block;
                    font: normal 16px/22px Helvetica;
                    margin: 0;
                    padding: 12px 20px;
                    text-align: center;
                    max-width: 100%;
                    width: auto;
                    @include border-radius(5px);

                    b {
                        font-weight: bold;
                    }
                    i {
                        font-style: italic;
                    }
                    u {
                        text-decoration: underline;
                    }
                }
            }
            div.video-container {
                height: 258px;
                width: 100%;
                iframe, video {
                    height: 258px;
                    width: 100%;
                }
            }

            ul.video-controls {
                height: 32px;
                background: #212223;
                border-bottom: 1px solid #19191a;
                color: #fff;

                li {
                    display: block;
                    float: left;
                    padding-top: 2px;
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                    text-align: center;
                }
                li a {
                    display: block;
                    height: 30px;
                }

                li.play-pause {
                    float: left;
                }

                li.time, li.volume {
                    float: right;
                }

                li.play-pause a {
                    width: 48px;
                    background: url('../../../images/editor/play-button.png') center center no-repeat;
                }

                li.play-pause.playing a {
                    background-image: url('../../../images/editor/pause-button.png');
                }

                li.time {
                   width: 85px;
                }

                li.volume a {
                    width: 40px;
                    background: url('../../../images/editor/volume-icon.png') center center no-repeat;
                }
                
                li.progress {
                    float: none;
                    margin-left: 48px;
                    margin-right: 135px;
                    padding-top: 2px;

                    div {
                        height: 28px;
                        background: center center repeat-x;
                    }

                    // This is kindof tricky because we want to display a
                    // sliced image on top of another sliced image.  We create
                    // 3 div for the slices and put the background on them,
                    // then create an inner div inside each of them and put
                    // the forground on them

                    .slice-left {
                        float: left;
                        width: 14px;
                        background-image: url('../../../images/editor/progress-background-left.png');
                        div {
                            background-image: url('../../../images/editor/progress-bar-left.png');
                            width: 0px;
                        }
                    }
                    .slice-right {
                        float: right;
                        width: 14px;
                        background-image: url('../../../images/editor/progress-background-right.png');
                        div {
                            background-image: url('../../../images/editor/progress-bar-right.png');
                            width: 0px;
                        }
                    }
                    .slice-mid {
                        float: none;
                        background-image: url('../../../images/editor/progress-background-middle.png');
                        margin: 0px 14px;
                        div {
                            background-image: url('../../../images/editor/progress-bar-middle.png');
                            width: 0px;
                        }
                    }
                }
            }
            div.volume-bar {
                position: absolute;
                width: 40px;
                height: 110px;
                bottom: 33px;
                right: 85px;
                background: url('../../../images/editor/volume-background.png') center center no-repeat;
                padding: 10px 0 5px;
                div {
                    width: 40px;
                    height: 0px;
                    background: transparent center top repeat-y;
                }
                div.slice1 {
                    background-image: url('../../../images/editor/volume-bar-top.png');
                }
                div.slice2 {
                    background-image: url('../../../images/editor/volume-bar-middle.png');
                }
                div.slice3 {
                    background-image: url('../../../images/editor/volume-bar-bottom.png');
                }
            }
        }
        div.workspace-tools {
            background: #E7E8E9;
            border-top: 1px solid #DADBDC;
            position: relative;
            z-index: 50;
            @include multi-box-shadow(
                0, -5px, 5px, rgba(#E0E1E2, 1),
                -7px, 0, 7px, rgba(0, 0, 0, 0.08)
            );

            div.subtitles-language {
                color: black;
                float: left;
                font-weight: bold;
                padding: 10px;
                font-size: 12px;
                line-height: 1.34em;
            }
	    div.toolbox {
                padding-top: 5px;
                padding-right: 10px;
                float: right;
                div.toolbox-inside:hover ul.toolbox-menu {
                  display:block;
                }
                div.toolbox-inside {              
                   width: 150px;
		   position: relative;
                }
                div.toolbox-inside > a {
		color: black;
                font-weight: 900;
                font-size: 18px;
                line-height: 1.34em;
                text-decoration: none;
                text-align: right;
                position: absolute;
                right: 0;
                padding: 3px 0px 20px 20px;
                }


                ul.toolbox-menu {
                   &:before {
                       position: absolute;
                       display: block;
                       content: "";
                       border-color: transparent transparent #212223 transparent;
                       border-style: solid;
                       border-width: 10px;
                       height:0;
                       width:0;
                       position:absolute;
                       top:-20px;
                       right: 1em;
                   }
                   background: #212223;
                   display:none;
                   position: absolute;
                   text-align: left;
                   top: 35px;
                   right: -16px;
		   li { 
		       list-style-type: none;
    		       display: inline-block;
                       width:100%;
                       a {
                           width:100%;
                           color: #DDDDDD;
                           display: inline-block;
                           padding: 10px;
                           padding-left: 28px;
                           text-decoration: none;
                           &.copyover {
                             background: url('../../../images/subtitle-editor/glyphicons_358_file_import.png') 10px no-repeat;
                           }
                           &.show-timeline {
                             background: url('../../../images/subtitle-editor/glyphicons_054_clock.png') 10px no-repeat;
                           }
                           &:hover {
                              background: #C5C5C5;
                              color: #212223;
                           }
                          }
		      }
                }
	    }
            div.switches {
                float: right;

                a {
                    background: transparent url('../../../images/editor/icons.png') top left no-repeat;
                    color: #7A7B7C;
                    display: inline-block;
                    padding: 10px;
                    padding-left: 22px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                    &.timeline-display {
                        background-position: left -88px;
                    }
                    &.copyover-display {
                        background-position: left -88px;
                    }
                    &.video-display {
                        background-position: left -63px;
                    }
                }
            }
        }
    }
    section.right {
        div.steps-container {
            height: 290px;
            position: relative;

            ul.steps {
                left: 0;
                position: absolute;
                bottom: 0;

                > li {
                    border-bottom: 1px solid #DADBDC;
                    color: #313233;
                    font-size: 14px;
                    padding: 12px 0 12px 10px;
                    width: 200px;

                    div.substeps {
                        margin: 10px 0 0 16px;
                        p {
                            color: #767879;
                            font-size: 11px;
                        }
                        button {
                            margin-top: 10px;
                            color: #FFFFFF;
                            padding: 12px 10px;
                            &.next-step {
                                background: #29B0BF;
                            }
                            &.endorse {
                                background: #29B0BF url('../../../images/thumbs-up.png') 10px center no-repeat;
                                padding-left: 40px;
                            }
                        }
                    }

                    &.done {
                        background: transparent url('../../../images/checkmark.gif') center right no-repeat;
                        color: #949596;
                    }
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
section.collab {
    a.toggle-pane {
        z-index:1000;
        cursor: pointer;
        background: #333333 url('../../../images/arrow-left.png') center center no-repeat;
        color: transparent;
        display: block;
        height: 30px;
        position: fixed;
        right: 0;
        top: 100px;
        width: 24px;
        @include multi-border-radius(2px, 0, 0, 2px);
    }
    aside {
        background: #333;
        height: 100%;
        position: fixed;
        right: 0;
        min-width: 250px;
        width: 26%;
        border-left: 1px solid #DADBDC;
        z-index: 52;

        a.toggle-pane {
            background: #333333 url('../../../images/arrow-right.png') center center no-repeat;
            left: -24px;
            position: absolute;
            top: 61px;
        }
        div.module {
            border-top: 1px solid #292929;

            a {
                border-bottom: 1px solid #292929;
                color: #E6E6E6;
                display: block;
                font: bold 12px $OpenSans;
                padding: 15px 0 15px 20px;
                text-decoration: none;

                &:before {
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 6px solid #ECECEC;
                    content: "";
                    display: inline-block;
                    height: 0; 
                    margin-right: 10px;
                    width: 0;
                }
                &:hover {
                    color: white;
                }
            }
            div.content {
                padding: 0 20px;

                textarea {
                    background: #ECECEC;
                    border: 0;
                    color: #5C5C5C;
                    min-height: 150px;
                    padding: 10px;
                    width: 100%;
                    @include border-radius(3px);

                    &:focus {
                        outline: none;
                    }
                }
            }
            
            &.approval {
                border-top: 0;
                margin: 15px 0;

                button {
                    color: #EFDFE1;
                    font: normal 13px $OpenSans;
                    padding: 10px 0 10px 30px;
                    text-align: left;
                    width: 48%;
                }
            }
            &.open {
                a {
                    border-bottom: 0;

                    &:before {
                        border-top: 6px solid #ECECEC;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        margin-right: 8px;
                        vertical-align: -3px;
                    }
                }
                div.content {
                    border-bottom: 1px solid #292929;
                    padding-bottom: 10px;
                }
            }
        }
    }
    div.errors {
        .error {
            background: #F2DEDE url('../../../images/warning.png') 10px center no-repeat;
            border: 1px solid #EED3D7;
            border-left: 0;
            bottom: 30%;
            color: #B94A48;
            display: block;
            padding: 10px 20px 10px 36px;
            position: fixed;
            z-index: 49;
            @include multi-border-radius(0, 2px, 2px, 0);
        }
    }
}

// Timeline mode
section.timeline {
    background: #212223;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 329px;
    width: 100%;
    z-index: 51;

    div.current-time-marker {
        background: #FC0D1B;
        content: "";
        display: block;
        height: 65px;
        left: 50%;
        position: absolute;
        width: 1px;
        z-index: 54;
    }
    div.subtitles-container {
        height: 65px;
        position: absolute;
        top: 0;
        width: 100%;

        div.subtitle {
            background: #DADBDC;
            font-size: 11px;
            height: 28px;
            overflow: hidden;
            padding: 7px 10px 0 10px;
            position: absolute;
            top: 10px;
            @include border-radius(3px);

            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                white-space: nowrap;
                cursor: move;
            }
            a.handle {
                cursor: col-resize;
                height: 100%;
                position: absolute;
                top: 0;
                width: 4px;

                &.left {
                    background: #3E8982;
                    left: 0;
                    @include multi-border-radius(3px, 0, 0, 3px);
                    
                    &:before {
                        background: #3E8982;
                        content: "";
                        display: block;
                        height: 12px;
                        left: -5px;
                        position: absolute;
                        top: 8px;
                        width: 12px;
                        @include border-radius(12px);
                    }
                }
                &.right {
                    background: #A2A3A4;
                    right: 0;
                    @include multi-border-radius(0, 3px, 3px, 0);

                    &:before {
                        background: #A2A3A4;
                        content: "";
                        display: block;
                        height: 12px;
                        position: absolute;
                        right: -5px;
                        top: 8px;
                        width: 12px;
                        @include border-radius(12px);
                    }
                }
            }
        }

        div.unsynced {
            background: #FEFFE2;
        }
    }
    canvas.timing {
        position: absolute;
        top: 0;
        left: 0;
        height: 65px;
        width: 100px;
    }
}
body.timeline-shown {
    div.workspace-tools, div.language-selections {
        margin-top: 65px;
    }
}

div.subtitles .content {
    padding-bottom: 2000px;
    margin-bottom: -2000px;
}