/*SHARED STYLES */

.top-banner h1 {
	margin-top: 80px;
	width: 90%;
}

.whitespace {
	min-height: 400px;
	color: #656565;
}

.subtext {
	font-size:12px;
	font-weight: 500;
}

.errorlist {
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	list-style: none;
	line-height: 1.65;
}

ul {
	list-style: none;
}

/* INDEX */

#index-banner {
	color: #ffffff;
	min-height: 360px;
	background: url(../images/index-bg-hands.png) no-repeat center;
}

#index-banner h5 {
	width: 80%;
}

#index-two-tone {
	background: #277F6A; /* Old browsers */
	background: -moz-linear-gradient(left,  #277F6A 50%, #3EA286 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#277F6A), color-stop(50%,#3EA286)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #277F6A 50%,#3EA286 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #277F6A 50%,#3EA286 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #277F6A 50%,#3EA286 50%); /* IE10+ */
	background: linear-gradient(to right,  #277F6A 50%,#3EA286 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277F6A', endColorstr='#3EA286',GradientType=1 ); /* IE6-9 */
}

.infobox h2 {
	margin-top: 6.5em;
}

.infobox h5 {
	width: 93%;
	line-height: 1.7em;
}

.infobox h4 a {
	display: inline-block;
	padding: 13px 26px;
	color: #f2f2f3;
	text-decoration:none;
	margin-top: 17.5em;
}

.infobox h4 a:hover {
	text-decoration:none;
}

#index-individuals .container, #index-community .container, #index-pro .container {
	min-height: 472px;
}

/*INDEX-INDIVIDUALS*/

#index-individuals {
	background: url(../images/index-bg-individuals.png) no-repeat center top #3EA286;
}

#index-individuals .infobox h4 a {
	background-color: #277F6A;
}

/*INDEX-COMMUNITY*/

#index-community {
	background: url(../images/index-bg-community.png) no-repeat center top #3F9B45;
}

#index-community .infobox h4 a {
	background-color: #86E200;
	color: #277F6A;
	margin-top: 16.5em;
}

#index-community .infobox p {
	width: 100%;
}

#index-community span {
	width: 90%;
}

/*INDEX-PRO*/

#index-pro {
	background: url(../images/index-bg-pro.png) no-repeat center top #297E6A;
}

#index-pro .infobox h4 a {
	background-color: #41A184;
}

/*INDEX-HILLS*/

#index-hills {
	background: url(../images/index-bg-rolling-hills.png) repeat-x center bottom #31CDAC;
}

#index-hills img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 52px;
	width: 100%;
	max-width: 883px;
}

/* CREATE PAGE */

#create-banner {
	color: #ffffff;
	min-height: 300px;
	background: url(../images/create-bg-playericon.png) no-repeat center #3EA286;
}

#create-banner .create-instructions {
	margin: 18px 0 5px 0;
}

#create-banner .main_video_form_field {
	border: none;
	padding: 10px;
	padding-right: 0;
	font-size: 14px;
	width: 65%;
	font-weight: 200;
}

#create-banner .blue-green-button {
	color: #f2f2f3;
	background-color: #277f6a;
	display: inline;
	padding: 10px 20px;
	border: none;
	font-size: 14px;
	left: -5px;
	position: relative;
}

#create-banner .errorlist {
	color: #a1cf3d;
	margin: 10px 0 0 10px;
}

#create .whitespace h3{
	margin-top: 35px;
}

#create .whitespace li:first-of-type{
	margin-top: 20px;
}

#create .whitespace ul h5{
	font-weight: 300;
}

#bulk_create {
	display: block;
}


/*MOBILE TWEAKS INDEX*/

@media (max-width: 768px) {

	h4, h5, h6 {
		margin-bottom: 2em;
		margin-top: 1em;
	}

	.infobox h4, .infobox h4 a, #index-community .infobox h4 a {
		margin-top: 0;
	}

	#index-banner {
		background-image: none;
		background-color: #277F6A;
		height: 160px;
		min-height: 160px;
		display: inline;
	}

	#index-banner h1 {
		margin-top: 1em;
	}

	#index-two-tone {
		background: #277F6A;
	}

	.infobox h2 {
		margin-top: 9em;
	}

#index-community .infobox span {
	float: left;
}

	#index-community .infobox h4 {
		float: right;
	}
}

/*BIG SCREEN TWEAKS INDEX*/

@media (min-width: 1200px) {

	#index-banner h1 {
		width: 65%;
	}
}
