html5lib==0.95
# patched version of lib, fix for socket errors on rabbitmq
# from http://code.google.com/p/py-amqplib/issues/detail?id=38
# this will be removed after the rollout of amqp
vendor/amqplib-1.0.2-patched.tar.gz
amqp==1.0.8
Django==1.4.13
Fabric==1.4.0
PyRSS2Gen==1.0.0
PyYAML==3.10
South==0.7.4
easy-thumbnails==1.4
Pillow==2.6.0
six==1.4.1
eventlet
vendor/django-registration.tar.gz
vendor/django-piston-0.2.3.tar.gz
vendor/django-keyedcache.tar.gz
vendor/django-storages.tar.gz
vendor/python-openid-2.2.5.tar.gz
vendor/python-yadis-1.1.0.tar.gz
vendor/gdata-2.0.16.tar.gz
vendor/BeautifulSoup-3.2.0.tar.gz
celery==3.0.11
billiard==2.7.3.30
django-celery==3.0.10
vendor/pycrypto-2.1.0.tar.gz
oauth==1.0.1
oauth2==1.5.211
pyOpenSSL==0.9
django-haystack==1.2.7
djangorestframework==2.4.2
-e git+git://github.com/teddziuba/django-sslserver.git#egg=django-sslserver
pysolr==2.0.14
elasticsearch
chardet==1.0.1
vendor/boto-2.1.0-0.tar.gz
-e git+https://github.com/linsomniac/python-memcached.git@bacb8058152873e46e6a2367452a353e4d98a065#egg=python-memcached
feedparser
lxml==2.3
raven==5.1.1
transifex-client==0.8
# do we really need this in prod?
django-debug-toolbar==1.2
# This can be commented out if you're using sqlite
MySQL_python>=1.2.2
Sphinx==1.1.3
# pyfacebook needs to be forked as not do fight with oboeware
vendor/pyfacebook-1.0a2.tar.gz
vendor/Unidecode-0.04.9.tar.gz
M2Crypto==0.21.1
vendor/django-templatetag-sugar.tar.gz
vendor/django-tastypie-0.9.11.tar.gz
# this should be commented until we are sure we want to deploy this to prod
#vendor/oboe-0.4.1.0.tar.gz
requests==0.13.1
rauth==0.4.12
bernhard==0.0.2
-e git+https://github.com/jsocol/bleach.git@105b4cfc2f00cc1954bcab3b39b16fbfaf8863e0#egg=bleach
markdown2==2.0.0
-e git+https://github.com/pculture/babelsubs.git#egg=babelsubs
-e git+https://github.com/pculture/unilangs.git#egg=unilangs
pytz==2012f
pygal
# Documentation
sphinxcontrib-httpdomain==1.2.1
sphinxcontrib-napoleon
sphinx_rtd_theme
# Testing
coverage==3.2b3
nose==1.3.3
nose-exclude==0.2.0
unittest2==0.5.1
git+git://github.com/cmheisel/nose-xcover.git#egg=nosexcover
django-nose==1.2
pylint
mock==1.0.1
# selenium test suite
selenium
xvfbwrapper==0.2.4
factory_boy==2.4.1
