# requirements-test.txt -- requirements for running the unittests.
coverage==3.2b3
nose==1.3.3
git+git://github.com/cmheisel/nose-xcover.git#egg=nosexcover
django-nose==1.2
pylint
mock==1.0.1
# selenium test suite
selenium
xvfbwrapper==0.2.4
factory_boy==2.4.1
