{% extends "new-teams/base.html" %}

{% load i18n %}
{% load url from future %}

{% block content %}

{% include "new-teams/_activity-tabs.html" %}
{% if tab == "videos" %}
<h1>{% blocktrans %}Video Activity for {{ team }}{% endblocktrans %}</h1>
{% elif tab == "team" %}
<h1>{% blocktrans %}Team Activity for {{ team }}{% endblocktrans %}</h1>
{% endif %}
<div class="filtered">
  <div class="filters">
    <h5>{% trans "Filter and Sort" %}</h5>
    <form method="GET" action="">
      {% if action_types %}
      <div class="filter">
        <div>{% trans 'Action Type' %}</div>
        <select id="id_activity_type" name="action_type" class="type-filter chosen">
          <option value="any">
          {% trans 'Any type' %}
          </option>
          {% for type in action_types %}
          <option value="{{ type.0 }}"
          {% if request.GET.action_type == type.0|slugify %}selected="selected"{% endif %}>
          {{ type.1 }}
          </option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      {% if language_choices %}
      <div class="filter">
        <div>{% trans 'Subtitles Language' %}</div>
        <select id="id_subtitles_language" name="subtitles_language" class="language-filter chosen">
          <option value="any">
          {% trans 'Any Language' %}
          </option>
          {% for code, name in language_choices %}
          <option {% if request.GET.subtitles_language == code %}selected="selected"{% endif %} value="{{ code }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="filter">
        <div>{% trans 'Video Language' %}</div>
        <select id="id_video_language" name="video_language" class="language-filter chosen">
          <option value="any">
          {% trans 'Any Language' %}
          </option>
          {% for code, name in language_choices %}
          <option {% if request.GET.video_language == code %}selected="selected"{% endif %} value="{{ code }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <div class="filter">
        <div>{% trans 'Sorted by' %}</div>
        <select name="sort">
          <option {% if request.GET.sort == '-created' or not request.GET.sort %}selected="selected"{% endif %}
          value="-created">
          {% trans 'date, newest' %}
          </option>
          <option {% if request.GET.sort == 'created' %}selected="selected"{% endif %}
          value="created">
          {% trans 'date, oldest' %}
          </option>
        </select>
      </div>

      <div class="actions">
        <button class="submit">Filter</button>
        {% if filtered %}
        <a href="{% url "teams:activity" team.slug %}{% if query %}?q={{ query }}{% endif %}" class="button cancel">Clear</a>
        {% endif %}
      </div>
    </form>
  </div>
  <div class="filtered-content" id="activity-list">
    {% include "new-teams/_activity-list.html" %}
  </div>
</div>
{% endblock %}
