{% extends "new-teams/base.html" %}

{% load i18n %}
{% load url from future %}

{% block content %}

<h2>{% trans "Invite members" %}</h2>
<form method="post" action="" class="team-invite">
  {% csrf_token %}
  <div class="autocomplete-wrapper">
    {% include "_field.html" with field=form.username %}
    <ul class="autocomplete">
    </ul>
  </div>
  {% include "_field.html" with field=form.message %}
  {% include "_field.html" with field=form.role %}

  <div class="actions">
    <button class="submit">{% trans "Invite" %}</button>
  </div>
</form>

{% endblock %}
