{% extends 'base.html' %}

{% block body_attrs %}class="v1 dashboard"{% endblock %}

{% block main_content %}

    <h2>My Account</h2>

    <ul class="tabs">
        <li><a href="/prototypes/team-activity/">Profile</a></li>
        <li><a href="/prototypes/team-members/">Activity</a></li>
        <li><a href="/prototypes/team-tasks/">Videos</a></li>
        <li><a href="/prototypes/team-settings/">Messages</a></li>
        <li class="current"><a href="/prototypes/team-videos/">Dashboard</a></li>
    </ul>

    <div class="view grid_4 alpha">
            <h3>Saved Work</h3>
            <ul class="listing">
                <li>Spanish subtitles for <a href="">Promo Video #2</a> (Some Team)</li>
            </ul>
    </div>
    <div class="grid_4">
        <h3>Assignments</h3>
        <ul class="listing">
            <li>Spanish subtitles for <a href="">Promo Video #3</a> (Some Team) from <a href="">Technoviking</a></li>
        </ul>
    </div>
    <div class="grid_4 omega">
        <h3>Messages</h3>
        <ul class="listing">
            <li>No new messages</li>
        </ul>
    </div>

{% endblock %}