{% load i18n sync_items_tags teams_tags %}
<form class="resync" method="POST" action=".">
  {% csrf_token %}
  <table class="resync_table">
    <tr>
      <th>{% trans 'Account Type' %}</th>
      <th>{% trans 'Error Details' %}</th>
      <th>{% trans 'Subtitle Language' %}</th>
      <th>{% trans 'Resync' %}</th>
    </tr>
    {% for fitem in form %}
    <tr>
      {% with fitem.label|get_fields as fields %}
      {% for key, val in fields.items %}
      <td>
	{{ val }}
      </td>
      {% endfor %}
      <td class="box">
	{{ fitem }}
      </td>
      {% endwith %}
    </tr>
    {% endfor %}
  </table>
  <input type=submit value="{% trans 'Resync selected items' %}">
</form>
