<div ng-controller="TimelineController" class="timeline" ng-show="timelineShown">
    <div class="current-time-marker"></div>
    <canvas class="timing" width="100" height="65" timeline-timing></canvas>
    <div timeline-subtitles class="subtitles-container" dir="{{ language.dir }}">
    </div>
    <div class="nextSubSticker" ng-show="showUpcomingUnsyncedSubtitle">
        <div class="subtitle">
            <span class="handle left"></span><span class="upcomingUnsyncedSubtitleText"></span>
        </div>
    </div>
</div>
