{% load i18n %}
<div class="banner" ng-show="showHideNextTime">
  <h1>{% trans "New to Amara? Here are some pointers to get you started." %}</h1>
  <h2>{% trans "Click anywhere to hide me. Find me again in the tools menu for help with any step." %}</h2>
  <h2 ng-click="handleBadgeMouseClick($event)">
    <label>{% trans "Please go away forever" %}
      <input type="checkbox" ng-model="hideTutorialNextTime"></label>
  </h2>
</div>
<div class="bubble tut-play" ng-show="isTyping() || isSyncing() || isTranslatingTyping() || isTranslatingSyncing()">
  <h1>{% trans "1. Play the video" %}</h1>
  <h2>{% trans "Use the tab key to pause if you need to" %}</h2>
</div>
<div class="bubble typing" ng-show="isTyping()">
  <h1>{% trans "2. Type what you hear" %}</h1>
  <h2>{% trans "Once you fill a line, hit enter. Don't worry about timing." %}</h2>
</div>
<div class="bubble done" ng-show="isTyping()">
  <h1>{% trans "3. Done typing?" %}</h1>
  <h2>{% trans "Click to start syncing your subtitles" %}</h2>
</div>
<div class="bubble subtitlessync" ng-show="isSyncing() || isTranslatingSyncing()">
  <h1>{% trans "2. Press the Down Arrow to start each subtitle" %}</h1>
  <h2>{% trans "Don't worry about small mistakes, we can adjust them later." %}</h2>
  <h2>{% trans "If you need start over, use clear timing from the tools menu." %}</h2>
</div>
<div class="bubble timelinetut" ng-show="isSyncing() || isTranslatingSyncing()">
  <h1>{% trans "3. Are all lines completed and timed?" %}</h1>
  <h2>{% trans "Click to review and make corrections." %}</h2>
</div>
<div class="bubble tut-review-1" ng-show="isReviewing() || isTranslatingReviewing()">
  <h1>{% trans "1. Checkout the guidelines for tips on making quality subtitles" %}</h1>
</div>
<div class="bubble tut-review-2" ng-show="isReviewing() || isTranslatingReviewing()">
  <h1>{% trans "2. Adjust the subtitle times" %}</h1>
  <h2>{% trans "Click on a bubble to drag the whole thing or just grab move the edges for fine-tuning." %}</h2>
</div>
<div class="bubble tut-review-3" ng-show="isReviewing() || isTranslatingReviewing()">
  <h1>{% trans "3. Click when you are done subtitling." %}</h1>
  <h2>{% trans "Or click Save Draft to come back and finish later." %}</h2>
</div>
<div class="bubble tut-trans-type-ref" ng-show="isTranslatingTyping()">
  <h1>{% trans "Choose a Reference language" %}</h1>
</div>
<div class="bubble tut-trans-type-2" ng-show="isTranslatingTyping()">
  <h1>{% trans "2. Type in your translated text" %}</h1>
  <h2>{% trans "Use the tools menu copy timings if you have changed the reference language." %}</h2>
</div>
<div class="bubble tut-trans-type-3" ng-show="isTranslatingTyping()">
  <h1>{% trans "3. Done translating?" %}</h1>
  <h2>{% trans "Click to adjust the timing." %}</h2>
</div>
