{% load i18n %}
<p class="error">
  <span ng-show="!workflow.subtitleList.isComplete()">{% trans "Not all lines completed" %}</span>
  <span ng-show="!workflow.subtitleList.isComplete() && workflow.subtitleList.firstInvalidTiming()"> - </span>
  <span ng-show="workflow.subtitleList.firstInvalidTiming()">
    <a class="invalid-subtitle-link" data-target="[[ workflow.subtitleList.firstInvalidTiming() && workflow.subtitleList.firstInvalidTiming().id ]]"
       href="#"
       ng-click="onSubtitleLinkClicked($event)">
      {% trans "Timing error in subtitle" %}
    </a>
  </span>
</p>
