{% load thumbnail i18n announcement_tags messages_tags profiles_tags media_compressor auth_tags %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en" {% block html_attrs %}{% endblock %} class="base">

<head>
    <title>{% block title %}Amara - {% trans 'Universal subtitling: caption, translate, subtitle and transcribe video.' %}{% endblock %}</title>

    <meta name="description" content="The easiest way to caption and translate any video, with crowdsourcing, volunteers, and professional services." />

    <meta charset="utf-8" />
    {% if not current_site.name == 'unisubs' %}
        <meta name="robots" content="noindex, nofollow"/>
    {% endif %}
    {% block opengraph-head %}
        <meta property="fb:admins" content="539835590"/>
    {% endblock  %}

    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png" />
    {% block css %}{% include_bundle "base" %}{% endblock %}

    <!--[if IE]>
        <style type="text/css"> .group { display: block; zoom: 1; } </style>
    <![endif]-->
    <!--[if gte IE 8]>
        <link href="{{ STATIC_URL }}css/ie8.css" media="all" type="text/css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8]>
        <style> .notIE { display: none !important ; } </style>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include_bundle "site_base_js" %}
    <script type="text/javascript" src="{% url js_i18n_catalog %}"></script>
    <script src="{% url profiles:rpc_api %}" type="text/javascript"></script>  
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        window.STATIC_URL = '{{ STATIC_URL }}';
        {% block oldmodal %}
            window.OLD_MODAL = true; 
        {% endblock %}
    </script>
</head>

<body {% block body_attrs %}{% endblock %}>
    {% csrf_token %}
    {% announcement %}
    {% if user.is_authenticated %}
        {% messages %}
        {% block email_confirmation_block %}
            {% email_confirmation_notification %}
        {% endblock %}
    {% endif %}
    {% require_email_dialog %}
    <div id="main_bar">
        <div id="bar_wrap" class="clearfix">
            <h1><a href="/">Amara</a></h1>
            <div id="bar_right">
                <div id="bar_search">
                    <form method="get" action="{{BASE_URL}}{% url search:index %}">
                        <input type="text" name="q" />
                    </form>
                </div>
                <ul id="bar_menu" class="clearfix">
                    <li id="nav_submit"><a href="{% url videos:create %}">{% trans 'Subtitle Videos' %}</a></li>
                    <li><a href="{% url videos:watch_page %}">{% trans 'Watch' %}</a></li>
                    <li><a href="http://blog.universalsubtitles.org/volunteer/">{% trans "Volunteer" %}</a></li>
                    <li><a href="{% url enterprise_page %}">{% trans "Enterprise" %}</a></li>
                    <li><a href="http://support.universalsubtitles.org/">{% trans 'Help' %}</a></li>
                    {% if user.is_authenticated %}
                        <li id="me_menu">{% top_user_panel %}</li>
                    {% else %}
                        <li><a href="{% url auth:login %}?next={{ request.path_info|urlencode }}">{% trans 'Sign In' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div id="lang_bar">
        {% block select_language_dialog %}
            {% select_language_dialog %}
        {% endblock %}
    </div>
    <div class="content container_12 wrapper clearfix">
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <h2 class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message|safe }}</h2>
                {% endfor %}
                <a href="#" id="closeBut" style="display: block; float: right;">x</a>
            </div>
        {% endif %}
        {% block main_content %}{% endblock %}
    </div>
    <div class="footer">
        <div class="floatleft">
            {% trans 'Amara is a project of <a href="http://participatoryculture.org/">PCF</a>.' %}  
        </div>
        <div class="floatright">
            <a href="/about">{% trans 'About' %}</a>
            <a href="http://www.pculture.org/pcf/jobs/">{% trans 'Jobs' %}</a>
            <a href="http://www.facebook.com/pages/Universal-Subtitles/112574762094219">Facebook</a> 
            <a href="http://twitter.com/amarasubs">Twitter</a>
            <a href="mailto:universalsubtitles@pculture.org">{% trans 'Contact Us' %}</a>
            <a href="http://www.pculture.org/pcf/websites-privacy/">{% trans 'Privacy Policy' %}</a>
            <a href="{% url terms_page %}">{% trans 'Terms of Service' %}</a>
        </div>
    </div>
    {% if user.is_staff or user|can_translate %}
        <div id="admin_controls">
            <ul id="site_controls">
                {% if user.is_staff %}
                    <li><a target="_blank" href="{% url admin:index %}">{% trans 'Admin' %}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a target="_blank" href="http://sentry.pculture.org:9000">{% trans 'Sentry' %}</a></li>
                {% endif %}
                {% if user|can_translate %}
                    <li><a target="_blank" href="{% url rosetta-pick-file %}"><span>{% trans 'Rosetta' %}</span></a></li>
                {% endif %}
                <li><a href="https://github.com/pculture/unisubs/commit/{{ LAST_COMMIT_GUID }}" title="{{ LAST_COMMIT_GUID }}">Github</a></li>
            </ul>
            {% block page_controls %}{% endblock %}
        </div>
    {% endif %}
    {% block bottom_scripts %}{% endblock %}

    {% if not DEBUG and not RUN_LOCALLY %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_NUMBER }}']);
            _gaq.push(['_setDomainName', '.universalsubtitles.org']);    
            _gaq.push(['_trackPageview']);
            {% if not RUN_LOCALLY %}
                {% block analytics %}{% endblock %}
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            {% endif %}
        </script>
    {% else %}
        <script src="/site_media/js/highlight.min.js"></script>
        <link rel="stylesheet" href="/site_media/css/github.min.css">
        <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}

</body>
</html>
