{% extends "hands_base.html" %}

{% load i18n %}

{% block body_attrs %}id="community"{% endblock %}

{% block main_content %}
<div id="community-banner" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>

<div class="container whitespace">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h1 class="community-header">{% trans 'Find your Community' %}</h1>
      <h5 class="community-header">{% trans 'Amara is home to dozens of volunteer teams that make video accessible around the globe. Look below to find a topic or organization that interests you, then join the team to get involved!' %}</h5>
    </div>
  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Art, Culture, and Ideas</h4>
      </div>
    </div>
  </div>
</div>


  <div class="container community-directory">
  <div class="row">

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
          </div>
          <h4>Art21</h4>
          <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
          <h6>view team &raquo;</h6>
        </div>
      </a>


    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
          </div>
          <h4>Art21</h4>
          <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
          <h6>view team &raquo;</h6>
        </div>
      </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Art, Culture, and Ideas</h4>
      </div>
    </div>
  </div>
</div>


  <div class="container community-directory">
  <div class="row">

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
          </div>
          <h4>Art21</h4>
          <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
          <h6>view team &raquo;</h6>
        </div>
      </a>


    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
        </div>
        <h4>Art21</h4>
        <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
        <h6>view team &raquo;</h6>
      </div>
    </a>

    <a href="#">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
          </div>
          <h4>Art21</h4>
          <p>Like contemporary art? Join this team to translate videos for this Award-winning non-profit.</p>
          <h6>view team &raquo;</h6>
        </div>
      </a>

  </div>
</div>

{% endblock %}
