{% extends "base.html" %}

{% load i18n media_compressor %}

{% block body_attrs %}id="demo"{% endblock %}

{% block scripts %}
{% include_bundle "unisubs-onsite-compiled" %}

{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
    <style>
        p {
            font-size: 1.2em;
        }
    </style>
{% endblock %}

{% block main_content %}
<h2 class="centered">{% trans 'Amara Editor Demo' %}</h2>

<div style="text-align: center;">
    <p>
        {% blocktrans %}
        <strong>What's this?</strong> The video below is for 
        demonstration purposes &mdash; try clicking the 'Subtitle Me' button!
        Don't worry, nothing you do will be saved.
        {% endblocktrans %}
    </p> 
    <div style="text-align: center">
        <div id="widget_div" class="unisubs-widget" style="width: 427px; margin: 10px auto"></div>
    </div>
    <script language="JavaScript" type="text/javascript">
      var videoURL = unisubs.player.supportsOgg() ? 
          "http://videos.mozilla.org/firefox/3.5/switch/switch.ogv" :
          "http://www.youtube.com/watch?v=6APY0_lEHJo";
      unisubs.widget.SameDomainEmbed.embed(
          document.getElementById('widget_div'),
          { video_url: videoURL, null_widget: true });
    </script>
    <p style="clear: both">
        {% blocktrans %}
        <strong>Feedback is welcome.</strong> Choose "Help" from the main menu to report bugs or to leave comments for the team.
        {% endblocktrans %}
    </p>
</div>
{% endblock %}
