{% load media_compressor %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Embedder test for external sites.</title>
        <meta charset="utf-8" />
	<script type="text/javascript" src='/en/site_media/js/embedder-iframe.js'></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css" media="screen">
            body {
                margin: 20px 0 500px 0;
            }
            p {
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
      <div class="container">
	<div class="amara-embed" data-height="480px" data-width="854px" data-url="http://www.youtube.com/watch?v=5CKwCfLUwj4"></div>
        <hr>
        <div class="navbar navbar-default">
          <div class="navbar-header"><a class="navbar-brand" href="/embedder/">Amara Embedder</a>
	  </div>
	  <div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://universalsubtitles.org">Amara (Universal Subtitles)</a></li>
              <li><a href="http://popcornjs.org">Popcorn.js</a></li>
            </ul>
	  </div>
        </div>
	
        <section class="main">
          <h4>Note: this new Embedder is a work in progress.<br />It currently only supports YouTube, Vimeo, and HTML5 videos.</h4>
          <p>Step 1: paste this in your document somewhere (closest to the closing body tag is preferable):</p>
	  <script type="text/javascript" src="https://snipt.net/embed/f99e73ccc2a0291e280ba6e7a47550c2/"></script>
          <p>Step 2: paste this somewhere inside your HTML body, with the video URL, height, and width of your choosing:</p>
	  <script type="text/javascript" src="https://snipt.net/embed/45e58b9865e64618cc87aa89fb532b95/"></script>
	  <p>You can set the following options:</p>
	  <ul>
	    <li>Hide the Amara logo by adding <code>data-hide-logo="true"</code> in the previous tag.</li>
	    <li>Hide the menu item to order subtitles by adding <code>data-hide-order="true"</code> in the previous tag.</li>
	    <li>Set the initial active subtitle language by adding <code>data-initial-language="language"</code> in the previous tag, where language is the language code, such as "en" for English.</li>
	    <li>Display the subtitles by default by adding <code>data-show-subtitles-default="true"</code> in the previous tag.</li>
	    <li>Display the transcript by default by adding <code>data-show-transcript-default="true"</code> in the previous tag.</li>
	  </ul>
	  <br />
	  <br />
	  <hr>
	  <p>Below is an example of the same video with<code>data-hide-logo="true"</code>:</p>
	  <div class="amara-embed" data-height="480px" data-width="854px" data-hide-logo="true" data-url="http://www.youtube.com/watch?v=5CKwCfLUwj4"></div>
	  <br />
        </section>
      </div>
    </body>
    </html>
