<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>The new Amara Embedder.</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.css" type="text/css" />
    <!-- JQuery is not being used, but this is here to ensure it's presence on a webpage (very common on offsite embeds) -->
    <!-- won't break anything (no conflicts )  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

    <style type="text/css" media="screen">
        div.amara-embed {
            margin: 50px 0;
        }
    </style>

</head>
<body style="margin-bottom: 200px; padding-top: 10px;">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/embedder/">
                        Amara Embedder
                    </a>
                    <ul class="nav pull-right">
                        <li><a href="http://universalsubtitles.org">Amara (Universal Subtitles)</a></li>
                        <li><a href="http://popcornjs.org">Popcorn.js</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="main">
            <!--Vimeo (width of 740px, auto height):<br /><br />-->
            <!--<div class="amara-embed" style="width: 740px" data-url="http://vimeo.com/39734142"></div>-->
            <!--<hr />-->
            <!--YouTube (width of 640px, height of 480px):<br /><br />-->
            <!--<div class="amara-embed" style="height: 480px; width: 640px" data-url="http://www.youtube.com/watch?v=rYEDA3JcQqw"></div>-->
            <div class="amara-embed" style="height: 480px; width: 854px" data-url="http://www.youtube.com/watch?v=bNySL-ihAvo"></div>
            <!--<div class="amara-embed" style="height: 480px; width: 854px" data-url="http://www.youtube.com/watch?v=Y2IJb1YnAmQ"></div>-->
            <!--<div class="amara-embed" style="height: 360px; width: 854px" data-url="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"></div>-->
        </section>
    </div>
    <script type="text/javascript">
    {% if COMPRESS_MEDIA %}
        // when in prod using build process artifact
        var url = '{{STATIC_URL_BASE}}release/public/embedder.js';
    {% else %}
        // when in development, use simple concatenated file
        var url = '/site_media/release/public/embedder.js';
    {% endif %}
        (function (window, document) {
            var loader = function () {
                var script = document.createElement('script'), tag = document.getElementsByTagName('script')[0];
                script.src = url ;
                tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener('load', loader, false) : window.attachEvent('onload', loader);
        })(window, document);
     </script>
</body>
</html>
