<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Embedder test for external sites.</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src='/en/site_media/js/embedder-iframe.js'></script>
    </head>
    <body>
      <h1>Test of iframes</h1>

      <h2>First frame</h2>
      <div class="amara-embed" data-url="http://www.youtube.com/watch?v=bNySL-ihAvo"></div>
      <h2>Second frame</h2>
      <div class="amara-embed" data-url="http://www.youtube.com/watch?v=bNySL-ihAvo"></div>
      <h1>To include amara videos on a page:</h1>
      <ul>
	<li>Add the following JavaScript, preferably early in the page:
	  <pre>
	    &lt;script type="text/javascript" src='http://amara.org/en/site_media/js/embedder-iframe.js'&gt;
	    &lt;/script&gt;
	  </pre>
	</li>
	<li>Include these divs where you want to include the widgets, adding the video's URL as <code>data-url</code>:
	  <pre>
	    &lt;div class="amara-embed" style="height: 480px; width: 854px" data-url="http://www.youtube.com/watch?v=bNySL-ihAvo"&gt;&lt;/div&gt;
	  </pre>
	  <p>You can set the following options:</p>
	  <ul>
	    <li>Hide the Amara logo by adding <code>data-hide-logo="true"</code> in the previous tag.</li>
	    <li>Hide the menu item to order subtitles by adding <code>data-hide-order="true"</code> in the previous tag.</li>
	    <li>Set the initial active subtitle language by adding <code>data-initial-language="language"</code> in the previous tag, where language is the language code, such as "en" for English.</li>
	    <li>Display the subtitles by default by adding <code>data-show-subtitles-default="true"</code> in the previous tag.</li>
	    <li>Display the transcript by default by adding <code>data-show-transcript-default="true"</code> in the previous tag.</li>
	  </ul>

	</li>
      </ul>
      <br />
      <br />
      <br />
    </body>
</html>
