{% extends 'base.html' %}

{% load i18n teams_tags %}


{% block main_content %}
  <div id="services">
    <h1>{% trans "Enterprise Services" %}</h1>
        <p class="subhead">
          {% blocktrans %}
            To be global, to be accessible, and to be searchable, videos need subtitles. Amara, is the most flexible and powerful subtitle creation and management platform in the world.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Our enterprise platform offers an unmatched ability to manage a subtitle creation and editing process and to reach outstanding levels of quality.  Build a volunteer community, integrate paid captioning and translation services, manage internal staff or contractors, and integrate directly with your distribution and embedding platform through a powerful API.
          {% endblocktrans %}
        </p>
    <h2>{% trans "Interested?" %}</h2>
    <p>
      {% blocktrans %}
        To learn more about our services, please contact Dean Jansen, <a href="mailto:dean@pculture.org">dean@pculture.org</a>
      {% endblocktrans %}
    </p>
    <h2 id="uses">{% trans "Who Uses Amara?" %}</h2>
    <p class="subhead">{% trans 'Whatever your subtitle needs are, Amara makes it easier to create great subtitles at a very low cost.' %}</p>
    <div class="row">
      <div>
        <h3>{% trans "Companies" %}</h3>
        <p>
        {% blocktrans %}
          Corporations need to communicate with their staff and their customers around the world, and video is becoming a major part of that process.  With Amara, companies make it possible for staff, customers, and contractors to translate videos, make them searchable, and share them, publicly or privately.  
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Video Publishers" %}</h3>
        <p>
        {% blocktrans %}
          Anyone who makes video can reach more people with subtitles.  Video publishers use Amara to build volunteer communities with the people who watch their videos, translating them for the world and reaching more viewers.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Universities" %}</h3>
        <p>
        {% blocktrans %}
          As online education explodes in popularity, subtitles are essential to making courses accessible and international.  Colleges and universities are using Amara to make their rapidly growing video resources succeed.
        {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div>
        <h3>{% trans "Non-Profit Organizations" %}</h3>
        <p>
        {% blocktrans %}
          Non-profit organizations use Amara to help build and manage volunteer communities to caption and translate their videos into dozens of languages.  Before Amara, the cost of professional subtitling would have made this impossible.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Video Platforms" %}</h3>
        <p>
        {% blocktrans %}
          Video hosting platforms are using Amara to empower their publishers and reach a more global audience.  By connecting publishers directly to Amara, subtitling happens at a level that was never possible before.
        {% endblocktrans %}
        </p>
      </div>
    </div>
    <h2 id="benefits">{% trans "Amara Does What No Other Platform Can" %}</h2>
    <p class="subhead">
      {% blocktrans %}
        Amara is the world's largest subtitle platform and has been winning awards because it transforms subtitle creation and management.  What was once prohibitively expensive and complicated, becomes possible and even easy.
      {% endblocktrans %}
    </p>
    <div class="row">
      <div>
        <h3>{% trans "Build a Translation Team" %}</h3>
        <p>
        {% blocktrans %}
          For years, companies like Mozilla, Twitter, and Facebook have built volunteer communities to translate their websites.  Amara makes this possible with video.  Quickly build a powerful, high-quality volunteer translation and captioning team around your content and make it global.
        {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Integrate Professional Services" %}</h3>
        <p>
          {% blocktrans %}
            Access professional services including paid captions, translations, and quality control. These services, when mixed with volunteer contributions, give you ultimate flexibility.
          {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Crowdsource with Professional Review" %}</h3>
        <p>
          {% blocktrans %}
            Engage a crowd and use professional quality assurance. This balances amazingly low cost with professional level quality assurance.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div>
        <h3>{% trans "Work with Any Video Platform" %}</h3>
        <p>
          {% blocktrans %}
            Amara works with all the most popular video hosting services and video players. Integrate and embed videos with subtitles without changing your current publishing workflow.
          {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Improve Your SEO" %}</h3>
        <p>
          {% blocktrans %}
            Rank higher in Google and other search engines by helping them index full transcripts for all of your videos. Searchable videos are found more often.
          {% endblocktrans %}
        </p>
      </div>
      <div>
        <h3>{% trans "Flexible API and Integration" %}</h3>
        <p>
          {% blocktrans %}
            Need seamless subtitles on your custom video player? Want 1-click features integrated into your back-end or CMS? We can help.     
          {% endblocktrans %}
        </p>
      </div>
    </div>
    {% comment %}
    <h2>{% trans "Transcription and Translation Service Providers" %}</h2>
    <p>
      {% blocktrans %}
        Do you provide professional transcription, subtitling, or translation services? We can work together to offer your customers a powerful subtitle management and embedding platform. And if you'd like to offer your services to our customers, we'd also like to hear from you.
      {% endblocktrans %}
    </p>
    {% endcomment %}
  </div>
  <div id="services-partners">
    <ul>
      {% if 'ted'|team_is_visible %}
         <li>
          <a href="http://www.universalsubtitles.org/en/teams/ted/">
              <img src="{{ STATIC_URL }}images/partners/ted.png"/>
          </a>
          <p><a href="http://www.universalsubtitles.org/en/teams/ted/">TED</a></p>
         </li>
      {% endif %}
      <li>
        <a href="http://www.universalsubtitles.org/en/teams/newshour"><img src="{{ STATIC_URL }}images/partners/new_partner_pbs.png" alt="PBS" /></a>
        <p><a href="http://www.universalsubtitles.org/en/teams/newshour">PBS NewsHour</a><p>
      </li>
      <li>
        <a href="http://gigaom.com/video/khan-academy-universal-subtitles/"><img src="{{ STATIC_URL }}images/partners/new_partner_khan.png" alt="Khan Academy" /></a>
        <p><a href="http://gigaom.com/video/khan-academy-universal-subtitles/">Khan Academy</a><p>
      </li>
      <li>
        <a href="http://mozillalabs.com/chromeless/?p=26"><img src="{{ STATIC_URL }}images/partners/new_partner_mozilla.png" alt="Mozilla" /></a>
        <p><a href="http://mozillalabs.com/chromeless/?p=26">Mozilla Integration</a><p>
      </li>
      <li>
        <a href="http://www.universalsubtitles.org/en/teams/al-jazeera/"><img src="{{ STATIC_URL }}images/partners/new_partner_aj.png" alt="Al Jazeera" /></a>
        <p><a href="http://www.universalsubtitles.org/en/teams/al-jazeera/">Al Jazeera</a><p>
      </li>
    </ul>
  </div>
  <div id="recognition">
    <h2>Awards</h2>
    <a href="/about#fcc-award"><img src="{{ STATIC_URL }}images/awards/fcc.png" alt="FCC Award Advancement in Accessibility"/></a>
    <a href="/about#tech-award"><img src="{{ STATIC_URL }}images/awards/tech_awards.png" alt="Tech Awards 2011"/></a>
    <a href="/about#iia-award"><img src="{{ STATIC_URL }}images/awards/iia.png" alt="Intercultural Innovation Award"/></a></p>
  </div>
{% endblock %}
