{% extends 'base.html' %}

{% load i18n teams_tags %}

{% block html_attrs %}id="enterprise"{% endblock %}

{% block main_content %}
  <div id="services" class="content container_12 clearfix">

    <div class="grid_2 alpha">
        <h3>Features & Benefits</h3>
        <ul>
            <li><a href="{% url enterprise_page %}">Amara Platform</a></li>
            <li><a href="global-reach">Global Reach</a></li>
            <li><a href="quality-control">Quality Control</a></li>
            <li><a href="automated-workflows">Automated Workflows</a></li>
            <li><a href="subtitle-management">Subtitle Management</a></li>
            <!--<li><a href="#effective-crowdsourcing">Effective Crowdsourcing</a></li>-->
            <li><a href="advanced-security">Advanced Security</a></li>
            <li><a href="api-integration">API Integration</a></li>
        </ul>

        <h3>Customers</h3>
        <ul>    
            <li><a href="">Companies</a></li>
            <li><a href="">Universities</a></li>
            <li><a href="">Publishers</a></li>
            <li><a href="">Government</a></li>
        </ul>
    </div>
    <div class="grid_10 omega">
      <ul class="tab-content">
        <li id="amara-platform">
            <h2>The World’s Most Advanced Platform for Subtitles</h2>

            <pre>[ probably needs some kind of logo or fancy thing here at the top ]</pre>

            <p>Our enterprise platform offers an unmatched ability to manage subtitle creation and editing processes, and reach outstanding levels of quality at remarkably low costs.  You have total flexibility: build a volunteer community, integrate paid captioning and translation services, manage internal staff or contractors, and integrate directly with your distribution and embedding platform through our powerful API.</p>

            <h3>Who Uses Amara?</h3>
            <p>TED PBS NewsHour  Mozilla</p>

            <h3>Amara is an Award Winning Technology</h3>
            <p>UN  FCC Tech Awards Unmatched Functionality and Control</p>
            
            <h3>Build a Translation Team</h3>

            <p>For years, companies like Mozilla, Twitter, and Facebook have built volunteer communities to translate their websites.  Amara makes this possible for captions and subtitles.  With Amara, you can accomplish the seemingly impossible task of translating your videos into dozens of languages.  Quickly build a powerful, high-quality volunteer translation and captioning team that makes your content truly global.</p>
            
            </h3>Security and Managed Workflows</h3>

            <p>Create the right workflows for your content and coordinate your efforts-- whether your video is completely private, restricted to premium subscribers, or public on the web.  You always control who has access to your subtitles and when to involve staff, contractors, or volunteers.</p>

            <h3>Powerful API and Publishing Integration</h3>

            <p>Our API helps companies tightly integrate Amara with their existing publishing and distribution workflow.  By making subtitles key part of your process, you build a global audience.</p>
            
            Professional Services

            <p>Access professional services including paid captions, translations, and quality control.  Or use your own staff and contractors and use Amara to coordinate their work remotely.</p>

            <h3>Crowdsource with Professional Review</h3>

            <p>Engage a crowd and use professional quality assurance. This balances amazingly low cost with professional level quality assurance.</p>
            
            <h3>Work with Any Video Platform</h3>

            <p>Amara works with all the most popular video hosting services and video players, and adapts easily to your own custom player. Integrate and embed videos with subtitles without changing your current publishing workflow.</p>

            <h3>Subtitles Improve SEO</h3>

            <p>Rank higher in Google and other search engines by helping them index full transcripts for all of your videos. Searchable videos are found more often.</p>
        </li>
        <li id="global-reach">
            <h2>Build a Global Reach</h2>

            <p>Amara is the premiere platform for taking video content global. Whether you’re working with volunteer translators, engaging your own staff, or hiring professionals, you can easily manage the end-to-end process.</p> 

            <h3>Volunteer Subtitle Creation</h3>
            <p>Amara currently supports some of the largest volunteer video translation efforts on the planet. Our technology makes captioning, subtitling, and translating very easy, fun, and engaging which enables ongoing, massive, collaborations.</p> 

            <h3>Private Crowd Subtitle Creation</h3>
            <p>If you have a workforce, student group, or any other non-public crowd, you can limit access for captioning, translating, and subtitling OR reviewing the work of peers, volunteers, or professionals. </p>

            <h3>Professional Services</h3>
            <p>Selectively engage professionals for captioning or subtitling into nearly any language, or even to help with Quality Control. All completed work is centralized on Amara, ready for incremental quality control and quick deployment.</p>

            <h3>Hybrid Approach</h3>
            <p>Mix and match these different approaches on the initial (subtitle authoring) pass, as well as subsequent review passes (for Quality Control). This is an advantage that you only get with Amara, a fully featured solution that manages the process end to end.</p>
        </li>
        <li id="quality-control">
            <h2>Quality Control</h2>

            <p>Amara’s Flexible Workflows offer several ways to ensure outstanding quality for your subtitles.  Whether you use internal staff, outside contractors, professional services, or a volunteer community -- you’ll be able to create, review, and approve workflows that meet your needs.</p>

            <p>Examples of QC processes:</p>
            <ul>
                <li>Have your contractors work inside your Amara account and then require staff review before subtitles go live.</li>
                <li>Some universities use paid captioning services to quickly caption lecture videos and then invite experts in the university community to fix any mistakes with proper names or technical terms.</li>
                <li>Volunteer teams can self-manage and reach very high quality by requiring peer review of subtitles before they are published.  More senior members of the community can be promoted to a moderator role.</li>
            </ul>

            [ SCREENSHOT OF SOMETHING HAVING AN ‘APPROVE’ or ‘PUBLISH BUTTON’  or maybe the approval settings options]
        </li>
        <li id="automated-workflows">
            <p>Workflows enable automating the flow of content through different authoring groups, including: volunteers, private crowds (staff, employees, students, etc), and professionals. They can be used for both first pass (authoring), as well as subsequent review passes for Quality Control.</p> 

            <p>Different workflows can be chained together to create an unlimited number of highly flexible configurations. The Amara team can help you determine the best workflow for your subtitle processes and integrate it with your existing publishing platform.</p>

            [ various graphics of workflows and buttons and whatever ]
                        
            <h3>Contractors with Staff Review</h3>
            <p>Use captioning and transcription contractors to create your subtitles, then require staff review and approval before they are published back to your server. Remember, no one sees your subtitles until YOU publish it.</p>

            <h3>Crowdsourced subtitles, followed by staff review</h3>
            <p>In many cases, organizations want to leverage the power of the crowd, but don’t want to leave any chance for poor quality captions or subtitles to appear on their content. This workflow keeps videos private until a staff member has approved the subtitles.</p>
                                
            <h3>Professionally created English captions, crowd translation</h3>
            <p>Amara offers professional- quality captions at very low cost with quick turn-around times. English can often be done in less than a day.  Once English is completed, it’s a snap to request translations from volunteers or staff. We have seen videos translated into multiple languages in just days -- through a volunteer crowd.</p>

            <h3>Crowd translations, with professional quality-control</h3>
            <p>Amara is, quite simply, the most cost-effective way to get professional-level quality for foreign language video subtitles. By leveraging professional quality review, you can expect to pay roughly 75% less than the market price for traditional professional subtitles.</p>
        </li>
        <li id="subtitle-management">
            <p>At its core, Amara is the definitive platform for managing captions and subtitles.  Whether you are creating, revising, or translating subtitles -- you can choose to centralize the management -- or divide up your content, and delegate responsibilities and control.</p> 

            <h3>Import</h3>
            <p>Your videos are never uploaded to our server (learn more about our Security Model), so you actually import pointers to existing video files—whether you’re hosting on your own server, YouTube, Vimeo, other video hosting service, or combination thereof. Import these video pointers via graphical interface or API, plus we can import a wide variety of subtitle and transcript formats in case you have pre-existing data.</p>

            <h3>Process > Author > QC</h3>
            <p>Flexible workflows make creating Global Content simple; your organization can harness the power of volunteers, private crowds, and/or professional service providers for content creation and Quality Control.</p>

            <h3>Deploy</h3>
            <p>Currently you can tap the Amara API to </p>
        </li>
        <li id="advanced-security">
            <h2>A Revolutionary Video Security Model</h2>

            <p>You always maintain control of your video, because it never leaves your server.  Amara doesn’t require any video uploading, so your existing security policy is always in full effect. We support OAuth, which means your users never need to log in twice—they can see your video and authenticate with both organizations at the same time. Amara makes your subtitles available from the cloud, so you can: deploy just in time via our API; cache on your server and get pinged when there are updates; or use our embeddable subtitle widget.</p>

            [Image of the security model map]
        </li>
        <li id="api-integration">
            <p>Amara’s powerful API allows flexible integration with your existing publishing workflow.  By connecting your backend system directly to Amara, you can import and export subtitles, manage processing, and import completed subtitles directly back into your own system.  If you use a custom video player, importing subtitles via API lets your company fully control subtitle display and use of the transcript on your website.</p>

            <p>Amara API Documentation > </p>
        </li>
      </ul>
    </div>
    <div class="page-footer">
        <p>Get started with Amara - contact Dean Jansen, dean@pculture.org</p>
        <p>EMEA organizations - contact Rob Shaw, rshaw@pculture.org</p>
    </div>
{% endblock %}
