{% load i18n %}
<div id="footer">
<!-- New footer -->
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-md-5 col-lg-4">
        <h3>The Amara Difference</h3>
        <h6>Amara is built by a nonprofit, 501c3 organization. We are driven by our mission to reduce barriers to accessibility and foster a more democratic media ecosystem. Choosing Amara enables you to make a difference in the life of anyone who requires accessible media in their own language.</h6>
      </div>
      <a href="//pculture.org">
        <div class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 col-lg-4 col-lg-offset-4">
          <h4>
            <img alt="Participatory Culture Foundation Logo" class="pull-right" src="{{ STATIC_URL }}images/pcf.png" />
          </h4>
          <div class="clearfix"></div>
          <h5 class="text-right">
            Amara is a project of the<br />
            Participatory Culture Foundation
          </h5>
        </div>
      </a>
    </div>
  </div>

  <div id="footer-base">
    <div class="container">
      <div class="row">
        <div id="footer-nav" class="col-sm-7 col-sm-push-5">
          <span>
            <ul>
              <li><strong>Amara</strong></li>
              <li><a href="#">About</a></li>
              <li><a href="//support.universalsubtitles.org/solution/categories/13504">Help</a></li>
              <li><a href="//support.amara.org/support/solutions/articles/35517--i-have-a-non-technical-question-about">Contact</a></li>
            </ul>
            <ul>
              <li><strong>Videos</strong></li>
              <li><a href="/search/#/?q=">Search</a></li>
              <li><a href="/videos/watch/">Browse</a></li>
              <li><a href="#videos/watch/featured/">Featured</a></li>
            </ul>
            <ul>
              <li><strong>More</strong></li>
              <li><a href="//about.amara.org/">Blog</a></li>
              <li><a href="//twitter.com/AmaraSubs/">Twitter</a></li>
              <li><a href="//facebook.com/Amara.Community">Facebook</a></li>
            </ul>
          </span>
        </div>
        <div id="footer-terms" class="col-sm-5 col-sm-pull-7">
          <a href="//amara.org"><img src="{{ STATIC_URL }}images/amara-logotype.png" alt="Amara's green circle logotype" /></a>
          <ul>
            <li><a href="//about.amara.org/tos/">Terms</a></li>
            <li><a href="//pculture.org/pcf/websites-privacy/">Privacy</a></li>
            <li><a href="/security">Security</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END New Footer -->
