{% load i18n %}

<div class="help-tab">
  <a target="_blank" href="//support.universalsubtitles.org/solution/categories/13504">Get Help</a>
</div>

<div id="main-content">
<div id="index-two-tone">
  <div id="index-banner" class="top-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1>{% trans "Amara makes video globally accessible" %}</h1>
          <h5>{% trans "Captions, subtitles, and translations made simple." %}</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container whitespace-tall">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>

<div id="index-individuals">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-offset-1 col-lg-5">
        <h2>{% trans "Individuals" %}</h2>
        <h5>{% trans "Amara makes it incredibly easy (and free) to caption and translate your videos. You can instantly invite your friends and audience members to help." %}</h5>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-5">
        <h4 class="float-right"><a href="{% url videos:create %}">{% trans "Subtitle a Video" %} &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>


<div id="index-community">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-push-6 col-lg-push-6 col-lg-5">
        <span class="float-right">
          <h2>{% trans "Community" %}</h2>
          <h5>{% trans "Help make video accessible around the globe by volunteering for a caption or translation team. Amara is easy to learn and fun!" %}</h5>
        </span>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-offset-1 col-lg-pull-5 col-lg-5">
        <h4><a href="//about.amara.org/volunteer/">{% trans "Find your Community" %} &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>

<div id="index-pro">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-offset-1 col-lg-5">
        <h2>{% trans "Professional Solutions" %}</h2>
        <h5>{% trans "Amara provides a complete solution for captioning and translation. Whether you’d like to purchase subtitles or use the collaborative platform, we can help." %}</h5>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-5">
        <h4 class="float-right"><a href="//pro.amara.org">{% trans "Professional Solutions" %} &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>



<div id="index-hills">
  <img src="{{ STATIC_URL }}images/index-holding-hands.png" alt="{% trans 'Hands holding video icons in front of rolling hills' %}" />
</div>





<!-- END New Footer -->
