{% load i18n %}
<div id="main-content">
<div id="index-two-tone">
  <div id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1>Amara makes subtitles easy</h1>
          <h5>Now everyone can caption and translate their videos using the best technology in the world.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="index-video" class="container">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>

<div id="index-individuals">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-offset-1 col-lg-5">
        <h2>Individuals</h2>
        <h5>Amara makes it incredibly easy (and free) to caption and translate your videos. You can even invite your friends and audience members to help.</h5>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-5">
        <h4 class="float-right"><a>Subtitle a video &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>


<div id="index-community">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-push-6 col-lg-push-6 col-lg-5">
        <span class="float-right">
          <h2>Community</h2>
          <h5>Help make video accessible around the globe by joining a caption or translation team. Amara is easy to learn and addictively fun.</h5>
        </span>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-offset-1 col-lg-pull-5 col-lg-5">
        <h4><a>Become a volunteer &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>

<div id="index-pro">
  <div class="container infobox">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-offset-1 col-lg-5">
        <h2>Professional Solutions</h2>
        <h5>Amara provides a complete solution for captioning and translation. Whether you’d like to purchase subtitles or engage your audience, Amara can help.</h5>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-5">
        <h4 class="float-right"><a>Professional solutions &raquo;</a></h4>
      </div>
    </div>
  </div>
</div>



<div id="index-hills">
  <img src="{STATIC_URL}images/index-holding-hands.png" alt="Hands holding video icons" />
</div>





<!-- END New Footer -->

