{% extends "base.html" %}
{% load i18n media_compressor feedback recent_activity widget i18n announcement_tags messages_tags profiles_tags teams_tags %}
{% block body_attrs %}id="index"{% endblock %}

{% block css %}
{% include_bundle "base" %}
{% include_bundle "new_home" %}
{% endblock %}

{% block scripts %}
{% include_bundle "unisubs-onsite-compiled" %}
<script src="{% url videos:rpc_api %}" type="text/javascript"></script>  
{% endblock %}

{% block main_content %}
    
<div id="home-blurb">
    <h1>{% trans "The easiest way to caption and translate any video." %}</h1>
    <p>{% trans "The most powerful and flexible subtitling platform in the world." %}</p>
</div>
<div id="home-left">
    <div id="subtitle" class="clearfix">
        <form action="{% url videos:create %}" method="POST">
            <h2>{% trans "Add a Video" %}</h2>
            <input type="text" name="video_url" />
            <button class="button" type="submit">{% trans "Subtitle" %}</button>
            <p>
                {% trans "Works with YouTube, Vimeo, HTML5, and more." %}
            </p>
            <p>
                {% trans "Using YouTube?" %} <a href="{% url profiles:account %}?prompt=true">{% trans "Sync automatically" %}</a>
            </p>
        </form>
        <div id="features">
            <h3>{% trans "Features" %}</h3>
            <ul>
                <li>{% trans "Embed the video anywhere" %}</li>
                <li>{% trans "Add subtitles yourself or ask viewers to help." %}</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>{% trans "Help Create Captions and Subtitles" %}</h2>
        <p>
        {% blocktrans %}
            Help organizations and deaf and hard of hearing viewers make videos accessible around the world.
        {% endblocktrans %}
        <a href="http://blog.universalsubtitles.org/volunteer/">{% trans "Take a Look." %}</a>
        </p>
    </div>
    <div>
        <h2>{% trans "Groundbreaking Crowdsource Platform" %}</h2>
        <p>
        {% blocktrans %}
            Revolutionize how you create subtitles and reach viewers. Increase viewership with transcription, captioning, and translation services, and flexible API and integration options.
        {% endblocktrans %}
        <a href="http://about.amara.org/enterprise/">{% trans "See our pro services." %}</a>
        </p>
    </div>
    <div>
        <h2>{% trans "Order Captions" %}</h2>
        <p>
            {% trans "Lower costs and higher quality. Order captions and translations from Amara now, with rapid turnaround." %}
            <a href="http://about.amara.org/order-subtitles/">{% trans "Learn more." %}</a>
        </p>
    </div>
</div>

<div id="home-right">
    {% block widget_container %}
        <div id="widget_div" class="unisubs-widget"></div> 
        <script type="text/javascript"> 
            var widget_widget_div = unisubs.widget.SameDomainEmbed.embed(
                document.getElementById('widget_div'), { 
                    base_state: {},
                    video_config: {
                    poster: "https://s3.amazonaws.com/s3.www.universalsubtitles.org/images/about-poster.png",
                    style: "width:460px;height:348px;",
                    play_to_click: true
                },
                video_url: "http://vimeo.com/39734142",
                alternate_video_urls: []});
        </script>
    {% endblock %}
</div>
<div class="clearfix"></div>
<div id="benefits" class="clearfix">
    <a class="button" href="http://about.amara.org/enterprise/">{% trans "Pro Services" %}</a>
    <h2>{% trans "See how these companies use Amara to caption and subtitle more effectively." %}</h2>
</div>
<div id="partners">
    <ul class="clearfix">
        <li>
            <a target="_blank" title="TED" href="http://amara.org/en/teams/ted/">
                <span style="padding-top:32px;"><img src="{{ STATIC_URL }}images/partners/ted.png" alt="{% trans 'TED' %}"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/ted/">{% trans "TED Community" %}</a>
        </li>
        <li>
            <a target="_blank" title="Mozilla" href="http://amara.org/en/teams/mozilla/">
                <span><img src="{{ STATIC_URL }}images/partners/mozilla.png" alt="{% trans 'Mozilla' %}"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/mozilla/">{% trans "Mozilla Community" %}</a>
        </li>
        <li>
            <a target="_blank" title="Netflix" href="http://eepurl.com/n24oH">
                <span style="padding-top:22px;"><img src="{{ STATIC_URL }}images/partners/netflix.png" alt="{% trans 'Netflix' %}"/></span>
            </a>
            <a class="button" href="http://eepurl.com/n24oH">{% trans "Netflix Community" %}</a>
        </li>
        <li>
            <a target="_blank" title="ERB" href="http://amara.org/en/teams/erb/">
                <span style="padding-top:24px;"><img src="{{ STATIC_URL }}images/partners/erb.png" alt="ERB"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/erb/">{% trans "ERB Community" %}</a>
        </li>
    </ul>
    <ul class="clearfix" style="margin-top:24px;">
        <li>
            <a target="_blank" title="Twitter" href="http://amara.org/en/teams/twitter/">
                <span><img src="{{ STATIC_URL }}images/partners/twitter.png" alt="{% trans 'Twitter' %}"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/twitter/">{% trans "Twitter Community" %}</a>
        </li>
        <li>
            <a target="_blank" title="Udacity" href="http://amara.org/en/teams/udacity/">
                <span><img src="{{ STATIC_URL }}images/partners/udacity.png" alt="{% trans 'Udacity' %}"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/udacity/">{% trans "Udacity Community" %}</a>
        </li>
        <li>
            <a target="_blank" title="ro*co films" href="http://www.rocofilms.com ">
                <span><img src="{{ STATIC_URL }}images/partners/roco.png" alt="{% trans 'Roco Films' %}" style="padding-top:30px;"/></span>
            </a>
            <a class="button" href="http://www.rocofilms.com ">{% trans "Roco Films" %}</a>
        </li>
        <li>
            <a target="_blank" title="PBS Newshour" href="http://amara.org/en/teams/newshour/">
                <span><img src="{{ STATIC_URL }}images/partners/new_partner_pbs.png" alt="{% trans 'PBS Newshour' %}"/></span>
            </a>
            <a class="button" href="http://amara.org/en/teams/newshour/">{% trans "PBS Newshour Community" %}</a>
        </li>
    </ul>
</div>
<div id="most-popular" class="featured">
    <a class="more" href="{% url videos:popular_videos %}">{% trans "More Popular" %}</a>
    <h2>{% trans "Most Popular Today" %}</h2>
    <p class="links">
        <a href="{% url videos:popular_videos %}#?sort=month">{% trans "Top this month" %}</a>
        <a href="{% url videos:popular_videos %}#?sort=total">{% trans "Top all-time" %}</a>
    </p>
    {% with popular_videos as video_list %}
        {% include 'videos/_watch_page.html' %}
    {% endwith %}    
</div>
<div id="featured-videos" class="featured">
    <a class="more" href="{% url videos:featured_videos %}">{% trans "More Featured" %}</a>
    <h2>{% trans "Featured Videos" %}</h2>
    <p class="links">
    &nbsp;
    </p>
    {% with featured_videos as video_list %}
        {% include 'videos/_watch_page.html' %}
    {% endwith %}
</div>
<div id="support-rec" class="clearboth">
    <div class="grid_6 alpha">
        <ul class="press">
            <li>
                <a href="http://www.forbes.com/sites/jamesmarshallcrotty/2012/08/31/amaras-wiki-style-translation-platform-enables-global-expansion-of-education-startups/">
                    <img alt="" src="http://amarasubs.files.wordpress.com/2012/12/forbes.png?w=625"><br>
                    <blockquote><p>Amara’s Wiki-Style Translation Platform Enables Global Growth Of Education Startups</p></blockquote>
                </a>
                <p><a href="http://www.forbes.com/sites/jamesmarshallcrotty/2012/08/31/amaras-wiki-style-translation-platform-enables-global-expansion-of-education-startups/"></a></p>
            </li>
            <li>
                <a href="http://gigaom.com/video/netflix-amara-closed-captions-crowdsourcing/">
                    <img alt="" src="http://amarasubs.files.wordpress.com/2012/12/gigaom.png?w=625"><br>
                    <blockquote><p>Netflix experiments with crowd-sourced captioning</p></blockquote>
                </a>
                <p><a href="http://gigaom.com/video/netflix-amara-closed-captions-crowdsourcing/"></a></p>
            </li>
        </ul>
    </div>
    <div id="recognition" class="grid_6 omega">
        <p>{% trans "Awards for Amara" %}<br />
            <a href="/about#fcc-award">
                <img src="{{ STATIC_URL }}images/awards/fcc.png" alt="FCC Award Advancement in Accessibility"/>
            </a><br />
            <a href="/about#tech-award">
                <img src="{{ STATIC_URL }}images/awards/tech_awards.png" alt="Tech Awards 2011"/>
            </a><br />
            <a href="/about#iia-award">
                <img src="{{ STATIC_URL }}images/awards/iia.png" alt="Intercultural Innovation Award"/>
            </a>
        </p>
    </div>
</div>
{% endblock %}
