{% extends "base.html" %}
{% load i18n media_compressor feedback recent_activity widget i18n announcement_tags messages_tags profiles_tags teams_tags %}
{% block body_attrs %}id="index"{% endblock %}

{% block css %}
{% include_bundle "base" %}
{% include_bundle "new_home" %}
{% endblock %}

{% block scripts %}
{% include_bundle "unisubs-onsite-compiled" %}
<script src="{% url videos:rpc_api %}" type="text/javascript"></script>  
{% endblock %}

{% block main_content %}
    
<div id="home-blurb">
    <h1>{% trans "The easiest way to caption and translate any video." %}</h1>
    <p>{% trans "Subtitles make videos more powerful, more global, and more searchable." %}</p>
</div>
<div id="home-left">
    <div id="subtitle" class="clearfix">
        <form action="{% url videos:create %}" method="POST">
            <h2>{% trans "Subtitle a Video Now" %}</h2>
            <input type="text" name="video_url" />
            <button class="button" type="submit">{% trans "Subtitle" %}</button>
            <p>{% trans "Works with YouTube, Vimeo, HTML5, and more." %}</p>
        </form>
        <div id="features">
            <h3>{% trans "Features" %}</h3>
            <ul>
                <li>{% trans "Embed the video anywhere" %}</li>
                <li>{% trans "Add subtitles yourself or ask viewers to help." %}</li>
                <li><a href="https://github.com/pculture/unisubs/wiki/Widgetizer-Script---for-YouTube-and-HTML5">{% trans "Full site integration" %}</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h2>{% trans "Volunteers Needed" %}</h2>
        <p>
        {% blocktrans %}
            Our deaf and hard of hearing users and non-profits request help for videos that need captions or translations. 
        {% endblocktrans %}
        <a href="http://blog.universalsubtitles.org/volunteer/">{% trans "Start volunteering." %}</a>
        </p>
    </div>
    <div>
        <h2>{% trans "Complete Subtitling Solutions" %}</h2>
        <p>
        {% blocktrans %}
            Increase viewership with transcription, captioning, and translation services, and flexible API and integration options. Improve SEO, reach a global audience, and build a managed volunteer community.
        {% endblocktrans %}
        <a href="{% url enterprise_page %}">{% trans "See our enterprise services." %}</a>
        </p>
    </div>
</div>

<div id="home-right">
    {% block widget_container %}
        <div id="widget_div" class="unisubs-widget"></div> 
        <script type="text/javascript"> 
            var widget_widget_div = unisubs.widget.SameDomainEmbed.embed(
                document.getElementById('widget_div'), { 
                    base_state: {},
                    video_config: {
                    poster: "https://s3.amazonaws.com/s3.www.universalsubtitles.org/images/about-poster.png",
                    style: "width:460px;height:348px;",
                    play_to_click: true
                },
                video_url: "http://vimeo.com/39734142",
                alternate_video_urls: []});
        </script>
    {% endblock %}
</div>
<div class="clearfix"></div>
<div id="benefits" class="clearfix">
    <a class="button" href="{% url enterprise_page %}">{% trans "For Enterprise" %}</a>
    <h2>{% trans "The largest, most powerful captioning and translation platform in the world." %}</h2>
</div>
<div id="partners">
    <ul class="clearfix">
        {% if 'ted'|team_is_visible %}
         <li>
          <a target="_blank" href="http://www.universalsubtitles.org/en/teams/ted/">
              <span style="height: 83px; display: block; padding-top: 36px;">
                <img src="{{ STATIC_URL }}images/partners/ted.png" alt="{% trans 'TED Team' %}"/>
              </span>
              <span class="url">{% trans "TED Team" %}</span>
          </a>
         </li>
        {% endif %}
        <li>
        <a target="_blank" href="http://www.universalsubtitles.org/en/teams/mozilla">
            <span style="height: 120px; display: block;"><img src="{{ STATIC_URL }}images/new_partner_mozilla.png" alt="{% trans 'Mozilla Team' %}"/></span>
            <span class="url">{% trans "Mozilla Team" %}</span>
        </a>
        </li>
        <li>
        <a target="_blank" href="http://gigaom.com/video/khan-academy-universal-subtitles/">
            <span style="height: 120px; display: block;"><img src="{{ STATIC_URL }}images/new_partner_khan.png" alt="{% trans 'Khan Integration' %}"/></span>
            <span class="url">{% trans "Khan Integration" %}</span>
        </a>
        </li>
        <li>
        <a target="_blank" href="http://drupal.org/drupal-7.0#video">
            <span style="height: 120px; display: block;"><img src="{{ STATIC_URL }}images/new_partner_drupal.png" alt="{% trans 'Drupal Example' %}"/></span>
            <span class="url">{% trans "Drupal Example" %}</span>
        </a>
        </li>
        {% if not 'ted'|team_is_visible %}
        <li>
        <a target="_blank" href="http://www.universalsubtitles.org/en/teams/al-jazeera/">
            <span style="height: 120px; display: block;"><img src="{{ STATIC_URL }}images/new_partner_aj.png" alt="{% trans 'Al Jazeera Team' %}"/></span>
            <span class="url">{% trans "Al Jazeera Team" %}</span>
        </a>
        </li>
        {% endif %}
        <li>
        <a target="_blank" href="http://www.universalsubtitles.org/en/teams/newshour">
            <span style="height: 120px; display: block;"><img src="{{ STATIC_URL }}images/new_partner_pbs.png" alt="{% trans 'Newshour Team' %}"/></span>
            <span class="url">{% trans "NewsHour Team" %}</span>
        </a>
        </li>
    </ul>
</div>
<div id="most-popular" class="featured">
    <a class="more" href="{% url videos:popular_videos %}">{% trans "More Popular" %}</a>
    <h2>{% trans "Most Popular Today" %}</h2>
    <p class="links">
        <a href="{% url videos:popular_videos %}#?sort=month">{% trans "Top this month" %}</a>
        <a href="{% url videos:popular_videos %}#?sort=total">{% trans "Top all-time" %}</a>
    </p>
    {% with popular_videos as video_list %}
        {% include 'videos/_watch_page.html' %}
    {% endwith %}    
</div>
<div id="featured-videos" class="featured">
    <a class="more" href="{% url videos:featured_videos %}">{% trans "More Featured" %}</a>
    <h2>{% trans "Featured Videos" %}</h2>
    <p class="links">
    &nbsp;
    </p>
    {% with featured_videos as video_list %}
        {% include 'videos/_watch_page.html' %}
    {% endwith %}
</div>
<div id="support-rec" class="clearboth">
    <div class="grid_7 alpha">
        <p>Generously supported by<br />
        <a href="http://www.mozilla.org/"><img src="{{ STATIC_URL }}images/funders/mozilla.png" alt="Mozilla Foundation"/></a></p>
        <a href="http://www.knightfoundation.org/"><img src="{{ STATIC_URL }}images/funders/knight.png" alt="Knight Foundation"/></a></p>
        <p>With additional funding by<br />
        <a href="http://www.macfound.org/"><img src="{{ STATIC_URL }}images/funders/macarthur.png" alt="MacArthur Foundation"/></a>
        <a href="http://www.soros.org/"><img src="{{ STATIC_URL }}images/funders/opensociety.png" alt="Open Society Foundations"/></a></p>
    </div>
    <div id="recognition" class="grid_5 omega">
        <p>Recognized by<br />
        <a href="/about#fcc-award"><img src="{{ STATIC_URL }}images/awards/fcc.png" alt="FCC Award Advancement in Accessibility"/></a>
        <a href="/about#tech-award"><img src="{{ STATIC_URL }}images/awards/tech_awards.png" alt="Tech Awards 2011"/></a>
        <a href="/about#iia-award"><img src="{{ STATIC_URL }}images/awards/iia.png" alt="Intercultural Innovation Award"/></a></p>
    </div>
</div>
{% endblock %}
