{% load i18n %}

{% if not hide_link %}
<div class="language_bar clearfix">
    <span>{% trans "Loading..." %}</span>
    <a href="#" data-modal="language_modal" id="lang_select_btn" >{% trans "Select your Languages" %}</a>
</div>
{% endif %}

<script type="text/javascript">
    window.FORCE_ASK = {% if force_ask %}true{% else %}false{% endif %};
    window.LANGUAGE_SELECT_ERROR = '{% trans "Select at least one language." %}';
    window.LANGUAGE_SELECT_SAVING = '{% trans "Saving your language settings..." %}';
</script>

<div id="language_modal" style="display: none" class="clearfix bootstrap">
    <div class="modal" style="display: block;">
        <div class="modal-header">
            <h3>{% trans "What languages do you speak?" %}</h3>
        </div>
        <div id="language_picker" class="modal-body clearfix">
            <form action="" method="get">
                <fieldset>
                    {{ form.language1 }}
                    {{ form.language2 }}
                    {{ form.language3 }}
                    {{ form.language4 }}
                    {{ form.language5 }}
                    {{ form.language6 }}
                </fieldset>
            </form>
        </div>
	{% if redirect %}
	<div id="redirect" data-redirect="{{ redirect }}"></div>
	{% endif %}
        <div class="modal-footer">
            <button class="submit_button btn primary">{% trans "Submit" %}</button>
            <button class="close_button btn cancel">{% trans "Cancel" %}</button>
        </div>
    </div>
</div>
