{% load i18n %}

<div class="language_bar clearfix">
    <span>{% trans "Loading..." %}</span>
    <a href="#" data-modal="language_modal" id="lang_select_btn" >{% trans "Select your Languages" %}</a>
</div>

<script type="text/javascript">
    window.FORCE_ASK = {% if force_ask %}true{% else %}false{% endif %};
    window.LANGUAGE_SELECT_ERROR = '{% trans "Select at least one language." %}';
    window.LANGUAGE_SELECT_SAVING = '{% trans "Saving your language settings..." %}';
</script>

<div id="language_modal" style="display: none" class="language_modal clearfix">
    <h3>{% trans "We really need your help!" %}</h3>
    <h2>{% trans "What languages do you speak?" %}</h2>
    <div id="language_picker" class="clearfix">
        <ul>
            <li>{{ form.language1 }}</li>
            <li>{{ form.language2 }}</li>
            <li>{{ form.language3 }}</li>
        </ul>
        <ul id="last">
            <li>{{ form.language4 }}</li>
            <li>{{ form.language5 }}</li>
            <li>{{ form.language6 }}</li>
        </ul>
    </div>
    <button class="green_button small submit_button">{% trans "Submit" %}</button>
    <button class="green_button small close_button" style="display: none; margin-left: 10px;">{% trans "Cancel" %}</button>
</div>
