{% load i18n %}
{% if user.is_authenticated %}
    <div id="user_menu">
        <div id="menu_name">
            <a href="{% url profiles:dashboard %}">{{ user.username }}</a>
        </div>
        <div id="menu">
            <ul id="dropdown">
                <li>
                    <a href="{% url profiles:dashboard %}">
                        {% trans "Dashboard" %}
                    </a>
                </li>
                <li {% if user_info == user and not edit_profile_page %}class="active"{% endif %}>
                    <a href="{% url profiles:my_profile %}">{% trans "Profile" %}</a>
                </li>
                <li>
                    <a href="{% url messages:index %}">
                    {% trans "Messages" %}
                    {% if user.unread_messages_count %}
                        <span class="message_count">{{ user.unread_messages_count }}</span>
                    {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% url logout %}?next={{ request.path_info|urlencode }}">{% trans 'Logout' %}</a>
                </li>
                {% with user.teams.all as user_teams %}
                    {% if user_teams %}
                        <li>
                            <div id="teams_menu">
                                <h4><a href="{% url teams:user_teams %}">{% trans "Teams" %}</a></h4>
                                {% for t in user_teams %}
                                <li id="team-{{ t.slug }}" {% if team == t %} class="active"{% endif %}>
                                    <a href="{% url teams:dashboard slug=t.slug %}">{{ t }}</a>
                                </li>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
{% endif %}
