{% load i18n teams_tags to_json %}

<li>
  <h3>
    <a href="{{ video.get_absolute_url }}">{{ video.title|truncatewords:9 }}</a>
  </h3>

  <p>
    {% if video.description %}
      {{ video.description|striptags|truncatewords:20|linebreaksbr|urlize }}
    {% endif %}
  </p>
  <a href="{{ video.get_absolute_url }}" class="thumb"><img src="{{ video.get_thumbnail }}" alt="Thumbnail"></a>
  <ul class="actions">
      <li>
          <h4>
              {% if video.languages_count > 0 %}
                  <a href="{{ video.get_absolute_url }}">{{ video.languages_count }} language{{ video.languages_count|pluralize }}</a>
              {% else %}
                {% trans "No subtitles yet" %}
              {% endif %}
          </h4>
      </li>
  </ul>
</li>