{% load i18n teams_tags to_json %}

<li>
    <div class="thumb">
        <a href="{{ video.get_absolute_url }}" class="thumb"><img src="{{ video.get_thumbnail }}" alt="Thumbnail"></a>
        <a href="{% url videos:video video_id=video.id %}" class="languages">
            {% if video.completed_langs %}
                {{ video.completed_langs|length }} {% trans 'language' %}{{ video.completed_langs|length|pluralize }}
            {% else %}
                {% trans "No subtitles yet" %}
            {% endif %}
        </a>
    </div>
    <h3>
        <a href="{{ video.get_absolute_url }}">{{ video.title|truncatewords:9 }}</a>
    </h3>
</li>