{% extends "profiles/base.html" %}

{% load i18n messages_tags %}

{% block html_attrs %}id="user_account"{% endblock %}
{% block body-class %}account {{ block.super }}{% endblock %}
{% block title %}{{ user_info }} | Amara{% endblock %}

{% block view_content %}
    {% with 'account' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}
    <div class="account">
        <form class="edit_profile" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h3>{% trans "User Details" %}</h3>
            <fieldset>
                <div class="grid_4 alpha">
                    {% include "_form_field.html" with field=form.username %}
                </div>
                <div class="grid_4 omega">
                    {% include "_form_field.html" with field=form.email %}
                </div>
            </fieldset>
            <div class="grid_8 alpha third-party">
                <fieldset>
                    <h3>{% trans "Sync subtitles" %}</h3>
                    <div class="callout">
                        {% if third_party %}
                            {% for account in third_party  %}
                                <a class="button open-modal reduced" href="{% url profiles:remove-third-party account.pk %}">
                                    Disconnect
                                </a>
                                <p>
                                    <img src="{{ STATIC_URL }}images/partners/youtube.png" alt="YouTube"/>
                                    <strong>{% trans "Sync is active" %}</strong>
                                    <span> for {{ account.username }}.</span>
                                </p>
                            {% endfor %}
                        {% else %}
                            <a class="button open-modal reduced" href="#youtube-modal">
                                <span>Connect to</span>
                                <img src="{{ STATIC_URL }}images/partners/youtube.png" alt="YouTube"/>
                            </a>
                            <p>{% trans "Send Amara-created subtitles right to your YouTube videos!" %}</p>
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset>
                    <h3>{% trans "Link Accounts" %}</h3>
                    <div class="callout">
                        <p>{% trans "Sign in to Amara with Twitter, Facebook, and other accounts" %}</p>
                        <a href="#account-modal" class="open-modal button reduced">{% trans "Add an account" %}</a>
                    </div>
                    <ul class="listing">
                        {% if twitters %}
                            {% for twitter in twitters %}
                                <li>
                                    <h3>Twitter - {{ twitter.username }}</h3>
                                    <ul class="actions">
                                        <li><a href="{% url profiles:remove-third-party twitter.pk %}?type=twitter" title="Unlink this account">{% trans "Remove" %}</a></li>
                                    </ul>
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if facebooks %}
                            {% for fb in facebooks %}
                                <li>
                                    <h3>Facebook - {{ fb.uid }}</h3>
                                    <ul class="actions">
                                        <li><a href="{% url profiles:remove-third-party fb.pk %}?type=facebook" title="Unlink this account">{% trans "Remove" %}</a></li>
                                    </ul>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

            </div>
            <div class="grid_4 alpha">
                <fieldset>
                    <h3>{% trans "Change Password" %}</h3>
                    <!-- fix this, the setting cannot be false for notify_by_message and notify_by_email  -->
                    {% include "_form_field.html" with field=form.current_password %}
                    {% include "_form_field.html" with field=form.new_password %}
                    {% include "_form_field.html" with field=form.new_password_verify %}
                </fieldset>
            </div>
            <div class="grid_4 omega">
                <fieldset>
                    <h3>{% trans "Notifications" %}</h3>
                    {% include "_form_field.html" with field=form.notify_by_message widget_type="checkbox" %}
                    <p class="notation">{% trans "Send notifications to my UniversalSubtitles.org inbox" %}</p>
                    {% include "_form_field.html" with field=form.notify_by_email widget_type="checkbox" %}
                    <p class="notation">{% trans "Send an email notification for each message received" %}</p>
                </fieldset>
                <fieldset id="api">
                    <legend>{% trans "API Access" %}</legend>
                    <div{% if not form.instance.api_key.key %} style="display:none"{% endif %}>
                        <label>{% trans "Your API key" %}</label>
                        <textarea class="api-key-holder" readonly="readonly">{{form.instance.api_key.key}}</textarea>
                        <p class="api-key-status"></p>
                    </div>
                    <a href="{% url profiles:generate-api-key %}" class="get-new-api-bt button reduced">
                        {% if form.instance.api_key.key %}
                            {% trans "Reset your API key" %}
                        {% else %}
                            {% trans "Get an API key" %}
                        {% endif %}
                    </a>
                </fieldset>
            </div>
            <div class="submit">
                <button class="button save" type="submit" value="Save">
                    {% trans 'Save Changes' %}
                </button>
                <a class="button delete" onclick="return confirm('Are you sure you want to permanently delete your account? This action is irreversible.');" href="{% url auth:delete_user %}">{% trans 'Delete Your Account' %}</a>
            </div>
        </form>
    </div>

    <div class="bootstrap">
        <div class="modal" id="account-modal">
            <div class="modal-header">
                <a href="#" class="close">x</a>
                <h3>{% trans 'Add a linked account' %}</h3>
            </div>

                <form method="get" action="{% url profiles:add-third-party %}">

                    <div class="modal-body">
                        <fieldset>
                            <p>
                                {% blocktrans %}
                                What kind of account do you want to add?
                                {% endblocktrans %}
                            </p>

                            <select id="account-type-select" name="account_type">
                                <option>Select...</option>
                                <option value="twitter">Twitter</option>
                                <option value="facebook">Facebook</option>
                            </select>
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Link' %}" disabled="disabled" />
                    </div>
                </form>
        </div>
        <div class="modal" id="youtube-modal">
            <div class="modal-header">
                <a href="#" class="close">x</a>
                <h3>{% trans 'Connect to YouTube' %}</h3>
            </div>

                <form method="get" action="{% url profiles:add-third-party %}">

                    <div class="modal-body">
                        <fieldset>
                            <img src="{{ STATIC_URL }}images/partners/youtube.png" alt="YouTube"/>
                            <input type="hidden" name="account_type" value="youtube"/>
                            <p>
                                {% blocktrans %}
                                    Connecting your YouTube account enables Amara-created subtitles to be synced to your YouTube videos.
                                {% endblocktrans %}
                            </p>

                            <h5>{% trans "What gets synced" %}</h5>

                            <ul>
                                <li>
                                    {% blocktrans %}
                                        Any existing, completed Amara subtitles will be <strong>sent to YouTube immediately</strong>.
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}
                                        While linked, <strong>any newly edited, complete subtitles</strong> will be sent to YouTube.
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}
                                        Sync is <strong>one-way only</strong>. Changes made on YouTube will not be reflected on Amara.
                                    {% endblocktrans %}
                                </li>
                            </ul>

                            <h5>{% trans "Your YouTube data" %}</h5>
                            <ul>
                                <li>
                                    {% blocktrans %}
                                        Amara subtitles <strong>will overwrite</strong> existing YouTube subtitles if both exist.
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}
                                        To invite your viewers to subtitle, Amara will append a final subtitle (if space allows), and will add your video's URL to its YouTube description.
                                    {% endblocktrans %}
                                    <a href="http://support.universalsubtitles.org/solution/articles/40227-syncing-to-youtube">{% trans "See what it looks like" %}</a>.
                                </li>
                            </ul>
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Connect and Sync' %}" />
                    </div>
                </form>
        </div>
    </div>

{% endblock %}