{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block main_content %}
	<h2>
        <img src="{{ user_info.small_avatar }}" alt="{{ user_info|title }}'s avatar"/>
        {{ user_info }}
    </h2>

	{% with 'dashboard' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
        
        {% with action_list as events %}
			<ul class="listing activity">
	    		{% for item in events %}
				    <li>{{ item.render }}</li>
                {% empty %}
                    <li class="empty">Sorry, no activity yet.</li>
				{% endfor %}
	    	</ul>
        {% endwith %}
            
        {% if is_paginated %}{% paginator %}{% endif %}

    </div>

    <div class="controls grid_3 omega">
        {% with 'activity' as current %}
            {% include 'profiles/_filters_dashboard.html' %}
        {% endwith %}
    </div>
{% endblock %}