{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block main_content %}
	<h2>{{ user_info }}</h2>

	{% with 'activity' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
    	
    	{% if is_paginated %}{% paginator %}{% endif %}
        
        {% with action_list as events %}
			<ul class="listing activity">
	    		{% for item in events %}
				    <li>{{ item.render }}</li>
				{% endfor %}
	    	</ul>
        {% endwith %}
            
        {% if is_paginated %}{% paginator %}{% endif %}

    </div>

    <div class="controls grid_3 omega">
    </div>
{% endblock %}