{% extends "profiles/base.html" %}

{% load to_json i18n messages_tags media_compressor recent_activity auth_tags profiles_tags teams_tags query_string videos_tags %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block body_attrs %}id="dashboard" class="v1"{% endblock %}
{% block html_attrs %}id="profile_dashboard"{% endblock %}

{% block title %}{% trans "Dashboard" %} | {{ user_info }} | Amara{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-offsite-compiled" %}
    {% include_bundle "js-teams" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        window.WIDGET_SETTINGS = {{ widget_settings|to_json|safe }};
    </script>
{% endblock %}

{% block main_content %}

    <h2>
        <img src="{{ user.small_avatar }}" alt="{{ user|title }}'s avatar"/>
        {{ user }}
    </h2>

    {% with 'dashboard' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <div class="grid_5 alpha">
            <h3>{% trans 'Open Tasks' %}</h3>
            <ul class="listing tasks">
                {% for task in tasks %}
                    <li>
                        <p>
                            {{ task.team }}:
                            {% if task.get_type_display == "Subtitle" %}
                                {% trans 'Transcribe' %}
                            {% else %}
                                {{ task.get_type_display }}
                            {% endif %}
                            {% if task.get_type_display == "Translate" %}
                                {% trans 'Subtitles into' %} {{ task.get_language_display }}
                            {% else %}
                                {% if task.get_language_display %}
                                    {{ task.get_language_display }}
                                {% endif %}
                                {% trans 'Subtitles' %}
                            {% endif %}
                            {% trans 'for' %}
                            <a href="{{ task.team_video.video.get_absolute_url }}" title="View video"><em>{{ task.team_video|truncatewords:8 }}</em></a>
                            {% if task.team_video.video.duration %}
                                ({{ task.team_video.video.duration|format_duration }})
                            {% endif %}

                            <br />{% include "teams/_perform_task_link.html" %}
                        </p>
                        {% with can_decline=task|can_decline_task:user %}
                            {% if can_decline %}
                                <a href="#" class="action-decline">{% trans 'Decline Task' %}</a>
                                <form class="hidden" action="{% url teams:assign_task slug=task.team.slug %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />
                                    <input type="hidden" name="task" value="{{ task.id }}" />
                                    <input type="hidden" name="assignee" value="" />
                                    <input type="submit" class="submit" value="Decline Task" name="" />
                                </form>
                            {% endif %}
                        {% endwith %}
                    </li>
                {% empty %}
                    <li>
                        <p>You have no open tasks assigned to you.</p>
                    </li>
                {% endfor %}
            </ul>

            <h3>{% trans "Recent Activity" %} (<a href="{% url profiles:actions_list %}">{% trans 'View all' %}</a>)</h3>
            {% with action_list as events %}
                <ul class="listing activity">
                    {% for item in events %}
                        <li>{{ item.render }}</li>
                    {% empty %}
                        <li class="empty">{% trans 'Sorry, no activity yet.' %}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div class="grid_4 omega">
            <h3>{% trans 'Alerts' %}</h3>
            <ul class="featured">
                {% with user.unread_messages.count as new_msg_count %}
                    {% if new_msg_count %}
                        <li>You have <a href="{% url messages:index %}">{{ user.unread_messages.count }} unread message{{ user.unread_messages.count|pluralize }}</a></li>
                    {% endif %}
                {% endwith %}
            </ul>

            {% with user.teams.all as user_teams %}
                {% if user_teams %}
                    <h3>{% trans "Teams" %}</h3>
                    <ul>
                        {% for t in user_teams %}
                            <li>
                                <a href="{% url teams:detail slug=t.slug %}">{{ t }}</a>
                                {% if t|can_leave_team:user %}
                                    (<a id="leave" onclick="return confirm('{% trans "Do you really wish to leave this team?" %}')" href="{% url teams:leave_team t.slug %}">{% trans "leave team" %}</a>)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="controls grid_3 omega">
        {% with 'overview' as current %}
            {% include 'profiles/_filters_dashboard.html' %}
        {% endwith %}
    </div>
{% endblock %}
