{% extends "profiles/base.html" %}

{% load thumbnail i18n auth_tags %}

{% block title %}{% trans "Edit My Profile" %} | Amara{% endblock %}

{% block email_confirmation_block %}
    {% email_confirmation_notification 'true' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            $('.remove-avatar').click(function(){
                if (confirm('{% trans "Do you really want delete your picture?" %}')){
                    $.post('{% url profiles:remove_avatar %}', {remove: true}, function(response){
                        if ( ! response.errors){
                            $('.user-avatar').attr('src', response.avatar);
                            $('.remove-avatar').remove();
                        }
                    }, 'json');
                }
                return false;
            });
            
            $('#id_picture').change(function(){
                $('.edit_profile').ajaxSubmit({
                    url: '{% url profiles:edit_avatar %}',
                    dataType: 'json',
                    success: function(response){
                        if (response.error){
                            $('#picture-errors').html('<ul class="errorlist"><li>'+response.error.picture+'</li></ul>');
                        }else{
                            $('#picture-errors').html('');  
                            $('.user-avatar').attr('src', response.url);
                        }
                    },
                    beforeSubmit: function(arr, $form, options) { 
                        $('#picture-errors').html('{% trans "Saving..." %}');            
                    }                    
                });
            });
        });
    </script>
{% endblock %}

{% block main_content %}
    <h2>
        <img src="{{ user_info.small_avatar }}">
        {% trans 'Edit Your Profile' %}
    </h2>
    
    {% with 'profile' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <form class="edit_profile" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="grid_4 alpha">
                <fieldset>
                    <legend>{% trans 'Personal Info' %}</legend>
                    <p class="notation">{% trans "Will be displayed publicly" %}</p>
                    {{ form.non_field_errors }}

                    {% include "_form_field.html" with field=form.username %}

                    {% include "_form_field.html" with field=form.first_name %}
                               
                    {% include "_form_field.html" with field=form.last_name %}


                    {% include "_form_field.html" with field=form.homepage %}

                    <p class="error_list" id="picture-errors">
                    {{ form.picture.errors }}
                    </p>
                    <p class="avatar-container">
                      <img class="user-avatar" src="{{ user_info.avatar }}" style="margin-right: 5px"/>
                      {% if user_info.picture %}
                          <a class="remove-avatar" href="#">{% trans 'remove picture' %}</a>
                      {% endif %}
                    </p>
                    <input type="file" id="id_picture" name="picture" size="6"/>
                    <button  class="button">
                      {% trans 'Upload picture' %}
                    </button>
                </fieldset>
                <fieldset>
                    <legend>{% trans "Account Details" %}</legend>
                    {% include "_form_field.html" with field=form.email %}

                    {% include "_form_field.html" with field=form.current_password %}

                    {% include "_form_field.html" with field=form.new_password %}
                    
                    {% include "_form_field.html" with field=form.new_password_verify %}                    
                    
                    {% include "_form_field.html" with field=form.biography %}
                </fieldset>
            </div>

            <div class="grid_4 omega">
                <fieldset>
                    <legend>{% trans "Notifications" %}</legend>
                    <!-- fix this, the setting cannot be false for notify_by_message and notify_by_email  -->
                    {% include "_form_field.html" with field=form.notify_by_message widget_type="checkbox" %}
                    <p class="notation">{% trans "Send notifications to my UniversalSubtitles.org message inbox" %}</p>
                    
                    {% include "_form_field.html" with field=form.notify_by_email widget_type="checkbox" %}
                    <p class="notation">{% trans "Send an email notification for each message received" %}</p>
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Language Info' %}</legend>
                    <h4>
                        {{ form.preferred_language.errors }}
                        {{ form.preferred_language.label_tag }}
                    </h4>
                    <p>
                        {{ form.preferred_language }}
                    </p>
                    {% comment %}
                    <p>
                        {{ form.autoplay_preferences.errors }}
                        {{ form.autoplay_preferences.label_tag }}
                        {{ form.autoplay_preferences }}                
                    </p>
                    {% endcomment %}
                    
                    <h4>{% trans 'Languages I Know' %}</h4>
                    
                    <div class="empty-form" style="display: none">
                        <li class="user_language clearfix">
                            {{ formset.empty_form.id }}
                            <a href="#" class="small_close remove-language">{% trans 'Remove Language' %}</a>
                            <div class="entry">
                              {{ formset.empty_form.language }}
                              {{ formset.empty_form.proficiency }}
                                <div style="display: none" class="delete-checkbox">
                                    {{ form.DELETE }}
                                </div>
                            </div>                
                        </li>
                    </div>
                    <ul class="language_list">
                        {{ formset.management_form }}
                        {{ formset.non_field_errors }}
                        {% for form in formset.forms %}
                            <li class="user_language clearfix">
                                {{ form.non_field_errors }}
                                {{ form.id }}
                                <a href="#" class="small_close remove-language">{% trans 'Remove Language' %}</a>
                                <div class="entry">
                                    {{ form.language.errors }}
                                    {{ form.language }}
                                    {{ form.proficiency.errors }}
                                    {{ form.proficiency }}
                                    <div style="display: none" class="delete-checkbox">
                                        {{ form.DELETE }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="button add-language">
                        {% trans 'Add Language' %}
                    </button>
                </fieldset>
                <fieldset>
                    <legend>{% trans "Developer Info" %}</legend>
                    <label>Your API key</label>
                    <p><span class="api-key-holder">{{form.instance.api_key.key}}</span></p>
                    <p><span class="api-key-status"></span></p>
                    <a href="{% url profiles:generate-api-key %}" class="get-new-api-bt button">Generate new key</a>
                </fieldset>
            </div>

            <div class="submit">
                <button class="button save" type="submit" value="Save">
                    {% trans 'Save Changes' %}
                </button>
                    
                <a class="button delete" onclick="return confirm('Are you sure you want to permanently delete your account? This action is irreversible.');" href="{% url auth:delete_user %}">{% trans 'Permanently Delete Your Profile' %}</a>
            </div>
        </form>
    </div>

    <div class="controls grid_3 omega">
        {% with 'edit' as current %}
            {% include 'profiles/_filters.html' %}
        {% endwith %}
    </div>

<script type="text/javascript">
    var form_count = {{ formset.total_form_count }};
    var empty_form = $('.empty-form').html();
    var $form_count_field = $('#id_userlanguage_set-TOTAL_FORMS')
    
    //fix saving value by browser after refresh
    $('.delete-checkbox input').attr('checked', false); 
    $form_count_field.val(form_count);
    
    $('.language_list .remove-language').live('click', function(){
        $(this).parent().hide().find('.delete-checkbox input').attr('checked', true);
        return false;
    })
    
    $('.add-language').click(function(){
        form_count++;
        $form_count_field.val(form_count);
        var form = empty_form.replace(/__prefix__/g, (form_count-1));
        $('.language_list li:last').after(form);
        return false;
    });
    $('.upload-picture').click(function(){
        return false;
    });
</script>
<script type="text/javascript">
  $(".get-new-api-bt").click(function(e){
     e.preventDefault();
     $.ajax({
       url: $(this).attr("href"),
       dataType: "json",
       type: "POST",
       success: function(res){
           $(".api-key-holder").text(res.key);
           $(".api-key-status").text("Key generated, enjoy!");
         }
      }) ;
     return false;
  })
</script>
{% endblock %}
