{% extends "profiles/base.html" %}

{% load thumbnail i18n auth_tags %}

{% block title %}{% trans "Edit Profile" %} | Amara{% endblock %}

{% block email_confirmation_block %}
    {% email_confirmation_notification 'true' %}
{% endblock %}

{% block view_content %}

    {% with 'profile' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <form class="edit_profile" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h3>{% trans "Name" %}</h3>
        <fieldset>
            <div class="grid_4 alpha">
                {% include "_form_field.html" with field=form.first_name %}
            </div>
            <div class="grid_4 omega">
                {% include "_form_field.html" with field=form.last_name %}
            </div>
        </fieldset>

        <h3>{% trans "About you" %}</h3>
        <div class="grid_4 alpha">
            <fieldset>
                {% include "_form_field.html" with field=form.biography %}
               
                {% include "_form_field.html" with field=form.homepage %}
            </fieldset>
        </div>
        <div class="grid_4 omega">
            <fieldset>
                <label>{% trans "Photo" %}</label>
                <div class="avatar-container">
                    {% if user_info.picture %}
                        <img class="avatar" src="{{ user_info.avatar }}"/>
                        <div><a class="remove-avatar" href="#">{% trans 'Remove current photo' %}</a></div>
                    {% else %}
                        <input type="file" id="id_picture" name="picture" size="6"/>      
                    {% endif %}
                    <div class="error_list" id="picture-errors">
                    {{ form.picture.errors }}
                    </div>
                </div>
            </fieldset>             
        </div>


        <div class="submit">
            <button class="button save" type="submit" value="Save">
                {% trans 'Save Changes' %}
            </button>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            $('#id_picture').change(function(){
                $('.edit_profile').ajaxSubmit({
                    url: '{% url profiles:edit_avatar %}',
                    dataType: 'json',
                    success: function(response){
                        if (response.error){
                            $('#picture-errors').html('<ul class="errorlist"><li>'+response.error.picture+'</li></ul>');
                        }else{
                            $('#picture-errors').html('');  
                            $('.avatar').attr('src', response.url);
                        }
                    },
                    beforeSubmit: function(arr, $form, options) { 
                        $('#picture-errors').html('{% trans "Saving..." %}');            
                    }                    
                });
            });
            $('.remove-avatar').click(function(){
                if (confirm('{% trans "Do you really want delete your picture?" %}')){
                    $.post('{% url profiles:remove_avatar %}', {remove: true}, function(response){
                        if ( ! response.errors){
                            $('.avatar').attr('src', response.avatar);
                            $('.remove-avatar').remove();
                        }
                    }, 'json');
                }
                return false;
            });
        });
    </script>
{% endblock %}