{% load i18n %}
{% load url from future %}
{% if msg_count %}
<ul id="announce-banner">
  <li>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="note">
              {% blocktrans %}
                  You have {{ msg_count }} new messages.
              {% endblocktrans %}
              <a href="{% url "messages:inbox" %}">{% trans 'View all' %}</a>
              <a href="#" class="hide-messages">{% trans "Hide" %}</a>
              <script type="text/javascript">
                  $('.note .hide-messages').click(function(){
                      var $this = $(this);
                      $this.parents('#announce-banner').hide();
                      var d = new Date()
                      d.setTime(d.getTime() + 60*60*24*365*1000)
                      document.cookie = '{{ cookie_name }}={{ last_unread|urlencode }}; path=/; expires='+d.toUTCString();
                      return false;
                  });
              </script>
          </div>
        </div> <!--/col-xs-12-->
      </div> <!--/row-->
    </div> <!--/container-->
  </li>
</ul>
{% endif %}
