{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block title %}
    {% trans 'My Messages' %} | Universal Subtitles
{% endblock %}

{% block html_attrs %}id="messages_list"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url messages:rpc_api %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.metadata.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.REPLY_MSG_DATA = {% if reply_msg %}{{ reply_msg.json_data|safe }}{% else %}null{% endif %};
        window.STATIC_URL = '{{ STATIC_URL }}';
        // TODO
        // Every single translation that goes to a JS variable needs to be |escapejs'd.
        window.DELETE_MESSAGE_CONFIRM = '{% trans 'Do you really wish to delete this message?' %}';
        window.MESSAGE_SUCCESSFULLY_SENT = '{% trans "The message has been successfully sent." %}';
    </script>
{% endblock %}

{% block main_content %}

    <h2>
        <img src="{{ user.small_avatar }}">
        {{ user }}
    </h2>

    {% with 'messages' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <div class="tools">
            <a class="button" href="{% url messages:new %}">{% trans "Compose" %}</a>
        </div>
    {% if message_list %}
        {% if is_paginated %}{% paginator %}{% endif %}

        <ul class="listing messages">
            <p class="view-notice">
                You <strong>are {% if not user_info.notify_by_email %}not {% endif %}receiving</strong> message notifications via email. <a href="{% url profiles:edit %}">Edit preferences</a>.
            </p>
            {% for msg in message_list %}
                <li class="message {% if not msg.read %}unread{% endif %}">
                    <h3>
                        {{ msg }}
                    </h3>

                    {% if msg.author %}
                        <p>
                            From <a href="{{ msg.author.get_absolute_url }}">{{ msg.author }}</a>
                        </p>
                    {% endif %}
                    <p>{{ msg.get_content|safe }}</p>
                    <a class="thumb" href="{{ msg.author.get_absolute_url }}" title="View {{ msg.author }}'s profile">
                        {% with msg.author.small_avatar as author_avatar_url %}
                            {% if author_avatar_url %}
                                <img src="{{ author_avatar_url }}" alt="{{ msg.author }}"/>
                            {% else %}
                                <img src="{{ STATIC_URL }}/images/default_thumb_small.png" alt="{{ msg.author }}"/>
                            {% endif %}
                        {% endwith %}
                    </a>
                    <span class="timestamp">{% if not msg.read %}<span class="unread">Unread</span>{% endif %}{{ msg.created|timesince }} {% trans 'ago' %}</span>
                    <ul class="admin-controls">
                        {% if not msg.read %}
                        <li>
                            <a href="#" data="{{ msg.json_data }}" class="mark-read">{% trans "Mark Read" %}</a>
                        </li>
                        {% endif %}
                        {% if msg.author != None and msg.author != request.user %}
                            <li>
                                <a class="reply open-modal" href="#msg_modal" data-modal="msg_modal" data="{{ msg.json_data }}">{% trans "Reply" %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#" class="delete" message_id="{{ msg.pk }}">{% trans "Delete" %}</a>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

        {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">
              {% trans 'You have no messages.' %}
            </p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        <ul>
            <li class="current"><a href="{% url messages:index %}">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages:sent %}">{% trans "Sent" %}</a></li>
        </ul>
    </div>

    <div class="bootstrap">
        <div id="msg_modal" class="modal">
            <form action="" method="post" accept-charset="utf-8" id="send-message-form">
                <div class="modal-header">
                    <a href="#" class="close action-close">x</a>
                    <h3>Reply</h3>
                </div>
                <div class="modal-body">
                    <div class="clearfix reply-container">
                        <div class="global-errors"></div>
                        <style>
                            #message_form_id_content {
                                max-width: 355px;
                            }
                        </style>
                        {{ send_message_form.as_p }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="pull-right btn-primary">{% trans "Send Message" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block oldmodal %}{% endblock %}
