{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block title %}
    {% trans 'Compose a Message' %} | Universal Subtitles
{% endblock %}

{% block main_content %}

    <h2>
        {% trans 'Messages' %}
    </h2>

    {% with 'messages' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha new-message">
        <form action="" method="post">
            <fieldset>
                <legend>Compose a Message</legend>
                <label for="">Recipient(s)</label>
                <div class="ajaxChosen">
                    <select name="id_user" name="user">
                        <option value="">-----</option>
                        <option value="">Begin typing to search.</option>
                    </select>
                </div>
                <label for="">Message</label>
                <textarea name="" id=""></textarea>
            </fieldset>
            <div class="submit">
                <button>Send</button>
            </div>
        </form>
    </div>

    <div class="controls grid_3 omega">
        <ul>
            <li class="current"><a href="{% url messages:index %}">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages:sent %}">{% trans "Sent" %}</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(".ajaxChosen select").ajaxChosen({
            method: 'GET',
            url: '/en/messages/users/search/',
            dataType: 'json'
        }, function (data) {
            var terms = {};

            $.each(data.results, function (i, val) {
                terms[data.results[i][0]] = data.results[i][1];
            });

            return terms;
        });
    </script>
{% endblock %}
