{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block title %}
    {% trans 'Compose a Message' %} | Universal Subtitles
{% endblock %}

{% block main_content %}

    {% include "utils/chosenify.html" %}

    <h2>
        {% trans 'Messages' %}
    </h2>

    {% with 'messages' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha new-message">
        <form action="" method="post">
            {% csrf_token %}

            <fieldset>
                <legend>Compose a Message</legend>

                {{ form.non_field_errors }}

                <label for="">Recipient</label>
                {{ form.errors.user }}
                <div class="ajaxChosen">
                    <select id="id_user" name="user">
                        <option value="">-----</option>
                        <option value="">Begin typing to search.</option>
                        {% if selected_user %}
                            <option selected="selected" value="{{ selected_user.id }}">{{ selected_user.username }} ({{ selected_user.get_full_name }})</option>
                        {% endif %}
                    </select>
                </div>

                {% if request.user.teams.all %}
                    <div class="or" style="margin: 10px 0 0 0; text-align: center; font-weight: bold;">-- or --</div>

                    <label for="id_team">Team</label>
                    {{ form.errors.team }}
                    {{ form.team }}
                {% endif %}

                <label for="id_content">Message</label>
                {{ form.errors.content }}
                {{ form.content }}
            </fieldset>

            <div class="submit">
                <button>Send</button>
            </div>
        </form>
    </div>

    <div class="controls grid_3 omega">
        <ul>
            <li class="current"><a href="{% url messages:index %}">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages:sent %}">{% trans "Sent" %}</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(".ajaxChosen select").ajaxChosen({
            method: 'GET',
            url: '/en/messages/users/search/',
            dataType: 'json'
        }, function (data) {
            var terms = {};

            $.each(data.results, function (i, val) {
                terms[data.results[i][0]] = data.results[i][1] + ' (' + data.results[i][2] + ')';
            });

            return terms;
        });
    </script>
{% endblock %}
