{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block body_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="grid_12">
<h2>{% trans 'Are you sure that you want to permanently delete your profile?' %}</h2>
<h4>{% trans "This can't be undone!" %}</h4>
<h3>{% trans 'Please enter your login password to confirm' %}</h4>
  <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="green_button huge" name="delete" value="delete">{% trans 'Delete' %}</button>
    <a class="red_button huge" href="{% url "profiles:profile" user.username %}">{% trans 'Cancel' %}</a>
  </form>
  <h3>If you do not know your password, you can <a href="{% url "password_reset" %}"> reset it</a>.</h3>
<div/>
{% endblock %}
