{% extends "base.html" %}

{% load i18n teams_tags %}
{% load url from future %}

{% block html_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="grid_8 push_2">
    <div class="sso">
        <h2>{% trans "Sign in" %}</h2>
        <ul class="providers">
            <li><a class="provider" id="google" href="{% url "socialauth_google_login" %}?next={{ next }}">google</a></li>
            <li><a class="provider" id="facebook" href="{% url "thirdpartyaccounts:facebook_login" %}?next={{ next }}">facebook</a></li>
            <li><a class="provider" id="twitter" href="{% url "thirdpartyaccounts:twitter_login" %}?next={{ next }}"> twitter</a></li>
            <li><a class="provider" id="open-id" href="{% url "socialauth_openid_login" %}?next={{ next }}">openid</a></li>
        </ul>
        <ul class="providers additional">
            <li><a class="provider" id="ted" href="{{ ted_auth.url }}">ted</a></li>
            <li><a class="provider" id="udacity" href="{% url "socialauth_udacity_login" %}?next={{ next }}">udacity</a></li>
        </ul>
        {% comment %}<p class="toggle-additional"><a href="">{% trans "Show more providers" %}</a></p>{% endcomment %}
    </div>
    <form class="auth-form" action="{% url "auth:login_post" %}" method="post">
        <h3>{% trans "Or use your Amara account" %}</h3>
        <p class="help"><a href="#" class="form-swap">{% trans "Don't have one?" %}</a></p>
        {% csrf_token %}
        {{ login_form.as_p }}
        <p class="help"><a href="{% url "password_reset" %}">{% trans 'Forgot your password?' %}</a></p>
        <button type="submit" class="green_button big" value="login">{% trans 'Sign In' %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <form class="auth-form" action="{% url "auth:create_user" %}" method="post" style="display:none;">
        <h3>{% trans "Create an Amara account" %}</h3>
        <p class="help"><a href="#" class="form-swap">{% trans "Already have one?" %}</a></p>
        {% csrf_token %}
        {{ creation_form.as_p }}
        <button type="submit" value="create account"  class="green_button big"><span>{% trans 'Create Account' %}</span></button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
