{% extends "hands_base.html" %}

{% load i18n teams_tags %}
{% load url from future %}

{% block html_attrs %}id="login"{% endblock %}

{% block main_content %}

<div id="login-bg" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="sso">
            <h2>{% trans "Sign Up" %}</h2>
            <h5>{% trans "You are about to create a new account using this login provider, and using this e-mail address. Correct it if necessary." %}</h5>
	    <form method='post' action="." class="email-form">
              {% csrf_token %}
	      <ul>
	      <li>{{ email_form.email }}</li>
              <li><button type="submit">Proceed</button></li>
	      </ul>
	      <!--
	      {% if confirm_type == 'google' %}
              <a class="provider" id="google" href="{% url "externalsites:google-login" %}?next={{ next }}">google</a>
	      {% elif confirm_type == 'facebook' %}
              <button class="provider" id="facebook" type="submit">facebook</button>
	      {% elif confirm_type == 'twitter' %}
                <a class="provider" id="twitter" href="{% url "thirdpartyaccounts:twitter_login" %}?next={{ next }}"> twitter</a>
	      {% elif confirm_type == 'openid' %}
                <a class="provider" id="open-id" href="{% url "socialauth_openid_login" %}?next={{ next }}">openid</a>
	      {% elif confirm_type == 'ted' %}
                <a class="provider" id="ted" href="{{ ted_auth.url }}">ted</a>
	      {% elif confirm_type == 'udacity' %}
              <a class="provider" id="udacity" href="{% url "socialauth_udacity_login" %}?next={{ next }}">udacity</a>
	      {% endif %}
	      -->
	    </form>
            <h5>{% trans "If this is not what you meant to do, you can go back to the" %}</h5>
            <h5><a href="{% url "auth:login" %}">Sign Up page</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
