{% extends "hands_base.html" %}

{% load i18n teams_tags %}
{% load url from future %}

{% block html_attrs %}id="login"{% endblock %}

{% block main_content %}

<div id="login-bg" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="sso">
            <h2>{% trans "Sign Up" %}</h2>
            <h5>{% trans "You are about to create a new account using this login" %}</h5>
            <h5>{% trans "Click to Proceed" %}</h5>
            <ul class="providers">
	      {% if confirm_type == 'google' %}
              <li><a class="provider" id="google" href="{% url "externalsites:google-login" %}?next={{ next }}">google</a></li>
	      {% elif confirm_type == 'facebook' %}
                <li><a class="provider" id="facebook" href="{% url "thirdpartyaccounts:facebook_login_confirmed" %}?next={{ next }}">facebook</a></li>
	      {% elif confirm_type == 'twitter' %}
                <li><a class="provider" id="twitter" href="{% url "thirdpartyaccounts:twitter_login" %}?next={{ next }}"> twitter</a></li>
	      {% elif confirm_type == 'openid' %}
                <li><a class="provider" id="open-id" href="{% url "socialauth_openid_login" %}?next={{ next }}">openid</a></li>
	      {% elif confirm_type == 'ted' %}
                <li><a class="provider" id="ted" href="{{ ted_auth.url }}">ted</a></li>
	      {% elif confirm_type == 'udacity' %}
              <li><a class="provider" id="udacity" href="{% url "socialauth_udacity_login" %}?next={{ next }}">udacity</a></li>
	      {% endif %}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
