{% extends "videos/email_base.html" %}
{% comment %}
This gets sent to the rest of the team, notifying about the new member
{% endcomment %}
{% load i18n localeurl_tags %}

{% block content %}

Hi {{ user }},

{{ parting_member}} has left the {{ team.name }} team. Any team tasks that were assigned to {{ parting_member }} have been unassigned.

<a href="{% url messages:new %}">Send {{parting_member }} a message</a> or
 <a href="{% url teams:detail_members slug=team.slug%}">view the team’s members</a>.
{% endblock %}
{% block dont_send %}{% endblock %}
