{% extends "base.html" %}
{% load media_compressor subtitles_tags %}
{% block title %}
    DMR Migration Cleanup
{% endblock %}
{% block css %}
{% include_bundle "base" %}
<style type="text/css">
    table {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    table {
        margin-bottom: 5em;
    }
    table.diff td {
        width: 50%;
    }
    table.diff td.header {
        text-align: center;
        font-size: 110%;
    }
    table.diff td.add {
        color: green;
    }
    table.diff td.delete {
        color: red;
    }
    h3 {
        text-align: center;
    }
    h4 {
        color: #555;
    }
    .missed-by-tern, .added-after-tern, .conflict-resolution {
        margin-bottom: 4em;
    }
    form .versions-select ul li label {
        float: none;
        margin: 0;
        width: auto;
    }
    form .versions-select ul li input {
        float: none;
        width: auto;
    }
    form .versions-select {
        margin-bottom: 2em;
    }

</style>
</head>
{% endblock %}

{% block main_content %}
{% if missed_by_tern %}
    <div class="missed-by-tern">
        <h3>Pre-DMR versions that were missed by Tern</h3>
        {% for version in missed_by_tern %}
        <table class="diff">
            <td class="header" colspan=2>
                Version {{ version.version_no }}
                created {{ version.datetime_started }} 
                by {{ version.user }}
                {% if version.is_public %}
                <i>(public)</i>
                {% else %}
                <i>(private)</i>
                {% endif %}
            </td>
        {% if version.prev_title != version.title %}
            <tr>
                <td><b>Title:</b> {{ version.prev_title }}</td>
                <td><b>Title:</b> {{ version.title }}</td>
            </tr>
        {% endif %}
        {% if version.prev_description != version.description %}
            <tr>
                <td><b>Description:</b> {{ version.prev_description }}</td>
                <td><b>Description:</b> {{ version.description }}</td>
            </tr>
        {% endif %}
        {% for diff in version.get_diff.subtitle_data %}
            <tr>
            {% if diff.text_changed or diff.time_changed %}
            {% if diff.subtitles.0.start_time == None %}
                <td></td>
                <td class="add">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.1 %}
                </td>
            {% endif %}
            {% if diff.subtitles.1.start_time == None %}
                <td class="delete">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.0 %}
                </td>
                <td></td>
            {% endif %}
            {% if diff.subtitles.0.start_time != None and diff.subtitles.1.start_time != None %}
                <td class="change">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.0 %}
                </td>
                <td class="change">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.1 %}
                </td>
            {% endif %}
            {% endif %}
            </tr>

        {% endfor %}
        {% endfor %}
    </table>
    </div>
{% endif %}

{% if added_after_tern %}
    <div class="added-after-tern">
        <h3>Post-DMR versions that were missed by Tern</h3>
        {% for version in added_after_tern %}
        <table class="diff">
            <td class="header" colspan=2>
                Version {{ version.version_no }}
                created {{ version.datetime_started }} 
                by {{ version.user }}
                {% if version.is_public %}
                <i>(public)</i>
                {% else %}
                <i>(private)</i>
                {% endif %}
            </td>
        {% if version.prev_title != version.title %}
            <tr>
                <td><b>Title:</b> {{ version.prev_title }}</td>
                <td><b>Title:</b> {{ version.title }}</td>
            </tr>
        {% endif %}
        {% if version.prev_description != version.description %}
            <tr>
                <td><b>Description:</b> {{ version.prev_description }}</td>
                <td><b>Description:</b> {{ version.description }}</td>
            </tr>
        {% endif %}
        {% for diff in version.get_diff.subtitle_data %}
            <tr>
            {% if diff.text_changed or diff.time_changed %}
            {% if diff.subtitles.0.start_time == None %}
                <td></td>
                <td class="add">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.1 %}
                </td>
            {% endif %}
            {% if diff.subtitles.1.start_time == None %}
                <td class="delete">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.0 %}
                </td>
                <td></td>
            {% endif %}
            {% if diff.subtitles.0.start_time != None and diff.subtitles.1.start_time != None %}
                <td class="change">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.0 %}
                </td>
                <td class="change">
                    {% include "subtitles/dmr-cleanup-diff-sub.html" with subtitle=diff.subtitles.1 %}
                </td>
            {% endif %}
            {% endif %}
            </tr>

        {% endfor %}
        {% endfor %}
    </table>
    </div>
{% endif %}
<form action="" method="POST">
     {% csrf_token %}
    {% if form.has_different_language_data %}
    <h3>Some of the language data has changed</h3>
    <table>
        <tr>
            <td>Pre-DMR value</td>
            <td>Post-DMR value</td>
            <td>Resolution</td>
        </tr>
        {% if form.subtitles_complete %}
        <tr>
            <td>{% if old_sl.is_complete %}Complete{% else %}Incomplete{% endif %}</td>
            <td>{% if new_sl.subtitles_complete %}Complete{% else %}Incomplete{% endif %}</td>
            <td>{{ form.subtitles_complete }}</td>
        </tr>
        {% endif %}
        {% if form.is_forked %}
        <tr>
            <td>{% if old_sl.is_forked %}Forked{% else %}Unforked{% endif %}</td>
            <td>{% if new_sl.is_forked %}Forked{% else %}Unforked{% endif %}</td>
            <td>{{ form.is_forked }}</td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    {% if missed_by_tern and added_after_tern %}
    <div class="conflict-resolution">
        <h3>Looks like we have a conflict, you should probably merge changes from both pre-DMR and post-DMR in the new editor</h3>
        <a href="{% url subtitles:subtitle-editor new_sl.video.video_id new_sl.language_code %}">Open current version in new editor</a>
    </div>
    {% endif %}
    <div class="versions-select group">
        <h3>What should we do with the Pre-DMR versions?</h3>
        {{ form.new_versions }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}

