{% load i18n media_compressor %}
<!DOCTYPE html>
<html ng-app="amara.SubtitleEditor"
    subtitle-editor
    ng-controller="AppController"
    lang="{{ language.language_code }}"
    ng-mousemove="handleAppMouseMove($event)">
<head>

    <meta charset="utf-8" />
    <title>
        {% blocktrans with language.get_language_code_display as language %}
            Editing {{ language }} subtitles for &ldquo;{{ video }}&rdquo; - Amara
        {% endblocktrans %}
    </title>


    <link rel="stylesheet" href="{{ STATIC_URL }}src/css/third-party/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}src/css/subtitle-editor/subtitle-editor-dev.css" type="text/css" media="screen" charset="utf-8">

    <script type="text/javascript">
        var editorData = {{ editor_data|safe }}
        window.Amara = window.Amara || {};
        window.Amara.conf = window.Amara.conf || {};
        window.Amara.conf.STATIC_ROOT_URL = '{{ STATIC_URL }}';
    </script>

    <!--[if IE]>
        <style type="text/css">
            .group {
                display: block;
                zoom: 1;
            }
        </style>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-class="{ 'timeline-shown': timelineShown }">
    {% if DEBUG %}
    <div class="modal"
        ng-controller="DebugModalController"
        ng-show="isVisible">
        <div class="content inner">
            <p>
            <label>
                <input type="checkbox" ng-model="overrides.forceSaveError"> Force Error on Save
            </label>
            </p>
            <div class=".buttons">
                <button class="no" ng-click="close($event)">Close</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="modal"
        ng-controller="ModalController"
        ng-show="isVisible">
        <div class="loading inner" ng-show='!content' >
            <h1 class="loading"  >Loading subtitle editor&hellip;</h1>
        </div>
        <div class="content inner ng-cloak"
            ng-show="content"
            ng-cloak>
            <h1 ng-show="content.heading">[[ content.heading ]]</h1>
            <p ng-show="content.text">[[ content.text ]]</p>
            <div ng-show="content.dfxpString" class="download">
                <textarea class="download" ng-show="content.dfxpString">[[ content.dfxpString ]]</textarea>
                <p>Copy the subtitles above and save them to your computer as subtitle_backup.dfxp. You can upload them later.</p>
            </div>
            <div ng-show="showDownloadLink" class="download">
                <a class="button yes" href="#" ng-click="onDownloadClick($event)">Download Subtitles</a>
                <p>
                To avoid data corruption, please do not open or edit the subtitles in any text editor.
                </p>
            </div>
            <div class="content.buttons"
                ng-show="content.buttons.length">
                <button ng-repeat="button in content.buttons"
                    ng-click="button.fn()"
                    ng-class="button.class">[[ button.text ]]</button>
            </div>
        </div>
    </div>
    <header class="main group">
        <section class="site left column">
	    <div class="video-title-icon">
	      <a class="call-modal" title="Clicking this link shows the modal" href="#set-title-modal">
		<img src="{{ STATIC_URL }}images/subtitle-editor/glyphicons_030_pencil.png"></img>
	      </a>
	    </div>
            <h1>Amara</h1>
	    <div class="video-title">
	      <a title="[[ displayedTitle() ]]" href="#set-title-modal">[[ displayedTitle() ]]</a>
	    </div>
        </section>
        <section class="video center column ng-cloak">
        </section>
        <section class="status right column group">
            <div ng-cloak class="ng-cloak" ng-controller="SaveSessionController">
                <div class="exit dropdown">
                    {% if DEBUG %}
                        <a href="#" ng-click="showDebugModal($event)">
                            Debug
                        </a>
                    {% endif %}
                    <a class="discard" href="#" ng-click="discard()">
                        Exit
                    </a>
                    <a class="save" href="#" ng-class="{ disabled: saveDisabled() }" ng-click="save()">
                        Save
                    </a>
                </div>
                <div class="status dropdown">
                    <a href="#">
                        <ng-switch on="status">
                            <span ng-switch-when="saving">Saving&hellip;</span>
                            <span ng-switch-when="saved">Saved.</span>
                            <span ng-switch-when="error">Error.</span>
                            <span ng-switch-when="idle">Idle.</span>
                            <span ng-switch-when="loading">Loading&hellip;</span>
                            <span ng-switch-when="ready">Ready.</span>
                            <span ng-switch-when="approving">Approving&hellip;</span>
                            <span ng-switch-when="sending-back">Sending back&hellip;</span>
                        </ng-switch>
                    </a>
                </div>
            </div>
        </section>
    </header>
    <section class="main ng-cloak" ng-cloak>
        <section class="left column">
            <div class="help-panel" ng-controller="HelpController">
                <!-- not ready for release just yet
                <a class="advanced" ng-click="showAdvancedModal()">Advanced &raquo;</a>
                -->

                <h1>Keyboard controls</h1>
                <ul ng-show="commands">
                    <li ng-repeat="command in commands" class="group">
                        <span class="key">
                            <span>
                                [[ command.key ]]
                            </span>
                        </span>
                        <span class="description" ng-bind-html="command.description"></span>
                    </li>
                </ul>
            </div>
            <div class="preview">
                Amara editor preview. <a href="http://pculture.freshdesk.com/categories/6573/forums/80247/topics/28857" target="blank">Learn more or leave feedback</a>.<br>
            </div>
            <div class="language-selections group toolbar"
                language-selector
                 ng-controller="LanguageSelectorController">
                <div class="select">
                    <select name="language"
                        ng-model='language'
                        ng-options="item.name for item in languages">
                    </select>
                </div>
                <div class="select">
                    <select name="version" class="version-select">
                        <option
                                ng-repeat='thisVersion in versions'
                                ng-selected='version == thisVersion'
                                ng-disabled='thisVersion.visibility != "Public"'
                                value="[[thisVersion.version_no]]">
                            [[thisVersion|versionDropDownDisplay]]</option>
                    </select>
                </div>
            </div>
            <div class="subtitles-wrapper">
                <div class="reference subtitles" subtitle-scroller="reference-subtitle-set">
                    <ul class="subtitle-list"
                        subtitle-repeat="referenceSubtitles.subtitleList"
                        dir="[[ referenceSubtitles.language.dir ]]"
                        read-only="yes"></ul>

                </div>
                <a ng-click="toggleScrollingSynced()"
                   ng-class="{ locked: scrollingSynced, unlocked: !scrollingSynced }"
                   class="scroll-lock">
                </a>
            </div>
        </section>
        <section class="center column">
          <div class="video" ng-controller="VideoController">
            <div class="video-container" id="video"></div>
            <div class="subtitle-overlay" dir="{{ language.dir }}" ng-show="showOverlay"><div ng-bind-html="overlayText"></div></div>
            <ul class="video-controls group">
              <li class="play-pause" ng-class="{'playing': videoState.playing}">
                <a href="#" ng-click="playPauseClicked($event)"></a>
              </li>
              <li class="time">
                <span ng-show="videoState.loaded">
                  [[ videoState.currentTime|displayTimeSeconds]] / [[ videoState.duration|displayTimeSeconds]]
                </span>
              </li>
              <li class="volume" ng-show="videoState.loaded">
                <a href="#" ng-click="volumeToggleClicked($event)"></a>
              </li>
              <li class="progress" progress-bar
                  ng-mousedown="onProgressMouseDown($event)">
                <div class="slice-left"><div></div></div>
                <div class="slice-right"><div></div></div>
                <div class="slice-mid"><div></div></div>
              </li>
            </ul>
            <div volume-bar class="volume-bar"
                 ng-mousedown="onVolumeMouseDown($event)"
                 ng-show="volumeBarVisible">
              <div class="slice1"></div>
                <div class="slice2"></div>
                <div class="slice3"></div>
            </div>
	    <div class="instructions-overlay"></div>
          </div>
          <div class="workspace-tools group toolbar">
            <div class="subtitles-language">
              {% blocktrans with language.get_language_code_display as language %}
              Editing {{ language }}&hellip;
              {% endblocktrans %}
            </div>
	    <div class="toolbox">
	      <div class="toolbox-inside">
		<a href="#"><img src="{{ STATIC_URL }}images/subtitle-editor/glyphicons_halflings_135_wrench.png" alt="Tools"></img></a>
		<ul class="toolbox-menu">
		  <li ng-show="copyTimingEnabled()"><a href="#" class="copyover" ng-click="copyTimingOver()" title="Copy timing and paragraphs from reference language">Copy Timing</a></li>
                  <li><a href="#" ng-click="toggleTimelineShown()" class="show-timeline">
		      <span ng-show="timelineShown">Hide</span>
		      <span ng-show="!timelineShown">Show</span>
		      Timeline
                  </a></li>
		</ul>
	      </div>
	    </div>
          </div>
          <div class="subtitles-wrapper"
               ng-controller="WorkingSubtitlesController"
               working-subtitles>
            <div class="sync-help end">
              <span class="key">
                <span>
                  &uarr;
                </span>
              </span>
              <div class="text">End now</div>
            </div>
	    
            <div class="sync-help begin">
              <span class="key">
                <span>
                  &darr;
                </span>
              </span>
              <div class="text">Begin now</div>
            </div>
            <div class="info-tray">
              <table>
                <tr>
                  <th>Start</th>
                  <td><em>[[ currentEdit.draft.startTime|displayTime ]]</em></td>
                </tr>
                <tr>
                  <th>End</th>
                  <td><em>[[ currentEdit.draft.endTime|displayTime ]]</em></td>
                </tr>
                <tr>
                            <th>Characters</th>
                            <td>[[ currentEdit.draft.characterCount() ]]</td>
                </tr>
                <tr class="child"
                    ng-repeat="count in currentEdit.lineCounts()">
                  <th>Line [[ $index + 1 ]]</th>
		  <td>[[ count ]]</td>
		</tr>
		<tr class="char-rate" ng-show="currentEdit.draft.isSynced()">
		  <th>Chars/sec</th>
		  <td>[[ currentEdit.draft.characterRate() ]]</td>
		</tr>
	      </table>
	    </div>

                <div class="working subtitles" subtitle-scroller="working-subtitle-set" />
                    <ul class="subtitle-list"
                        subtitle-repeat="workingSubtitles.subtitleList"
                        dir="[[ workingSubtitles.language.dir ]]"
                        id="working-subtitle-set"></ul>

                    <div ng-switch="bottomState()">
                        <a class="end"
                            id="add-sub-at-end"
                            href="#"
                            ng-switch-when="add-button"
                            ng-click="newSubtitleClicked($event)">+ New subtitle</a>
                        <span ng-switch-when="edit-help" class="end">
                            Press ENTER to save subtitle and move to next.<br />
                        </span>
                        <a class="end"
                            id="add-sub-at-end"
                            href="#"
                            ng-switch-when="type-shortcuts-help" 
                            ng-click="newSubtitleClicked($event)">
                            Press ENTER to add a new subtitle
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="collab column" ng-controller="CollabController">
            <a class="toggle-pane"
               ng-click="toggleDocking('pane')"
               ng-show="modulesEnabled.pane && !modulesOpen.pane">
                Open Collab
            </a>
            <aside ng-show="modulesEnabled.pane && modulesOpen.pane">
            <!--
            2534: always keep the collab panel open when we use it.
            We should uncomment this when the collab code gets integrated
                <a class="toggle-pane"
                   ng-click="toggleDocking('pane')"
                   ng-show="modulesOpen.pane">
                    Close Collab
                </a>
                -->
                <div class="notes module"
                     ng-show="modulesEnabled.notes"
                     ng-class="{open: modulesOpen.notes}">
                    <a class="title" ng-click="toggleDocking('notes')">Notes</a>
                    <div class="content" ng-show="modulesOpen.notes">
                        <textarea ng-model="notes" ng-change="notesChanged()"></textarea>
                    </div>
                </div>
                <div class="approval module" ng-show="modulesEnabled.approval">
                    <div class="content">
                        <button class="send-back" ng-click="sendBack()">Send Back</button>
                        <button class="approve" ng-click="approve()">Accept</button>
                    </div>
                </div>
            </aside>
            <div class="errors">
                <div ng-show="error" class="error">[[ error ]]</div>
            </div>
        </section>
        <section class="right column">
            <div class="steps-container"
                ng-controller="WorkflowProgressionController">
                <ul class="steps">
                    <li ng-class="{done: workflow.stageDone('type')}">
                    1. Type what you hear
                        <div class="substeps"
                            ng-show="workflow.stage == 'type'">
                            <p ng-show="!workflow.canMoveToReview()">
                                {% trans "Is all the content subtitled?" %}
                            </p>
                            <button class="next-step"
                                ng-click="onNextClicked($event)">
                                {% trans "Yes, start syncing" %}
                            </button>
                    </div>
                    </li>
                    <li ng-class="{done: workflow.stageDone('sync')}">
                        2. Sync timing
                        <div class="substeps"
                            ng-show="workflow.stage == 'sync'">
                            <p ng-show="!workflow.canMoveToTitle()">
                                {% trans "Not all lines are synced yet." %}
                            </p>
                            <div ng-show="workflow.canMoveToTitle()">
                                <p>{% trans "All lines are synced." %}</p>
                                <button ng-show="translating()" class="next-step"
                                    ng-click="onNextClicked($event)">
                                    {% trans "Edit title and description" %}
                                </button>
                                <button ng-show="!translating()" class="next-step"
                                    ng-click="onNextClicked($event)">
                                    {% trans "Start reviewing" %}
                                </button>
                        </div>
                    </li>
                    <li ng-show="translating()" ng-class="{done: workflow.stageDone('title')}">
                        3. Translate title
                        <div class="substeps"
                            ng-show="workflow.stage == 'title'">
                            <p ng-show="!workflow.canMoveToReview()">
                                {% trans "Title and description were not edited yet." %}
                            </p>
                            <div ng-show="workflow.canMoveToReview()">
                                <p>{% trans "Title and description have been edited." %}</p>
                                <button class="next-step"
                                    ng-click="onNextClicked($event)">
                                    {% trans "Start reviewing" %}
                                </button>
                        </div>
                    </li>
                    <li>[[ 3 + translating() ]]. Review and complete
                    <div class="substeps"
                        ng-show="workflow.stage == 'review'">
                        <p>{% trans "Watch the video again and verify that the subtitles are complete and correct." %}</p>
                        <button class="endorse" ng-click="endorse()">
                            {% trans "Complete" %}
                        </button>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section ng-controller="TimelineController"
        class="timeline ng-cloak"
        ng-show="timelineShown"
        ng-cloak>
        <div class="current-time-marker"></div>
        <canvas class="timing" width="100" height="65" timeline-timing></canvas>
        <div timeline-subtitles class="subtitles-container" dir="{{ language.dir }}">
        </div>
    </section>
    <section id="set-title-modal" class="modal-style semantic-content" id="modal-text" tabindex="-1"
	     role="dialog" aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-inner"
           ng-controller="SubtitleMetadataController"
           dir="[[ workingSubtitles.language.dir ]]">
	<header id="modal-label"><h1>{% trans "Edit title and description" %}</h1></header>
	<div class="modal-content">
          <div class="metadata">
            <div class="content">
	      <form>
		<h2>{% trans "Title" %}</h2>
		<textarea rows="1" class="refarea" readonly ng-show="translating()">[[ referenceSubtitles.getTitle() ]]</textarea>
		<textarea rows="1" placeholder="{% trans 'Enter Title' %}" fixsize-bind="currentSubtitles.title"></textarea>
		<div ng-repeat="(key, value) in currentSubtitles.metadata" ng-show="key == 'speaker-name'">
                  <h2>[[ key | metadataTypeName ]]</h2>
		  <textarea rows="1" class="refarea" readonly ng-show="translating()">[[ referenceSubtitles.metadata[key] ]]</textarea>
		  <textarea rows="1" placeholder="Enter [[ key | metadataTypeName ]]" fixsize-bind="currentSubtitles.metadata[key]"></textarea>
		</div>
		<h2>{% trans "Description" %}</h2>
		<textarea rows="4" class="refarea" readonly ng-show="translating()">[[ referenceSubtitles.getDescription() ]]</textarea>
		<textarea rows="8" placeholder="{% trans 'Enter Description' %}" fixsize-bind="currentSubtitles.description"></textarea>
		<div ng-repeat="(key, value) in currentSubtitles.metadata" ng-show="key != 'speaker-name'">
                  <h2>[[ key | metadataTypeName ]]</h2>
		  <textarea rows="1" placeholder="Enter [[ key | metadataTypeName ]]" fixsize-bind="currentSubtitles.metadata[key]"></textarea>
		</div>
	      </form>
            </div>
          </div>
	</div>
	<footer>
	  <a role="button" title="Done" href="#!" class="open-modal yes" ng-click="update(currentSubtitles)">Done</a>
	  <a href="#!" class="close-action no" data-close="Close" data-dismiss="modal" title="Cancel" ng-click="reset()">
	    Cancel
	  </a>
	</footer>
      </div>
    </section>

    {% include_bundle "subtitle-editor" %}
    {# include bold style too #}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</body>
</html>
