<!DOCTYPE html>
<html ng-app="amara.SubtitleEditor" lang="{{ language.language_code }}">
<head>

    <meta charset="utf-8" />
    <title>Editing {{ language.get_language_code_display }} subtitles for &ldquo;{{ video }}&rdquo; - Amara</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ STATIC_URL }}src/css/third-party/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}src/css/subtitle-editor/subtitle-editor-dev.css" type="text/css" media="screen" charset="utf-8">

    <script type="text/javascript">
        var editorData = {{ editor_data|safe }}
    </script>

</head>
<body>
    <header class="main group">
        <section class="site left column">
            <h1>Amara</h1>
        </section>
        <section class="video center column"></section>
        <section class="status right column group">
            <a href="#" class="dropdown">
                All changes saved.
            </a>
            <div class="exit">
                <a href="#">Exit</a>
            </div>
        </section>
    </header>
    <section class="main group">
        <section class="left column">
            <div class="additional-info">
                <select name="info-type" id="info-type">
                    <option value="subtitles">Existing Subtitles</option>
                </select>
                <select name="alternate-language" id="alternate-language"
                    ng-controller="HelperSelectorController">
                    <option
                        language-value=""
                        ng-repeat="item in languageValue"
                        value="[[item.code ]]">[[ item.name ]]</option>
                </select>
                <select name="alternate-version" id="alternate-version">
                    <option value="{{ alternateVersion.number }}">{{ alternateVersion.number }}</option>
                </select>
            </div>
            {# This is the reference subtitle list #}
            <div class="subtitling-area">
                {{ translated_from_version.subtitle_language.language_code }} {{ translated_from_version.version_number }}
                {#  the value for subtitle-list attribute is what allows the subtitleListWidgetFinder #}
                {#  to identify which list should be updated when we change the reference version #}
                <ul subtitle-list="reference-subtitle-set" ng-controller="SubtitleListController"
                    editable="false"
                    version-number="{{ translated_from_version.version_number }}"
                    language-code="{{ translated_from_version.subtitle_language.language_code }}"
                    video-id="{{ video.video_id }}">
                        [[ subtitlesData.length ]] subs
                    <li ng-repeat="subtitle in subtitlesData"
                        ng-controller="SubtitleListItemController"
                        ng-class="{selected : subtitle.index == selectedIndex}"
                        class="subtitle-list-item"
                            subtitle-list-item>
                        <span ng-show="!isEditing" class="subtitle-text" ng-bind-html-unsafe="subtitle.text"></span>
                        <textarea ng-show="isEditing"></textarea>
                    </li>
                </ul>
            </div>
        </section>
        <section class="center column">
            {# This is the actual editable subtitle list#}
            <div class="subtitling-area">
                <ng-switch on="status">
                    <p ng-switch-when="loading">Loading subtitles</p>
                    <p ng-switch-when="saving">Saving subtitles</p>
                    <ul subtitle-list="editing-subtitle-set" ng-controller="SubtitleListController"
                        editable="true"
                        version-number="{{ version.version_number }}"
                        language-code="{{ language.language_code }}"
                        video-id="{{ video.video_id }}">
                        [[ subtitlesData.length ]] subs
                        <li ng-repeat="subtitle in subtitlesData"
                            ng-controller="SubtitleListItemController"
                            ng-class="{selected : subtitle.index == selectedIndex}"
                            class="subtitle-list-item"
                            subtitle-list-item>
                            <span ng-show="!isEditing" class="subtitle-text" ng-bind-html-unsafe="subtitle.text"></span>
                            <textarea ng-show="isEditing"></textarea>
                        </li>
                    </ul>
                </ng-switch>
                <button save-session-button
                        ng-controller="SaveSessionButtonController"
                        disabled="[[canSave]]"
                        ng-click="saveSession()">
                    Save
                </button>
            </div>
        </section>
        <section class="right column">
            Right
        </section>
    </section>

    {% if DEBUG %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}

    <script src="{{ STATIC_URL }}src/js/third-party/amara-jquery-1.8.2.min.js"></script>
    <script src="{{ STATIC_URL }}src/js/third-party/angular.1.0.3.js"></script>
    <script src="{{ STATIC_URL }}src/js/third-party/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/editor-app.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/directives/subtitles.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/directives/helper-selector.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/services/services.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/services/subtitles.js"></script>
    <script src="{{ STATIC_URL }}src/js/dfxp/dfxp.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/controllers/subtitle-list.js"></script>
    <script src="{{ STATIC_URL }}src/js/subtitle-editor/controllers/subtitle-list.js"></script>

</body>
</html>
